<template>
  <div class="charging-stack">
    <div class="show-normal" v-if="showType">
      <div class="box-top">
        <span class="charging-num">{{ $t('public.one_gun') }}</span>
      <div>
        <el-button type="text">
          <img src="@/assets/news.png" class="stop-btn" />
        </el-button>
        <el-button type="text">
          <img src="@/assets/news.png" class="echarts" />
        </el-button>
      </div>
      </div>
      <p class="normal-content">
        <span>{{ $t('public.output_voltage') }}:7.32v</span>
        <span>{{ $t('public.output_current') }}:7.23A</span>
      </p>
      <p class="normal-content">
        <span>{{ $t('public.charging_level') }}:4.45度</span>
        <span>{{ $t('public.charging_power') }}:7.23kW</span>
      </p>
      <p class="normal-content">
        <span>{{ $t('public.baterry_temp') }}:7.32°C</span>
        <span>{{ $t('public.gun_temp') }}:7.23°C</span>
      </p>
      <p class="normal-content">
        <span>{{ $t('public.startMode') }}:7.32v</span>
        <span>{{ $t('public.chargeTime') }}:7.23A</span>
      </p>
      <p class="normal-content">
        <span>{{ $t('public.remaining_time') }}:7.32v</span>
        <span>SOC:35%</span>
      </p>
    </div>
    <!-- 离线展示内容 -->
    <div v-if="!showType" class="show-off-line">
      <div class="box-top">
      <span class="charging-num">{{ $t('public.one_gun') }}</span>
      <div>
        <el-button type="text">
          <img src="@/assets/news.png" class="stop-btn" />
        </el-button>
        <el-button type="text">
          <img src="@/assets/news.png" class="echarts" />
        </el-button>
        
      </div>
    </div>
    <p class="normal-content">
        <span>{{ $t('public.offline_time') }}: 2023-10-12 10:10:10</span>
      </p>
      <!-- 告警信息展示内容 -->
      <span v-if="!showType">{{ $t('public.alarm_news') }}: 电子锁故障</span>
  </div>
    </div>
    
    
</template>

<script>
export default {
  name: "chargingStacks",
  data() {
    return {
      showType: true,
    };
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.charging-stack {
  background-color: #fff;
  border: 1px solid #F9761B;
  margin-bottom: 15px;
  padding: 15px;
  .box-top {
    display: flex;
    justify-content: space-between;
    .charging-num {
      font-size: 16px;
      color: #F9761B;
      padding: 15px;
      
    }
    .stop-btn {
      width: 20px;
    }
    .echarts {
      width: 20px;
    }
  }
  .normal-content {
    display: flex;
    justify-content: space-between;
    span {
    flex: 1;
    text-align: left;
  }
  }
  .show-off-line {
    height: 200px;
  }
}
</style>
