<template>
  <div class="double-charging">
    <charging-stack class="charging-stack"/>
    <charging-stack class="charging-stack"/>
  </div>
    
    
</template>

<script>
import ChargingStack from "./ChargingStack.vue";
export default {
  name: "DoubleCharging",
  data() {
    return {
      showType: true,
    };
  },
  components: {
    ChargingStack,
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.double-charging {
  display: flex;
  justify-content: space-between;
  .charging-stack {
    width: 49.5%;
  }
}
</style>
