<template>
  <div class="monitor">
    <div class="nav">
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item :label-width="labelWidth" prop="prop">
          <el-select
            v-model="defaultCountry"
            value-key="id"
            filterable
            :placeholder="$t('public.country_check')"
            @click.native="selectCountry"
            @change="chooseCountry"
          >
            <el-option
              v-for="option in countryOptions"
              :key="option.id"
              :label="option.org_name"
              :value="option"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label-width="labelWidth" prop="prop">
          <el-select
            v-model="defaultProvince"
            value-key="id"
            filterable
            :placeholder="$t('public.provice_check')"
            @click.native="selectProvince"
            @change="chooseProvince"
          >
            <el-option
              v-for="option in provinceOptions"
              :key="option.id"
              :label="option.org_name"
              :value="option"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :label-width="labelWidth" prop="prop">
          <template>
            <el-select
              v-model="defaultId"
              filterable
              :placeholder="$t('public.site_check')"
              @click.native="selectStationName"
              @change="chooseStationId"
            >
              <el-option
                v-for="option in idOptions"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
      </el-form>
    </div>
    <div class="count">
      <el-row :gutter="25" class="panel-group">
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{$t('public.all_piles')}}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.all_guns') }}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.free') }}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.charging') }}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.fault') }}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.offline') }}</div>
          </div>
        </el-col>
        <el-col :xs="6" :sm="4" :lg="3" class="card-panel-col">
          <div class="card-panel-description">
            <count-to
              :start-val="0"
              :end-val="1488"
              :duration="2600"
              class="card-panel-num"
            />
            <div class="card-panel-text">{{ $t('public.occupied') }}</div>
          </div>
        </el-col>
      </el-row>
    </div>
    <p class="name-title">{{ $t('public.charge_station_name') }}-{{ $t('public.charge_stack') }}</p>
    <el-row :gutter="10">
      <el-col
        v-for="item in chargingStacks"
        :key="item"
        :xs="24"
        :sm="12"
        :lg="6"
      >
        <div class="charging-stack">
          <charging-stack />
        </div>
      </el-col>
      <el-col :xs="24" :sm="12" :lg="12">
        <p class="name-title">{{ $t('public.charge_station_name') }}-{{ $t('public.mul_gun') }}</p>
        <div class="double-charging">
          <double-charging />
        </div>
      </el-col>
      <el-col :xs="24" :sm="12" :lg="6">
        <p class="name-title">{{ $t('public.charge_station_name') }}-{{ $t('public.single_gun') }}</p>
        <div class="single-Charging">
          <charging-stack />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import CountTo from "vue-count-to";
import ChargingStack from "./ChargingStack.vue";
import DoubleCharging from "./DoubleCharging.vue";

export default {
  name: "monitor",
  components: {
    CountTo,
    ChargingStack,
    DoubleCharging,
  },
  data() {
    return {
      labelWidth: "100px",
      form: {
        user_name: "",
        phone: "",
      },
      countryOptions: [],
      defaultCountry: "",
      provinceOptions: [],
      defaultProvince: "",
      idOptions: [],
      defaultId: "",
      chargingStacks: [1, 2, 3, 4],
    };
  },
  methods: {
    chooseCountry() {},
    selectCountry() {},
    chooseProvince() {},
    selectProvince() {},
    chooseStationId() {},
    selectStationName() {},
  },
};
</script>

<style lang="scss" scoped>
.monitor {
  padding: 20px;
  background-color: rgb(240, 242, 245);
  .name-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ccc;
    padding-left: 15px;
  }
  .count {
    background-color: #fff;
    .panel-group {
      padding-left: 50px;

      .card-panel-description {
        text-align: center;
        font-weight: bold;
        margin: 26px;
        margin-left: 0px;

        .card-panel-text {
          line-height: 18px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 16px;
          margin-top: 12px;
        }

        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }
}
</style>
