<template>
  <div class="order-detail">
    <div class="title">{{ $t("order.order_num") }}: <span>11234567</span></div>
    <div class="content">
      <el-tabs
        v-model="activeName"
        type="card"
        @tab-click="handleClick"
        class="custom-tabs"
      >
        <el-tab-pane :label="$t('order.order_detail')" name="first">
          <div class="order-detail-card">
            <div class="order-detail-title">订单信息</div>
            <el-form
              ref="detailForm"
              :model="detailForm"
              style="text-align: right"
              label-position="left"
              :label-width="labelWidth"
            >
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="订单状态"> 已完结 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="订单时间">
                    2022/3/26 10:24:34
                  </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="停止充电时间">
                    2022/3/26 10:24:34
                  </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="启动方式"> app扫码启动 </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="结束SOC"> 80% </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="开始SOC">
                    2022/3/26 10:24:34
                  </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="VIN码"> 97858987755 </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="订单来源"> IOS </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="启动充电时间">
                    2022/3/26 10:24:34
                  </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="停止充电时间">
                    2022/3/26 10:24:34
                  </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="充电电量"> 23.45度 </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="充电时长"> 23.24分 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="车牌号"> bd323222 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="电卡编号"> 96655666666 </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
          <div class="order-detail-card">
            <div class="order-detail-title">用户信息</div>
            <el-form
              ref="userForm"
              :model="detailForm"
              style="text-align: right"
              label-position="left"
              :label-width="labelWidth"
            >
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="用户手机"> 已完结 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="用户邮箱"> 123333@qq.com </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="性别"> 男 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="昵称"> juuk </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="用户ID"> 1155566 </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
          <div class="order-detail-card">
            <div class="order-detail-title">设备信息</div>
            <el-form
              ref="deviceForm"
              :model="detailForm"
              style="text-align: right"
              label-position="left"
              :label-width="labelWidth"
            >
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="站点"> 12555 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="充电桩名"> 充电桩名 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="交直流"> 交直流 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="运营商"> 运营商 </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="100">
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="资产归属方"> 资产归属方 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="代理商"> 代理商 </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="6">
                  <el-form-item label="地址"> 地址 </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </div>
        </el-tab-pane>
        <el-tab-pane :label="$t('order.order_charging_data')" name="second">
          充电过程数据
        </el-tab-pane>
        <el-tab-pane :label="$t('order.order_log')" name="third">
          <div class="log-table">
            <el-table
              border
              :data="orderLog"
              style="width: 100%"
              ref="multipleTable"
              height="600"
            >
              <el-table-column
                prop="sort"
                :label="$t('public.order_number')"
                width="80"
                align="center"
                fixed
              ></el-table-column>
              <el-table-column
                prop="user_name"
                label="事件名称"
                min-width="100"
                fixed
              ></el-table-column>
              <el-table-column
                prop="contact_phone"
                label="时间"
                min-width="100"
              ></el-table-column>
              <el-table-column
                prop="contact_phone"
                label="操作人"
                min-width="100"
              ></el-table-column>
            </el-table>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import { flexColumnWidth } from "@/utils/common.js";
export default {
  name: "orderDetail",
  data() {
    return {
      activeName: "first",
      detailForm: {},
      userForm: {},
      deviceForm: {},
      orderLog: [],
      labelWidth: "110px",
    };
  },
  methods: {
    /**
     * el-table-column 自适应列宽
     * @param prop_label: 表名
     * @param table_data: 表格数据
     */
    flexColumnWidth(label, prop) {
      return flexColumnWidth(label, prop, this.orderLog);
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
};
</script>
<style>
/* 调整element ui中的tab样式 */
.el-tabs__nav-wrap {
  /* background-color: #fff; */
  height: 56px;
  border-radius: 56px;
}
.el-tabs--card > .el-tabs__header {
  border-bottom: 1px solid transparent;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: 1px solid transparent;
  margin-right: 20px;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 7px 8px;
  border-radius: 60px;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #f9761b;
  border-radius: 40px;
  background-color: #f9761b;
  color: white;
}
/* 单独调整element ui中form的样式 */
.order-detail .el-form-item--medium .el-form-item__content {
  padding-top: 9px;
  line-height: 18px;
}
</style>

<style lang="scss" scoped>
.order-detail {
  padding: 20px;
  background-color: rgb(240, 242, 245);
  .title {
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .content {
    .order-detail-card {
      background-color: #fff;
      padding: 26px 40px;
      border-radius: 5px;
      margin-bottom: 15px;

      .order-detail-title {
        margin-bottom: 22px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}
</style>
