<template>
  <div class="charging-order">
    <el-form
      :inline="true"
      ref="form"
      :model="form"
      class="form-main"
      :label-width="labelWidth"
    >
      <el-form-item
        :label="$t('chargingOrder.orderId')"
        class="form-item"
        prop="orderId"
      >
        <el-input v-model="form.orderId" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.orderTime')"
        class="form-item"
        prop="orderTime"
      >
        <el-date-picker
          v-model="orderTime"
          is-range
          type="daterange"
          range-separator="-"
          :start-placeholder="$t('public.startTime')"
          :end-placeholder="$t('public.stopTime')"
          :style="inputWidth"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.chargingTime')"
        class="form-item"
        prop="chargingTime"
      >
        <el-date-picker
          v-model="chargingTime"
          is-range
          type="daterange"
          range-separator="-"
          :start-placeholder="$t('public.startTime')"
          :end-placeholder="$t('public.stopTime')"
          :style="inputWidth"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item :label="$t('chargingOrder.source')" prop="source">
        <el-select
          v-model="form.source"
          filterable
          :placeholder="$t('public.choose')"
          :style="inputWidth"
        >
          <el-option
            v-for="option in sourceList"
            :key="option"
            :label="option"
            :value="option"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('chargingOrder.startMode')" prop="mode">
        <el-select
          v-model="form.startMethod"
          filterable
          :placeholder="$t('public.choose')"
          :style="inputWidth"
        >
          <el-option
            v-for="option in startModeList"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('station.brandOwner')" prop="brandOwner">
        <el-select
          v-model="form.brand_owner"
          filterable
          :placeholder="$t('public.choose')"
          :style="inputWidth"
        >
          <el-option
            v-for="option in brandOwnerOptions"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('station.operator')"
        prop="operator"
      >
        <template>
          <el-select
            v-model="form.operator"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in operatorOptions"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item v-if="isFold" :label="$t('station.agent')" prop="agent">
        <template>
          <el-select
            v-model="form.agent"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in agentOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('chargingOrder.station')"
        prop="station_management_id"
      >
        <template>
          <el-select
            v-model="form.station_management_id"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in stationOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('chargingOrder.pileCode')"
        class="form-item"
        prop="pileCode"
      >
        <el-input v-model="form.pileCode" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item v-if="isFold" :label="$t('chargingOrder.mode')" prop="mode">
        <template>
          <el-select
            v-model="form.mode"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in modeOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('chargingOrder.vestingParty')"
        prop="vesting_party"
      >
        <template>
          <el-select
            v-model="form.vesting_party"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in vestingPartyOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        :label="$t('public.email')"
        class="form-item"
        prop="email"
        v-if="isFold"
      >
        <el-input v-model="form.email" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('chargingOrder.isNormal')"
        prop="isNormal"
      >
        <template>
          <el-select
            v-model="form.isNormal"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in isNormalList"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('station.serviceProvider')"
        prop="service_provider"
      >
        <template>
          <el-select
            v-model="form.service_provider"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in serviceOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.carNumber')"
        class="form-item"
        prop="car_number"
        v-if="isFold"
      >
        <el-input v-model="form.car_number" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.vin')"
        class="form-item"
        prop="vin"
        v-if="isFold"
      >
        <el-input v-model="form.vin" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.cardCode')"
        class="form-item"
        prop="card_code"
        v-if="isFold"
      >
        <el-input v-model="form.card_code" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('chargingOrder.username')"
        class="form-item"
        prop="userName"
        v-if="isFold"
      >
        <el-input v-model="form.userName" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('chargingOrder.status')"
        prop="status"
      >
        <template>
          <el-select
            v-model="form.status"
            filterable
            :placeholder="$t('public.choose')"
            :style="inputWidth"
          >
            <el-option
              v-for="option in statusList"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
    </el-form>
    <p style="text-align: center">
      <el-button
        type="primary"
        icon="el-icon-search"
        size="small"
        @click.native="handleQuery"
        >{{ $t("public.query") }}</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-refresh"
        size="small"
        @click="resetQuery"
        >{{ $t("public.reset") }}</el-button
      >
      <el-button type="text" @click="fold"
        >{{ foldName }}<i :class="foldIcon"></i
      ></el-button>
    </p>
    <!-- 订单列表 -->
    <div class="table">
      <el-table
        border
        :data="orderList"
        ref="multipleTable"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          type="index"
          :label="$t('route.sort')"
          width="60"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column
          prop="id"
          :label="$t('chargingOrder.orderId')"
          fixed
          :min-width="flexColumnWidth('$t(chargingOrder.orderId)', 'id')"
          ><template slot-scope="scope">
            <span
              style="color: orange; cursor: pointer"
              @click="showDetail(scope.row)"
              >{{ scope.row.id }}</span
            >
          </template></el-table-column
        >
        <el-table-column
          prop="create_time"
          :label="$t('chargingOrder.orderTime')"
          :min-width="
            flexColumnWidth('$t(chargingOrder.orderTime)', 'create_time')
          "
        ></el-table-column>
        <el-table-column
          prop="start_time"
          :label="$t('chargingOrder.startTime')"
          :min-width="
            flexColumnWidth('$t(chargingOrder.startTime)', 'start_time')
          "
        ></el-table-column>
        <el-table-column
          prop="end_time"
          :label="$t('chargingOrder.endTime')"
          :min-width="flexColumnWidth('$t(chargingOrder.endTime)', 'end_time')"
        ></el-table-column>
        <el-table-column
          prop="source"
          :label="$t('chargingOrder.source')"
          :min-width="flexColumnWidth('$t(chargingOrder.source)', 'source')"
        ></el-table-column>
        <el-table-column
          prop="start_method"
          :label="$t('chargingOrder.startMode')"
          :min-width="
            flexColumnWidth('$t(chargingOrder.startMode)', 'start_method')
          "
          ><template slot-scope="scope">{{
            getStartMode(scope.row.start_method)
          }}</template>
        </el-table-column>
        <el-table-column
          prop="charge_time"
          :label="$t('chargingOrder.chargeTime')"
          :min-width="
            flexColumnWidth('$t(chargingOrder.chargeTime)', 'charge_time')
          "
        ></el-table-column>
        <el-table-column
          prop="capacity"
          label="充电电量(度)"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="email"
          label="用户邮箱"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="user_id"
          label="用户ID"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="car_number"
          label="车牌号"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="vin"
          label="VIN码"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="stationName"
          label="站点"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="pile_code"
          label="设备编号"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="mode"
          label="交直流"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="brand_owner"
          label="品牌商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="service_provider"
          label="服务商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="agent"
          label="代理商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="operator"
          label="运营商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="vesting_party"
          label="资产归属方"
          min-width="100"
        ></el-table-column>
        <!-- <el-table-column
        prop="version"
        label="国家"
        min-width="100"
      ></el-table-column>
      <el-table-column
        prop="version"
        label="省份"
        min-width="100"
      ></el-table-column> -->
        <el-table-column
          prop="version"
          label="是否正常停止"
          min-width="100"
          fixed="right"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="停止原因"
          min-width="100"
          fixed="right"
        ></el-table-column>
      </el-table>
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getPileManagement,
  addPileManagement,
  editPileManagement,
  getStationNameList,
  getDataTypeList,
  getCustomerAllList,
  getChargeOrderList,
} from "@/utils/api.js";
import { handleDate, parseTimeStamp, flexColumnWidth } from "@/utils/common.js";
export default {
  name: "chargingOrder",
  data() {
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      labelWidth: "150px",
      inputWidth: "width: 240px;",
      dialog_name: "",
      isShowDetail: true,
      isFold: false,
      foldName: this.$t("public.expand"),
      foldIcon: "el-icon-arrow-down",
      form: {
        orderId: "",
        startCreateTime: "",
        endCreateTime: "",
        startTime: "",
        endTime: "",
        source: "",
        startMethod: "",
        agent: "",
        brand_owner: "",
        operator: "",
        station_management_id: "",
        service_provider: "",
        pileCode: "",
        mode: "",
        vesting_party: "",
        email: "",
        isNormal: "",
        car_number: "",
        vin: "",
        card_code: "",
        userName: "",
        status: "",
        p: 0,
        size: 10,
      },
      orderTime: "", //订单时间区间
      chargingTime: "", //充电时间区间
      detailForm: {},
      addForm: {},
      sourceList: ["web", "Android", "iOS", "app"],
      //品牌商数组
      brandOwnerOptions: [],
      intStandardOptions: [
        { id: "1", name: "2015国标" },
        { id: "2", name: "美标" },
        { id: "3", name: "欧标" },
      ],
      assetBelongOptions: [],
      numOptions: [
        { id: 1, name: "1枪" },
        { id: 2, name: "2枪" },
        { id: 3, name: "3枪" },
        { id: 4, name: "4枪" },
        { id: 5, name: "5枪" },
        { id: 6, name: "6枪" },
      ],
      //运营商查询数组
      operatorOptions: [],
      emodelOptions: [
        { id: "1", name: "交流" },
        { id: "2", name: "直流" },
        { id: "3", name: "交直一体" },
      ],
      devStyleOptions: [
        { id: "1", name: "AC" },
        { id: "2", name: "DC" },
      ],
      defaultEmodel: "",
      agreementOptions: [
        { id: "1", name: "OCPP1.6" },
        { id: "2", name: "OCPP2.0" },
      ],
      belongOptions: [],
      idOptions: [],
      modelOptions: [],
      chooseType: "",
      allChargeTypes: [],
      statusOptions: [],
      //代理商集合
      agentOptions: [],
      //站点信息集合
      stationOptions: [],
      //交直流集合
      modeOptions: [],
      //资产归属方集合
      vestingPartyOptions: [],
      //服务商集合
      serviceOptions: [],
      //承接查询到的订单列表
      orderList: [],
      currentPage: 1,
      pageSize: 10,
      pagelist: [],
      totalNum: 0,
      otaList: [{ sort: 1 }, { sort: 2 }],
      //启动方式列表
      startModeList: [
        { id: 1, name: this.$t('chargingOrder.scan_start') },
        { id: 2, name: this.$t('chargingOrder.insert_start') },
        { id: 3, name: this.$t('chargingOrder.time_start') },
        { id: 4, name: this.$t('chargingOrder.car_start') },
        { id: 5, name: this.$t('chargingOrder.vin_start') },
        { id: 6, name: this.$t('chargingOrder.web_start') },
        { id: 7, name: this.$t('chargingOrder.blu_start') },
      ],
      isNormalList: [
        { id: 1, name: this.$t('public.yes') },
        { id: 2, name: this.$t('public.no') },
      ],
      statusList: [
        { id: 0, name: this.$t('chargingOrder.starting') },
        { id: 1, name: this.$t('chargingOrder.charging') },
        { id: 2, name: this.$t('chargingOrder.stopping') },
        { id: 3, name: this.$t('chargingOrder.settlement') },
        { id: 4, name: this.$t('chargingOrder.done') },
      ],
    };
  },
  mounted() {
    // 获取站点名称列表
    // getStationNameList(this.loginUserId).then((res) => {
    //     if (res.code === 0) {
    //         this.belongOptions = res.data;
    //     }
    // });
    this.handleQuery();
    // const obj = {
    //     code: "pileChargeType",
    //     language: "CN",
    // };
    // // 获取字典中充电口类型
    // getDataTypeList(obj).then((res) => {
    //     if (res.code === 0) {
    //         this.chargingTypeOptions = res.data;
    //     }
    // });
    // // 获取客户管理代理商、服务商、品牌商条件选择
    // this.selectBrandOptions();
    // this.selectServiceOptions();
    // this.selectAgentOptions();
    // this.selectAssetOptions();
  },
  methods: {
    // 查询客户管理所有——新增站点对应的条件选择（代理商/服务商/资产归属商/运营商/品牌商）
    selectBrandOptions() {
      const customer_type = "品牌商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.brandOptions = res.data;
        }
      });
    },
    selectServiceOptions() {
      const customer_type = "服务商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.serviceOptions = res.data;
        }
      });
    },
    selectAgentOptions() {
      const customer_type = "代理商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.agentOptions = res.data;
        }
      });
    },
    selectAssetOptions() {
      const customer_type = "资产归属商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.assetBelongOptions = res.data;
        }
      });
    },
    getPileList(data) {
      getPileManagement(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          this.orderList = res.data.list;
          this.orderList.forEach((item, index) => {
            item.sort = index + 1;
          });
        }
      });
    },
    showDetail(row) {
      this.$router.push("/orderDetail");
    },
    //查询订单方法
    handleQuery() {
      getChargeOrderList(this.form).then((res) => {
        this.orderList = res.data.list;
        this.orderList.forEach(function (item) {
          item.create_time = parseTimeStamp(item.create_time);
        });
      });
    },
    // 折叠
    fold() {
      this.isFold = !this.isFold;
      if (this.isFold) {
        this.foldName = this.$t("public.retract");
        this.foldIcon = "el-icon-arrow-up";
      } else {
        this.foldName = this.$t("public.expand");
        this.foldIcon = "el-icon-arrow-down";
      }
    },

    close() {
      this.isShowDetail = false;
    },
    // 清空新增列表
    clearFormFields(form) {
      for (let key in form) {
        form[key] = "";
      }
    },
    resetQuery() {
      this.clearFormFields(this.form);
    },
    handleSizeChange(size) {
      this.pageSize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    pageselect() {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // 调用接口 处理逻辑
        // if (flag !== 1) {
        //   this.currentPage = 1;
        // }
        let obj = {
          id: this.loginUserId,
          p: this.currentPage - 1,
          size: this.pageSize,
        };
        getPileManagement(obj).then((res) => {
          if (res.code === 0) {
            this.totalNum = res.data.total;
            // 添加序号sort
            this.orderList = res.data.list;
            this.orderList.forEach((item, index) => {
              item.sort = index + 1;
            });
          }
        });
      }, 600);
    },
    //通过启动方式id获取启动方式name
    getStartMode(id) {
      let startMethod = null;
      this.startModeList.forEach(function (item) {
        if (item.id === id) {
          startMethod = item;
        }
      });

      if (startMethod === null || typeof startMethod === "undefined") {
        return "";
      } else {
        return startMethod.name;
      }
    },
    /**
     * el-table-column 自适应列宽
     * @param prop_label: 表名
     * @param table_data: 表格数据
     */
    flexColumnWidth(label, prop) {
      return flexColumnWidth(label, prop, this.orderList);
    },
  },
  watch: {
    orderList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.charging-order {
  padding: 20px;
  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }
  .table-pagination {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px; /* 添加一些内边距以分隔页码和内容 */
    background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
    text-align: right; /* 将页码对齐到右侧 */
  }
  // 表格样式修改行高
  ::v-deep .el-table .cell {
    white-space: nowrap; // 度娘的答案全都不好用关键在 /deep/
  }

  .el-table ::v-deep th {
    //padding: 0;
    white-space: nowrap;
    //min-width: fit-content;
  }

  .el-table ::v-deep td {
    //padding: 1px;
    white-space: nowrap;
    width: fit-content;
  }

  .el-table ::v-deep .cell {
    white-space: nowrap;
    width: fit-content;
  }
}
</style>
