<template>
  <div class="usage_main u-right-content">
    <div class="table-list">
      <div class="table-btn">
        <el-button type="warning" icon="el-icon-plus" @click="insert"
          >{{ $t('public.add') }}</el-button
        >
      </div>
      <div class="table">
        <el-table
          border
          :data="menulist"
          row-key="id"
          :tree-props="{ children: 'sysOrg', hasChildren: 'hasChildren' }"
          style="height: 100%"
        >
          <el-table-column
            prop="org_name"
            :label="$t('public.name')"
            min-width="200"
          ></el-table-column>
          <el-table-column :label="$t('system.org_code')" min-width="200" prop="org_code">
          </el-table-column>
          <el-table-column :label="$t('public.operation')" prop="operate" min-width="250">
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="editorOrg(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.edit') }}</el-button
              >
              <el-button
                type="text"
                @click="deldata(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.delete') }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <el-dialog
      :title="dialog_name"
      :visible.sync="dialogFormVisible"
      @close="editDialogClosed"
      :width="dialogWidth"
    >
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        class="left-aligned-form"
        :label-width="formLabelWidth"
      >
        <el-form-item
          :label="$t('public.name')"
          prop="org_name"
          class="custom-form-item"
        >
          <el-input v-model="ruleForm.org_name"></el-input>
        </el-form-item>
        <el-form-item
          :label="$t('public.code')"
          prop="org_code"
          class="custom-form-item"
        >
          <el-input
            v-model="ruleForm.org_code"
            @keyup.native="checkCapslock"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button
          type="primary"
          @click="add('ruleForm')"
          v-if="this.dialog_name == $t('system.org_add')"
          >{{ $t('public.sure') }}</el-button
        >
        <el-button
          type="primary"
          @click="update('ruleForm')"
          v-if="this.dialog_name == $t('system.org_update')"
          >{{ $t('public.sure') }}</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import qs from "qs";
import { grouplist, deleteOrg, orgAdd, orgUpdate } from "@/utils/api.js";
export default {
  data() {
    const validateOrgName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error(this.$t('system.org_name_check')));
      }
      const trimmedValue = value.trim();
      if (trimmedValue.length < 2) {
        callback(new Error(this.$t('system.org_name_length')));
      } else {
        callback();
      }
    };
    const validateOrgCode = (rule, value, callback) => {
      if (!value) {
        return callback(new Error(this.$t('system.org_code_check')));
      }
      const trimmedValue = value.trim();
      if (trimmedValue.length < 2) {
        callback(new Error(this.$t('system.org_code_length')));
      } else {
        callback();
      }
    };

    return {
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      value: [],
      transferData: [],
      defaultParams1: {
        key: "id",
        label: "userName",
      },
      defaultParams: {
        label: "org_name",
        value: "id",
        children: "orgsList",
      },
      ruleForm: {
        creater: "",
        org_name: "",
        org_code: "",
        parent_id: "",
        id: "",
      },
      select_form: {
        name: "",
      },
      rules: {
        org_name: [
          { required: true, trigger: "blur", validator: validateOrgName },
        ],
        org_code: [
          { required: true, trigger: "blur", validator: validateOrgCode },
        ],
      },
      num: 1,
      dialog_name: "",
      dialogFormVisible: false,
      dialogFormVisible1: false,
      formLabelWidth: "100px",
      menulist: [],
    };
  },
  components: {
    Breadcrumb,
  },
  mounted() {
    this.showGroupList();
  },
  methods: {
    showGroupList() {
      grouplist(this.loginUserId).then((res) => {
        if (res.code === 0) {
          this.menulist = res.data;
        }
      });
    },
    update(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          const obj = {
            org_name: this.ruleForm.org_name,
            org_code: this.ruleForm.org_code,
            id: this.ruleForm.id,
          };
          this.dialogFormVisible = false;
          orgUpdate(obj)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.update_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.update_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.update_fail"),
                type: "error",
              });
            });
        } else {
          return false;
        }
      });
    },
    add(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          const obj = {
            id: this.loginUserId,
            org_name: this.ruleForm.org_name,
            org_code: this.ruleForm.org_code,
            parent_id: this.ruleForm.id,
          };
          orgAdd(obj)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.add_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.add_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.add_fail"),
                type: "error",
              });
            });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },

    getTreeData(data) {
      for (var i = 0; i < data.length; i++) {
        if (data[i].orgsList.length < 1) {
          // children若为空数组，则将children设为undefined
          data[i].orgsList = undefined;
        } else {
          // children若不为空数组，则继续 递归调用 本方法
          this.getTreeData(data[i].orgsList);
        }
      }
      return data;
    },
    status(row, index) {
      if (index.status === 1) {
        this.status = true;
      } else {
        this.status = false;
      }
      let obj = {
        status: this.status,
        id: index.id,
      };
    },
    cancel() {
      this.dialogFormVisible = false;
      this.dialogFormVisible1 = false;
    },
    resetDialogForm() {
      this.ruleForm.org_name = "";
      this.ruleForm.org_code = "";
    },
    insert() {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('system.org_add');
      this.ruleForm.creater = window.sessionStorage.getItem("userName");
      this.ruleForm.id = null;
      this.resetDialogForm();
    },
    editorOrg(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('system.org_update');
      this.resetDialogForm();
      this.ruleForm = { ...index };
    },
    countryadd() {
      this.dialogFormVisible1 = false;
    },
    editDialogClosed() {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },
    checkCapslock(e) {
      const { key } = e;
      this.capsTooltip = key && key.length === 1 && key >= "A" && key <= "Z";
    },
    // 删除组织
    async deldata(index, row) {
      try {
        await this.showConfirmation();
        await this.deleteOrg(row.id);
        window.location.reload();
      } catch (error) {
        console.error(error);
        // 处理错误情况
      }
    },

    showConfirmation() {
      return new Promise((resolve, reject) => {
        this.$confirm(this.$t('system.org_del_sure'), this.$t('system.org_del'), {
          confirmButtonText: this.$t('public.delete'),
          cancelButtonText: this.$t('public.cancel'),
          type: "warning",
        })
          .then(() => {
            resolve();
          })
          .catch(() => {
            this.$message.error(this.$t('public.delete_fail'));
            reject(new Error(this.$t('public.delete_fail')));
          });
      });
    },

    async deleteOrg(id) {
      const res = await deleteOrg(id);
      if (res.code !== 0) {
        this.$message.error(this.$t("public.delete_fail"));
      } else {
        this.$message({
          message: this.$t('public.delete_success'),
          type: "success",
        });
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.u-right-content {
  padding: 15px;
  height: 100%;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    ::deep.el-input__inner {
      height: 34px;
    }
    ::deep.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      ::deep.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
  .left-aligned-form .el-form-item__label {
    text-align: left !important;
  }
}
/* .organization_body_right {
  height: 100%;
  width: 100%;
}
.organization_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
.el_transfer {
  // margin-left: 165px;
  max-height: 500px;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
</style>
