<template>
  <div class="management">
    <el-form :inline="true" ref="form" :model="form" :label-width="labelWidth">
      <el-form-item
        :label="$t('public.operator')"
        class="form-item"
        prop="operator"
      >
        <el-input v-model="form.operator" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
      :label="$t('public.stationName')"
        prop="station_management_id"
      >
        <el-select
          v-model="form.station_management_id"
          filterable
          :placeholder="$t('public.choose')"
        >
          <el-option
            v-for="option in belongOptions"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('public.interactive_mode')"  prop="mode">
        <el-select v-model="form.mode" filterable :placeholder="$t('public.choose')">
          <el-option
            v-for="option in emodelOptions"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('public.chargeType')" prop="charge_type">
        <el-select v-model="form.charge_type" filterable :placeholder="$t('public.choose')">
          <el-option
            v-for="option in chargingTypeOptions"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.status')"
        prop="status"
      >
        <template>
          <el-select v-model="form.status" filterable :placeholder="$t('public.choose')">
            <el-option
              v-for="option in statusOptions2"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.brandOwner')"
        prop="brand_owner"
      >
        <template>
          <el-select v-model="form.brand_owner" filterable :placeholder="$t('public.choose')">
            <el-option
              v-for="option in brandOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.serviceProvider')"
        prop="service_provider"
      >
        <template>
          <el-select
            v-model="form.service_provider"
            filterable
            :placeholder="$t('public.choose')"
          >
            <el-option
              v-for="option in serviceOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.agent')"
        prop="agent"
      >
        <template>
          <el-select v-model="form.agent" filterable :placeholder="$t('public.choose')">
            <el-option
              v-for="option in agentOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
      :label="$t('public.firmware_version')"
        class="form-item"
        prop="version"
        v-if="isFold"
      >
        <el-input v-model="form.version" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
      :label="$t('public.device_code')"
        class="form-item"
        prop="pile_code"
        v-if="isFold"
      >
        <el-input v-model="form.pile_code" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
      :label="$t('public.device_type')"
        class="form-item"
        prop="model"
        v-if="isFold"
      >
        <el-input v-model="form.model" :style="inputWidth"></el-input>
      </el-form-item>
    </el-form>
    <p style="text-align: center">
      <el-button
        type="primary"
        icon="el-icon-search"
        size="small"
        @click.native="handleQuery"
        >{{ $t('public.search') }}</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-refresh"
        size="small"
        @click="resetQuery"
        >{{ $t('public.reset') }}</el-button
      >
      <el-button type="text" @click="fold"
        >{{ foldName }}<i :class="foldIcon"></i
      ></el-button>
    </p>
    <!-- 新增、导入、导出和表格 -->
    <div>
      <el-button
        type="warning"
        icon="el-icon-plus"
        @click="insert"
        style="margin-bottom: 15px"
        >{{ $t('public.add') }}</el-button
      >
      <el-button
        type="primary"
        icon="el-icon-plus"
        @click="batchInsert"
        style="margin-bottom: 15px"
        >{{ $t('public.batch_import') }}</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-plus"
        @click="batchUpdate"
        style="margin-bottom: 15px"
        >{{$t('public.batch_update')}}</el-button
      >
    </div>
    <div class="table">
      <el-table
        border
        :data="pileList"
        ref="multipleTable"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          prop="sort"
          :label="$t('public.sort')"
          width="60"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column prop="pile_code" :label="$t('public.device_code')" fixed min-width="180"
          ><template slot-scope="scope">
            <span
              style="color: orange; cursor: pointer"
              @click="showDetail(scope.row)"
              >{{ scope.row.pile_code }}</span
            >
          </template></el-table-column
        >
        <el-table-column prop="name" :label="$t('public.device_name')" fixed min-width="200"
          ><template slot-scope="scope">
            <span
              style="color: orange; cursor: pointer"
              @click="showDetail(scope.row)"
              >{{ scope.row.name }}</span
            >
          </template></el-table-column
        >
        <el-table-column
          prop="stationName"
          :label="$t('public.stationName')"
          min-width="200"
        ></el-table-column>
        <el-table-column
          prop="model"
          :label="$t('public.device_type')"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          :label="$t('public.firmware_version')"
          min-width="100"
        ></el-table-column>
        <!-- <el-table-column prop="gun_num" :label="枪数" min-width="100">
        </el-table-column> -->
        <el-table-column prop="mode" :label="$t('public.mode')" min-width="100">
        </el-table-column>
        <el-table-column prop="charge_type" :label="$t('public.chargeType')" min-width="100">
        </el-table-column>
        <!-- <el-table-column prop="type" :label="设备协议" min-width="100">
        </el-table-column> -->
        <el-table-column prop="operator" :label="$t('public.operator')" min-width="100">
        </el-table-column>
        <el-table-column prop="brand_owner" :label="$t('public.brandOwner')" min-width="100">
        </el-table-column>
        <el-table-column prop="operate" :label="$t('public.operation')" width="300" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="editor(scope.$index, scope.row)"
              size="mini"
              >{{ $t('public.edit') }}</el-button
            >
            <el-button
              type="primary"
              @click="downloadLog(scope.$index, scope.row)"
              size="mini"
              >{{ $t('public.log_download') }}</el-button
            >
            <el-dropdown
              size="mini"
              @command="(command) => handleCommand(command, scope.row)"
            >
              <el-button size="mini" type="text" icon="el-icon-d-arrow-right"
                >{{$t('public.more')}}</el-button
              >
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="clickOTA">OTA</el-dropdown-item>
                <el-dropdown-item command="chargingRecord"
                  >{{$t('public.charge_record')}}</el-dropdown-item
                >
                <el-dropdown-item command="dataConfig"
                  >{{$t('public.param_config')}}</el-dropdown-item
                >
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
    <!-- OTA -->
    <div class="OTA">
      <el-dialog
        title="OTA"
        style="text-align: center; font-size: 20px"
        :visible.sync="dialogFormVisible"
        @close="close"
      >
        <div class="ota-top">
          <div class="ota-top-title">{{ $t('public.ota_record') }}</div>
          <el-button
            type="primary"
            @click="updateNow"
            style="margin-bottom: 15px"
            >{{ $t('public.update_now') }}</el-button
          >
        </div>
        <el-table
          stripe
          :data="otaList"
          style="width: 100%"
          class="talble-user"
          height="600"
          :header-cell-style="{ 'background-color': '#F5F5F6' }"
        >
          <el-table-column
            prop="sort"
            :label="$t('public.sort')"
            width="80"
            align="center"
            fixed
          ></el-table-column>
          <el-table-column
            prop="station_code"
            :label="$t('public.pre_version')"
            fixed
          ></el-table-column>
          <el-table-column prop="name" :label="$t('public.update_version')"></el-table-column>
          <el-table-column prop="country" :label="$t('public.update_time')"></el-table-column>
          <el-table-column prop="province" :label="$t('public.update_status')"></el-table-column>
          <el-table-column prop="site_num" :label="$t('public.firmware_version')"></el-table-column>
          <el-table-column prop="gun_num" :label="$t('public.inputer')"> </el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!-- 新增或修改电桩 -->
    <el-dialog
      :title="dialog_name"
      style="font-size: 20px"
      width="600px"
      :visible.sync="addDialogVisible"
      @close="addDialogClosed"
    >
      <el-form ref="addForm" :model="addForm" :rules="rules" class="form-main">
        <el-row>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.device_name')"
              prop="name"
              :label-width="labelWidth"
            >
              <el-input v-model="addForm.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.site_belong')"
              prop="station_management_id"
              :label-width="labelWidth"
            >
              <el-select
                v-model="addForm.station_management_id"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleBelong"
              >
                <el-option
                  v-for="option in belongOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.device_protocol')"
              prop="protocol_management_id"
              :label-width="labelWidth"
            >
              <el-select
                v-model="addForm.protocol_management_id"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleManagementID"
              >
                <el-option
                  v-for="option in agreementOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.device_code')"
              prop="pile_code"
              :label-width="labelWidth"
            >
              <el-input v-model="addForm.pile_code"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.mode')"
              prop="mode"
              :label-width="labelWidth"
              @change="handleMode"
            >
              <el-select v-model="addForm.mode" filterable :placeholder="$t('public.choose')">
                <el-option
                  v-for="option in emodelOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.device_type')"
              prop="model"
              :label-width="labelWidth"
              @change="handleModel"
            >
              <el-select
                v-model="addForm.model"
                filterable
                :placeholder="$t('public.choose')"
              >
                <el-option
                  v-for="option in devStyleOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item :label="$t('public.status')" prop="status" :label-width="labelWidth">
              <el-select
                v-model="addForm.status"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleStatus"
              >
                <el-option
                  v-for="option in statusOptions2"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item :label="$t('public.gun_number')" prop="gun_num" :label-width="labelWidth">
              <el-select
                v-model="addForm.gun_num"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleNum"
              >
                <el-option
                  v-for="option in numOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.max_power')"
              prop="max_power"
              :label-width="labelWidth"
            >
              <el-input v-model="addForm.max_power"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.asset_belong')"
              prop="vesting_party"
              :label-width="labelWidth"
            >
              <el-select
                v-model="addForm.vesting_party"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleVesting"
              >
                <el-option
                  v-for="option in assetBelongOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.int_standard')"
              prop="standard_type"
              :label-width="labelWidth"
            >
              <el-select
                v-model="addForm.standard_type"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleStandard"
              >
                <el-option
                  v-for="option in intStandardOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.id"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.chargeType')"
              prop="charge_type"
              :label-width="labelWidth"
            >
              <el-select
                v-model="addForm.charge_type"
                filterable
                :placeholder="$t('public.choose')"
                @change="handleCharge"
              >
                <el-option
                  v-for="option in chargingTypeOptions"
                  :key="option.id"
                  :label="option.name"
                  :value="option.name"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item
            :label="$t('public.warranty_date')"
              prop="warranty_date"
              :label-width="labelWidth"
            >
              <template>
                <div class="block">
                  <el-date-picker
                    v-model="addForm.warranty_date"
                    type="daterange"
                    range-separator="~"
                    :start-placeholder="$t('public.start_date')"
                    :end-placeholder="$t('public.end_date')"
                    style="width: 250px"
                    @change="handelWarrantyDate"
                  >
                  </el-date-picker>
                </div>
              </template>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
            :label="$t('public.product_date')"
              prop="production_date"
              :label-width="labelWidth"
            >
              <el-date-picker
                v-model="addForm.production_date"
                type="date"
                :placeholder="$t('public.choose_date')"
                style="width: 250px"
                @change="handelProductionDate"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer">
        <el-button
          type="primary"
          @click="add('addForm')"
          v-if="this.dialog_name == this.$t('public.pile_add')"
          >{{ $t('public.sure') }}</el-button
        >
        <el-button
          type="primary"
          @click="update('addForm')"
          v-if="this.dialog_name == this.$t('public.pile_update')"
          >{{ $t('public.sure') }}</el-button
        >
      </div>
    </el-dialog>
    <el-dialog
    :title="$t('public.ota_update')"
      style="font-size: 20px"
      width="600px"
      :visible.sync="updateDialogVisible"
      @close="close"
    >
    </el-dialog>
    <el-dialog
    :title="$t('public.param_config')"
      style="font-size: 20px"
      width="700px"
      :visible.sync="configDialogVisible"
      @close="close"
    >
    </el-dialog>
    <el-dialog
    :title="$t('public.site_detail')"
      style="font-size: 20px"
      width="700px"
      :visible.sync="isShowDetail"
      @close="close"
    >
      <div>
        <el-form ref="detailForm" :model="detailForm" class="form-main">
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.stationName')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.site_build')" :label-width="labelWidth">
                {{ detailForm.station_management_id }}
              </el-form-item>
            </el-col>
          </el-row>
          <!-- <el-row>
            <el-col :span="12">
              <el-form-item label="国家" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="省份" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
          </el-row> -->
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.choose')" :label-width="labelWidth">
                <!-- {{ detailForm.name }} -->
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.siteStatus')" :label-width="labelWidth">
                {{ detailForm.status }}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.businessHours')" :label-width="labelWidth">
                <!-- {{ detailForm.name }} -->
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.operator')" :label-width="labelWidth">
                {{ detailForm.operator }}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.serviceProvider')" :label-width="labelWidth">
                {{ detailForm.service_provider }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.brandOwner')" :label-width="labelWidth">
                {{ detailForm.brand_owner }}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.agent')" :label-width="labelWidth">
                {{ detailForm.agent }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.contacts')" :label-width="labelWidth">
                <!-- {{ detailForm.name }} -->
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.characteristic')" :label-width="labelWidth">
                <!-- {{ detailForm.name }} -->
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.contactPhone')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.description')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.firstOperationTime')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
          </el-row>
          <!-- <el-row>
            <el-col :span="24">
              <el-form-item label="站点照" :label-width="labelWidth">
                <img
                  src="@/assets/logo.png"
                  style="width: 60px; padding-top: 15px"
                />
              </el-form-item>
            </el-col>
          </el-row> -->
          <el-row>
            <el-col :span="12">
              <el-form-item :label="$t('public.site_address')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item :label="$t('public.site_coordinate')" :label-width="labelWidth">
                {{ detailForm.name }}
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getPileManagement,
  addPileManagement,
  editPileManagement,
  getStationNameList,
  getDataTypeList,
  getCustomerAllList,
} from "@/utils/api.js";
import { handleDate } from "@/utils/common.js";
export default {
  name: "management",
  data() {
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      pileListdata: {
        agent: "",
        brand_owner: "",
        charge_type: "",
        mode: "",
        model: "",
        operator: "",
        p: 0,
        pile_code: "",
        service_provider: "",
        size: 10,
        standard_type: "",
        station_management_id: "",
        status: "",
        user_id: JSON.parse(sessionStorage.getItem("userInfo")).id,
        version: "",
      },
      managementId: "",
      productDate: "",
      warrantDate: "",
      labelWidth: "150px",
      inputWidth: "width: 202px;",
      dialog_name: "",
      addDialogVisible: false,
      configDialogVisible: false,
      updateDialogVisible: false,
      dialogFormVisible: false,
      isShowDetail: false,
      isFold: false,
      foldName: this.$t("public.expand"),
      foldIcon: "el-icon-arrow-down",
      form: {
        station_management_id: "",
      },
      detailForm: {},
      addForm: {},
      chargingTypeOptions: [],
      defaultChargingType: "",
      intStandardOptions: [
        { id: "1", name: this.$t('public.standard_five') },
        { id: "2", name: this.$t('public.us_standard') },
        { id: "3", name: this.$t('public.eu_standard') },
      ],
      defaultIntStandard: "",
      assetBelongOptions: [],
      defaultAssetBelong: "",
      numOptions: [
        { id: 1, name: this.$t('public.one_gun') },
        { id: 2, name: this.$t('public.two_gun') },
        { id: 3, name: this.$t('public.three_gun') },
        { id: 4, name: this.$t('public.four_gun') },
        { id: 5, name: this.$t('public.five_gun') },
        { id: 6, name: this.$t('public.six_gun') },
      ],
      defaultNum: "",
      statusOptions2: [
        { id: 1, name: this.$t('public.uninstall') },
        { id: 2, name: this.$t('public.installing') },
        { id: 3, name: this.$t('public.used') },
        { id: 4, name: this.$t('public.repair') },
        { id: 5, name: this.$t('public.scrap') },
      ],
      defaultStatus2: "",
      emodelOptions: [
        { id: "1", name: this.$t('public.dc') },
        { id: "2", name: this.$t('public.ac') },
        { id: "3", name: this.$t('public.dc_ac') },
      ],
      defaultDevStyle: "",
      devStyleOptions: [
        { id: "1", name: "AC" },
        { id: "2", name: "DC" },
      ],
      defaultEmodel: "",
      agreementOptions: [
        { id: "1", name: "OCPP1.6" },
        { id: "2", name: "OCPP2.0" },
      ],
      defaultAgreement: "",
      belongOptions: [],
      defaultBelong: "",
      defaultId: "",
      idOptions: [],
      defaultModel: "",
      modelOptions: [],
      chooseType: "",
      allChargeTypes: [],
      defaultStatus: "",
      statusOptions: [],
      brandOptions: [],
      defaultBrand: "",
      serviceOptions: [],
      defaultsService: "",
      agentOptions: [],
      defaultAgent: "",
      pileList: [],
      currentPage: 1,
      pageSize: 10,
      pagelist: [],
      totalNum: 0,
      otaList: [{ sort: 1 }, { sort: 2 }],
      rules: {
        protocol_management_id: [
          { required: true, message: this.$t('public.protocol_check'), trigger: "change" },
        ],
        pile_code: [
          { required: true, message: this.$t('public.dev_code_check'), trigger: "change" },
        ],
        mode: [
          { required: true, message: this.$t('public.ac_dc_check'), trigger: "change" },
        ],
        model: [
          { required: true, message: this.$t('public.dev_mode_check'), trigger: "change" },
        ],
        status: [{ required: true, message: this.$t('public.status_input_check'), trigger: "change" }],
        gun_num: [{ required: true, message: this.$t('public.gun_input_check'), trigger: "change" }],
      },
    };
  },
  mounted() {
    // 初始化电桩列表
    if(!this.managementId) {
      this.getPileList(this.pileListdata);
    }
    // 获取站点名称列表
    getStationNameList(this.loginUserId).then((res) => {
      if (res.code === 0) {
        this.belongOptions = res.data;
      }
    });
    const obj = {
      code: "pileChargeType",
      language: "CN",
    };
    // 获取字典中充电口类型
    getDataTypeList(obj).then((res) => {
      if (res.code === 0) {
        this.chargingTypeOptions = res.data;
      }
    });
    // 获取客户管理代理商、服务商、品牌商条件选择
    this.selectBrandOptions();
    this.selectServiceOptions();
    this.selectAgentOptions();
    this.selectAssetOptions();
  },
  methods: {
    // 查询客户管理所有——新增站点对应的条件选择（代理商/服务商/资产归属商/运营商/品牌商）
    selectBrandOptions() {
      const customer_type = "品牌商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.brandOptions = res.data;
        }
      });
    },
    selectServiceOptions() {
      const customer_type = "服务商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.serviceOptions = res.data;
        }
      });
    },
    selectAgentOptions() {
      const customer_type = "代理商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.agentOptions = res.data;
        }
      });
    },
    selectAssetOptions() {
      const customer_type = "资产归属商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.assetBelongOptions = res.data;
        }
      });
    },
    getPileList(data) {
      getPileManagement(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          this.pileList = res.data.list;
          this.pileList.forEach((item, index) => {
            item.sort = index + 1;
          });
        }
      });
    },
    showDetail(row) {
      // console.log("showDetail  row:", row)
      // this.detailForm = { ...row }
      // this.isShowDetail = true;
    },
    handleChooseChange() {},
    handleQuery() {
      const obj = {
        agent: this.form.agent,
        brand_owner: this.form.brand_owner,
        charge_type: this.form.charge_type,
        mode: this.form.mode,
        model: this.form.model,
        operator: this.form.operator,
        p: 0,
        pile_code: this.form.pile_code,
        service_provider: this.form.service_provider,
        size: 10,
        standard_type: this.form.standard_type,
        station_management_id: this.form.station_management_id,
        status: this.form.status,
        user_id: this.loginUserId,
        version: this.form.version,
      };
      this.getPileList(obj);
    },
    // 折叠
    fold() {
      this.isFold = !this.isFold;
      if (this.isFold) {
        this.foldName = this.$t("public.retract");
        this.foldIcon = "el-icon-arrow-up";
      } else {
        this.foldName = this.$t("public.expand");
        this.foldIcon = "el-icon-arrow-down";
      }
    },
    insert() {
      this.addDialogVisible = true;
      this.dialog_name = this.$t('public.pile_add');
    },

    handleBelong(val) {
      this.addForm.station_management_id = val;
    },
    handleManagementID(val) {
      this.addForm.protocol_management_id = val;
    },
    handleMode(val) {
      this.addForm.mode = val;
    },
    handleStatus(val) {
      this.addForm.status = val;
    },
    handleModel(val) {
      this.addForm.model = val;
    },
    handleNum(val) {
      this.addForm.gun_num = val;
    },
    handleVesting(val) {
      this.addForm.vesting_party = val;
    },
    handleStandard(val) {
      this.addForm.standard_type = val;
    },
    handleCharge(val) {
      this.addForm.charge_type = val;
    },
    handelWarrantyDate(val) {
      this.addForm.warranty_date = val;
      this.addForm.new_warranty_date = val
        .map((date) => handleDate(date))
        .join(" ~ ");
    },
    handelProductionDate(val) {
      this.addForm.production_date = handleDate(val);
    },
    batchInsert() {},
    batchUpdate() {},
    editor(index, row) {
      this.addDialogVisible = true;
      this.dialog_name = this.$t('public.pile_update');
      this.clearFormFields(this.addForm);
      // 注意回传的值需要按照格式，比如id是number,就不能传字符串，否则会在下拉框时回显失败。
      this.addForm = { ...row };
      const dateRangeStr = row.warranty_date;
      this.addForm.warranty_date = this.setDefaultDateRange(dateRangeStr);
    },
    // 处理质保日期格式
    setDefaultDateRange(dateRangeStr) {
      // Replace 'dateRangeStr' with your actual date range string, e.g., "2023-08-06 ~ 2023-08-08"
      const [startDateStr, endDateStr] = dateRangeStr.split(" ~ ");
      // Convert the date strings to Date objects
      const startDate = new Date(startDateStr);
      const endDate = new Date(endDateStr);
      return [startDate, endDate];
    },
    // 更多操作触发
    handleCommand(command, row) {
      switch (command) {
        case "clickOTA":
          this.clickOTA(row);
          break;
        case "chargingRecord":
          this.chargingRecord(row);
          break;
        case "dataConfig":
          this.dataConfig(row);
          break;
        default:
          break;
      }
    },
    // 下载日志
    downloadLog(index, row) {},
    // OTA
    clickOTA(row) {
      this.dialogFormVisible = true;
    },
    // 充电记录
    chargingRecord(row) {},
    // 参数配置
    dataConfig(row) {
      this.configDialogVisible = true;
    },
    // 取消弹窗
    cancel() {
      this.dialogFormVisible = false;
    },
    close() {
      this.dialogFormVisible = false;
      this.configDialogVisible = false;
    },
    updateNow() {
      this.updateDialogVisible = true;
    },
    // 新增电桩
    add(addForm) {
      this.$refs[addForm].validate((valid) => {
        if (valid) {
          const obj = {
            charge_type: this.addForm.charge_type,
            gun_num: this.addForm.gun_num,
            max_power: this.addForm.max_power,
            mode: this.addForm.mode,
            model: this.addForm.model,
            name: this.addForm.name,
            pile_code: this.addForm.pile_code,
            production_date: this.addForm.production_date,
            protocol_management_id: this.addForm.protocol_management_id,
            standard_type: this.addForm.standard_type,
            station_management_id: this.addForm.station_management_id,
            status: this.addForm.status,
            user_id: this.loginUserId,
            vesting_party: this.addForm.vesting_party,
            warranty_date: this.addForm.new_warranty_date,
          };
          addPileManagement(obj).then((res) => {
            this.addDialogVisible = false;
            if (res.code === 0) {
              this.$alert(this.$t("public.add_success"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
                callback: (action) => {
                  const data = {
                    p: this.currentPage - 1,
                    size: this.pageSize,
                    user_id: this.loginUserId,
                  };
                  this.getPileList(data);
                },
              });
            } else {
              this.$alert(this.$t("public.add_fail"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    // 修改电桩
    update(addForm) {
      this.$refs[addForm].validate((valid) => {
        if (valid) {
          const obj = {
            charge_type: this.addForm.charge_type,
            gun_num: this.addForm.gun_num,
            max_power: this.addForm.max_power,
            mode: this.addForm.mode,
            model: this.addForm.model,
            name: this.addForm.name,
            pile_code: this.addForm.pile_code,
            production_date: this.addForm.production_date,
            protocol_management_id: this.addForm.protocol_management_id,
            standard_type: this.addForm.standard_type,
            station_management_id: this.addForm.station_management_id,
            status: this.addForm.status,
            user_id: this.loginUserId,
            vesting_party: this.addForm.vesting_party,
            warranty_date: this.addForm.new_warranty_date,
            id: this.addForm.id,
          };
          editPileManagement(obj).then((res) => {
            this.addDialogVisible = false;
            if (res.code === 0) {
              this.$alert(this.$t("public.update_success"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
                callback: (action) => {
                  const data = {
                    p: this.currentPage - 1,
                    size: this.pageSize,
                    user_id: this.loginUserId,
                  };
                  this.getPileList(data);
                },
              });
            } else {
              this.$alert(this.$t("public.update_fail"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    addDialogClosed() {
      this.clearFormFields(this.addForm);
    },
    // 清空新增列表
    clearFormFields(form) {
      for (let key in form) {
        form[key] = "";
      }
    },
    resetQuery() {
      this.clearFormFields(this.form);
      const data = {
        p: 0,
        size: 10,
        user_id: this.loginUserId,
      };
      this.getPileList(data);
    },
    handleSizeChange(size) {
      this.pageSize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    pageselect() {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // 调用接口 处理逻辑
        // if (flag !== 1) {
        //   this.currentPage = 1;
        // }
        let obj = {
          id: this.loginUserId,
          p: this.currentPage - 1,
          size: this.pageSize,
        };
        getPileManagement(obj).then((res) => {
          if (res.code === 0) {
            this.totalNum = res.data.total;
            // 添加序号sort
            this.pileList = res.data.list;
            this.pileList.forEach((item, index) => {
              item.sort = index + 1;
            });
          }
        });
      }, 600);
    },
  },
  watch: {
    pileList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
    // 监视路由变化，清空站点id值
    $route: {
      handler: function (route) {
        this.managementId = sessionStorage.getItem("managementId");
        const path = route.path;
        if (path !== "/device/management") {
          sessionStorage.setItem("managementId", "");
          this.form.station_management_id = "";
        }
      },
      immediate: true,
    },
    //监视在站点传过来站点id值，查询相应的列表
    managementId: {
      handler(newValue, odlval) {
        if (newValue) {
          this.form.station_management_id = newValue;
          const obj = {
            agent: "",
            brand_owner: "",
            charge_type: "",
            mode: "",
            model: "",
            operator: "",
            p: 0,
            pile_code: "",
            service_provider: "",
            size: 10,
            standard_type: "",
            station_management_id: newValue,
            status: "",
            user_id: this.loginUserId,
            version: "",
          };
          this.getPileList(obj);
        } else {
          this.getPileList(this.pileListdata);
        }
      },
      immediate: true,
    },
  },
};
</script>
<style>
.OTA .el-dialog__header {
  background-color: #efefef;
}
</style>

<style lang="scss" scoped>
.management {
  padding: 20px;
  .ota-top {
    display: flex;
    justify-content: space-between;
    .ota-top-title {
      font-size: 16px;
    }
  }
  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }
  .table-pagination {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px; /* 添加一些内边距以分隔页码和内容 */
    background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
    text-align: right; /* 将页码对齐到右侧 */
  }
}
</style>
