<template>
  <div class="customer">
    <el-form :inline="true" ref="form" :model="form" class="form-main">
      <el-form-item
        v-if="false"
        :label="$t('public.country')"
        :label-width="labelWidth"
        prop="prop"
      >
        <template>
          <el-select
            v-model="defaultCountry"
            value-key="id"
            filterable
            :placeholder="$t('public.choose')"
            @click.native="selectCountry"
            @change="chooseCountry"
          >
            <el-option
              v-for="option in countryOptions"
              :key="option.id"
              :label="option.org_name"
              :value="option"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="false"
        :label="$t('public.province')"
        :label-width="labelWidth"
        prop="prop"
      >
        <template>
          <el-select
            v-model="defaultProvince"
            value-key="id"
            filterable
            :placeholder="$t('public.choose')"
            @change="chooseProvince"
          >
            <el-option
              v-for="option in provinceOptions"
              :key="option.id"
              :label="option.org_name"
              :value="option"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item :label="$t('public.cumstomer_type')" :label-width="labelWidth" prop="prop">
        <template>
          <el-select
            v-model="queryCustomer.customer_type"
            value-key="id"
            filterable
            :placeholder="$t('public.choose')"
            @change="chooseCustomerType"
          >
            <el-option
              v-for="option in customer_type"
              :key="option"
              :label="option"
              :value="option"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item :label="$t('public.status')" :label-width="labelWidth" prop="prop">
        <template>
          <el-select
            v-model="queryCustomer.status"
            value-key="id"
            filterable
            :placeholder="$t('public.choose')"
            @change="chooseStatus"
          >
            <el-option
              v-for="option in status"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.gender')"
        :label-width="labelWidth"
        prop="prop"
      >
        <template>
          <el-select
            v-model="queryCustomer.sex"
            value-key="id"
            filterable
            :placeholder="$t('public.choose')"
            @change="chooseSex"
          >
            <el-option
              v-for="option in sexOptions"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        v-if="isFold"
        :label="$t('public.registered_email')"
        label-width="100px"
        style="width: 300px"
        prop="email"
      >
        <el-input v-model="queryCustomer.email" placeholder=""></el-input>
      </el-form-item>
    </el-form>
    <p style="text-align: center">
      <el-button
        type="primary"
        icon="el-icon-search"
        size="small"
        @click.native="getCustomerList"
        >{{ $t('public.search') }}</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-refresh"
        size="small"
        @click="resetQuery"
        >{{ $t('public.reset') }}</el-button
      >
      <el-button type="text" @click="fold"
        >{{ foldName }}<i :class="foldIcon"></i
      ></el-button>
    </p>
    <!-- 新增、和客户表格 -->
    <div>
      <el-button
        type="warning"
        icon="el-icon-plus"
        @click="insert"
        style="margin-bottom: 15px"
        >{{ $t('public.add') }}</el-button
      >
    </div>
    <div class="table">
      <el-table
        border
        ref="multipleTable"
        :data="customerList"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          type="index"
          :label="$t('public.order_number')"
          width="80"
          align="center"
          fixed
        ></el-table-column>
        <!-- <el-table-column prop="station_code" label="ID" min-width="60" fixed><template slot-scope="scope">
            <span style="color: orange; cursor: pointer" @click="showDetail">{{
              scope.row.station_code
            }}</span>
          </template></el-table-column> -->
        <el-table-column
          prop="user_name"
          :label="$t('public.customer_name')"
          fixed
          min-width="100"
          :show-overflow-tooltip="true"
        ></el-table-column>
        <el-table-column
          prop="email"
          :label="$t('public.account_email')"
          min-width="200"
        ></el-table-column>
        <el-table-column
          prop="contact_phone"
          :label="$t('public.contactNumber')"
          min-width="100"
          :show-overflow-tooltip="true"
        ></el-table-column>
        <el-table-column
          prop="contact_person"
          :label="$t('public.contacts')"
          min-width="100"
          :show-overflow-tooltip="true"
        ></el-table-column>
        <!-- <el-table-column prop="country" label="国家" min-width="100"> </el-table-column>
        <el-table-column prop="area" label="地区" min-width="100"> </el-table-column> -->
        <el-table-column
          prop="address"
          :label="$t('public.detail_address')"
          min-width="100"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
        <el-table-column
          prop="subject_nature"
          :label="$t('public.subject_nature')"
          min-width="100"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
        <el-table-column
          prop="customer_type"
          :label="$t('public.cumstomer_type')"
          min-width="100"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
        <el-table-column prop="status" :label="$t('public.status')" min-width="100"
          ><template slot-scope="scope">{{
            getRank(scope.row.status)
          }}</template></el-table-column
        >
        <el-table-column
          prop="register_time"
          :label="$t('public.create_time')"
          min-width="100"
          :show-overflow-tooltip="true"
        ></el-table-column>
        <el-table-column
          prop="creator"
          :label="$t('public.creator')"
          min-width="100"
        ></el-table-column>
        <el-table-column prop="operate" :label="$t('public.operation')" width="200" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="editor(scope.$index, scope.row)"
              size="mini"
              >{{ $t('public.edit') }}</el-button
            >
            <el-button
              type="primary"
              @click="block(scope.$index, scope.row)"
              size="mini"
              v-if="scope.row.status === 1"
              >{{ $t('public.freeze') }}</el-button
            >
            <el-button
              type="primary"
              @click="block(scope.$index, scope.row)"
              size="mini"
              v-if="scope.row.status === 3"
              >{{ $t('public.unfreeze') }}</el-button
            >
            <el-button
              type="primary"
              @click="customerSetting(scope.$index, scope.row)"
              size="mini"
              >{{ $t('public.assigningUsers') }}</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页插件 -->
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 新增弹窗 -->
    <el-dialog
      :title="dialog_name"
      style="font-size: 20px"
      width="700px"
      :visible.sync="dialogFormVisible"
      @close="close"
    >
      <el-form ref="addForm" :model="addForm" :rules="rules">
        <el-form-item
        :label="$t('public.customer_name')"
          label-width="100px"
          :style="inputWidth"
          prop="user_name"
        >
          <el-input
            v-model="addForm.user_name"
            :placeholder="$t('public.within_string')"
          ></el-input>
        </el-form-item>
        <el-form-item
        :label="$t('public.subject_nature')"
          :label-width="labelWidth"
          prop="subject_nature"
        >
          <template>
            <el-select
              style="width: 76%"
              v-model="addForm.subject_nature"
              value-key="id"
              filterable
              :placeholder="$t('public.choose')"
              @click.native="selectCharacter"
              @change="chooseCountry"
            >
              <el-option
                v-for="option in characterOptions"
                :key="option"
                :label="option"
                :value="option"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item
        :label="$t('public.contacts')"
          :label-width="labelWidth"
          :style="inputWidth"
          prop="contact_person"
        >
          <el-input v-model="addForm.contact_person" placeholder=""></el-input>
        </el-form-item>
        <el-form-item
          :style="inputWidth"
          :label="$t('public.phoneCode')"
          prop="contact_phone_code"
          :label-width="labelWidth"
        >
          <vue-country-intl
            class="phone-code"
            v-model="addForm.contact_phone_code"
            @onChange="changeSelectCode"
          ></vue-country-intl>
        </el-form-item>

        <el-form-item
          :style="inputWidth"
          prop="contact_phone"
          :label-width="labelWidth"
          :label="$t('public.contactPhone')"
        >
          <el-input v-model="addForm.contact_phone"></el-input>
        </el-form-item>
        <!-- <el-form-item v-if="false" label="国家" :label-width="labelWidth" prop="prop">
          <template>
            <el-select style="width: 76%;" v-model="defaultCountry" value-key="id" filterable placeholder="请选择"
              @click.native="selectCountry" @change="chooseCountry">
              <el-option v-for="option in countryOptions" :key="option.id" :label="option.org_name" :value="option">
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item v-if="false" label="省份" :label-width="labelWidth" prop="prop">
          <template>
            <el-select style="width: 76%;" v-model="defaultProvince" value-key="id" filterable placeholder="请选择"
              @change="chooseProvince">
              <el-option v-for="option in provinceOptions" :key="option.id" :label="option.org_name" :value="option">
              </el-option>
            </el-select>
          </template>
        </el-form-item> -->
        <el-form-item
        :label="$t('public.detail_address')"
          :label-width="labelWidth"
          :style="inputWidth"
          prop="address"
        >
          <el-input v-model="addForm.address" placeholder=""></el-input>
        </el-form-item>

        <el-form-item
        :label="$t('public.cumstomer_type')"
          :label-width="labelWidth"
          prop="customerTypeOptions"
        >
          <el-checkbox-group
            v-model="addForm.customerTypeOptions"
            @change="handleChooseChange"
          >
            <el-checkbox
              v-for="customer in customer_type"
              :key="customer"
              :label="customer"
            ></el-checkbox>
          </el-checkbox-group>
        </el-form-item>

        <el-form-item
          v-if="dialog_name === this.$t('public.cumstomer_add')"
          :label="$t('public.account_email')"
          :label-width="labelWidth"
          :style="inputWidth"
          prop="email"
        >
          <el-input v-model="addForm.email" placeholder=""></el-input>
        </el-form-item>
        <el-form-item
          v-if="dialog_name === this.$t('public.cumstomer_add')"
          :label="$t('public.account_pwd')"
          :label-width="labelWidth"
          :style="inputWidth"
          prop="pwd"
        >
          <el-input v-model="addForm.pwd" placeholder=""></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="save('addForm')" v-if="dialog_name === this.$t('public.cumstomer_add')"
          >{{ $t('public.save') }}</el-button
        >
        <el-button
          @click="editorCustomer('addForm')"
          v-if="dialog_name === this.$t('public.cumstomer_update')"
          >{{ $t('public.save') }}</el-button
        >
      </div>
    </el-dialog>
    <!-- 客户详情弹窗 -->
    <el-dialog
    :title="$t('public.detail_news')"
      style="font-size: 20px"
      width="700px"
      :visible.sync="isShowDetail"
      @close="close"
    >
    </el-dialog>

    <el-dialog
    :title="$t('public.assigningUsers')"
      :visible.sync="dialogFormVisible1"
      :width="dialogWidth"
      @close="close"
    >
      <el-form label-width="80px">
        <el-form-item :label="$t('public.username')">
          <el-input disabled :value="username" />
        </el-form-item>

        <el-form-item :label="$t('public.user_list')">
          <el-checkbox-group v-model="selectCustomerId">
            <el-checkbox
              v-for="customer in allCustomer"
              :key="customer.id"
              :label="customer.id"
              :disabled="isChange"
              >{{ customer.user_name }}</el-checkbox
            >
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button type="primary" @click="saveCustomersSetting"
          >{{ $t('public.save') }}</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCustomerList,
  getUserAuthList,
  getUserAuth,
  saveSysAuth,
  addCustomerUser,
  editUser,
  setUserStatus,
} from "@/utils/api.js";
import { parseTimeStamp } from "@/utils/common.js";
export default {
  name: "management",
  data() {
    return {
      labelWidth: "100px",
      inputWidth: "width: 80%",
      configDialogVisible: false,
      updateDialogVisible: false,
      dialogFormVisible: false,
      isShowDetail: false,
      isFold: false,
      foldName: this.$t("public.expand"),
      foldIcon: "el-icon-arrow-down",
      form: {
        operator: "",
        phone: "",
      },
      countryOptions: [],
      defaultCountry: "",
      provinceOptions: [],
      defaultProvince: "",
      defaultCustomerType: "",
      statusOptions: [],
      defaultStatus: "",
      sexOptions: [
        { id: 0, name: this.$t('public.female') },
        { id: 1, name: this.$t('public.male') },
      ],
      defaultSex: "",
      addForm: {
        id: "",
        address: "",
        contact_person: "",
        contact_phone: "",
        country: "",
        customer_type: "",
        email: "",
        phone: "",
        province: "",
        pwd: "",
        source: "",
        subject_nature: "",
        user_name: "",
        customerTypeOptions: [],
        contact_phone_code: "",
      },
      characterOptions: [this.$t('public.enterprise'), this.$t('public.personal')],
      defaultCharacter: "",

      defaultId: "",
      idOptions: [],
      defaultModel: "",
      modelOptions: [],
      chooseType: "",
      allChargeTypes: [],
      defaultStatus: "",
      statusOptions: [],
      brandOptions: [],
      defaultBrand: "",
      serviceOptions: [],
      defaultsService: "",
      agentOptions: [],
      defaultAgent: "",
      customerList: [],
      otaList: [{ sort: 1 }, { sort: 2 }],
      //查询用户列表所需参数
      queryCustomer: {
        userId: JSON.parse(sessionStorage.getItem("userInfo")).id,
        country: "",
        customer_type: "",
        email: "",
        p: 0,
        province: "",
        sex: "",
        size: 10,
        status: "",
      },
      //分配用户弹窗
      dialogFormVisible1: false,
      rowId: "", //对应的列id
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      dialogHeight: "400px", // 弹窗高度，可以是像素值或百分比

      username: "", //列表框中的回显名
      allCustomer: [], //所有用户列表
      selectCustomer: [], //勾选中的用户列表
      selectCustomerId: [], //承接返回时的userIds
      status: [
        { id: 1, name: this.$t('public.normal') },
        { id: 3, name: this.$t('public.Frozen') },
      ], //客户状态列表
      customer_type: [this.$t('public.agent'), this.$t('public.operator'), this.$t('public.serviceProvider'), this.$t('public.brandOwner')], //客户类型
      customerTypeOptions: [], //承接选中的客户类型
      dialog_name: "", //区分弹框类型字段
      //分页列表
      pagelist: [],
      currentPage: 1,
      pageSize: 10,
      totalNum: 0,
      //决定是否为自己创建的角色分配页面置灰
      isChange: true,
      //校验方法
      rules: {
        user_name: [
          { required: true, message: this.$t('public.customer_check'), trigger: "blur" },
          {
            max: 32,
            message: this.$t('public.customer_check_tips'),
            trigger: ["blur", "change"],
          },
        ],
        subject_nature: [
          { required: true, message: this.$t('public.subject_nature_check'), trigger: "change" },
        ],
        contact_person: [
          { required: true, message: this.$t('public.contact_check'), trigger: "blur" },
          {
            max: 32,
            message: this.$t('public.contact_name_length'),
            trigger: ["blur", "change"],
          },
        ],
        contact_phone: [
          { required: true, message: this.$t('public.concat_phone_check'), trigger: "bulr" },
          {
            max: 15,
            message: this.$t('public.contact_phone_length'),
            trigger: ["blur", "change"],
          },
        ],
        email: [
          { required: true, message: this.$t('public.emial_check'), trigger: "bulr" },
          {
            type: "email",
            message: this.$t('public.emial_check_tips'),
            trigger: ["blur", "change"],
          },
        ],
        pwd: [
          { required: true, message: this.$t('public.pwd_null'), trigger: "blur" },
          {
            min: 6,
            max: 15,
            message: this.$t('public.pwd_length'),
            trigger: ["blur", "change"],
          },
        ],
        customerTypeOptions: [
          { required: true, message: this.$t('public.customer_type_check'), trigger: "change" },
        ],
      },
    };
  },
  mounted() {
    this.getCustomerList();
    this.getUserAuthAll();
  },
  methods: {
    //查询客户管理列表
    getCustomerList() {
      getCustomerList(this.queryCustomer).then((res) => {
        if (res.code === 0) {
          this.customerList = res.data.userInfoList;

          this.customerList = res.data.userInfoList;
          this.totalNum = res.data.total;
          this.customerList.forEach(function (item) {
            // item.create_time = new Date(item.create_time).toISOString();
            // 输出时间类似 "2023-07-11 10:30:00" 的字符串
            item.register_time = parseTimeStamp(item.register_time);
            // const dateObj = new Date(item.register_time);
            // const year = dateObj.getFullYear();
            // const month = dateObj.getMonth() + 1; // 月份从0开始，需要加1
            // const day = dateObj.getDate();
            // const hours = dateObj.getHours();
            // const minutes = dateObj.getMinutes();
            // const seconds = dateObj.getSeconds();
            // const formattedDateTime =
            //   year +
            //   "-" +
            //   String(month).padStart(2, "0") +
            //   "-" +
            //   String(day).padStart(2, "0") +
            //   " " +
            //   String(hours).padStart(2, "0") +
            //   ":" +
            //   String(minutes).padStart(2, "0") +
            //   ":" +
            //   String(seconds).padStart(2, "0");
            // item.register_time = formattedDateTime;
          });
        }
      });
    },
    //表单客户状态映射方法
    getRank(type) {
      const map = new Map([
        [1, this.$t('public.normal')],
        [3, this.$t('public.Frozen')],
      ]);
      return map.get(type);
    },
    chooseCountry() {},
    chooseProvince() {},
    chooseCustomerType() {},
    chooseStatus() {},
    chooseSex() {},
    selectCharacter() {},
    changeSelectCode() {},
    //保存新增客户信息
    save(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.dialogFormVisible = false;
          this.addForm.id = this.queryCustomer.userId;
          this.addForm.customer_type =
            this.addForm.customerTypeOptions.join("、");
          addCustomerUser(this.addForm).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t("public.add_success"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
                callback: (action) => {
                  this.getCustomerList();
                },
              });
            }
          });
        }
      });
    },
    showDetail() {
      this.isShowDetail = true;
    },
    //选择商户类型方法
    handleChooseChange() {},
    handleQuery() {},
    resetQuery() {
      location.reload();
    },
    // 折叠
    fold() {
      this.isFold = !this.isFold;
      if (this.isFold) {
        this.foldName = this.$t("public.retract");
        this.foldIcon = "el-icon-arrow-up";
      } else {
        this.foldName = this.$t("public.expand");
        this.foldIcon = "el-icon-arrow-down";
      }
    },
    insert() {
      this.dialog_name = this.$t('public.cumstomer_add');
      this.addForm = {
        id: "",
        address: "",
        contact_person: "",
        contact_phone: "",
        country: "",
        customer_type: "",
        email: "",
        phone: "",
        province: "",
        pwd: "",
        source: "",
        subject_nature: "",
        user_name: "",
        customerTypeOptions: [],
      };
      this.dialogFormVisible = true;
    },
    batchInsert() {},
    batchUpdate() {},
    //编辑此用户信息
    editor(index, row) {
      this.dialog_name = this.$t('public.cumstomer_update');
      this.addForm.id = row.id;
      this.addForm.user_name = row.user_name;
      this.addForm.subject_nature = row.subject_nature;
      this.addForm.contact_person = row.contact_person;
      this.addForm.contact_phone_code = row.contact_phone_code;
      this.addForm.contact_phone = row.contact_phone;
      this.addForm.address = row.address;
      this.addForm.email = row.email;
      this.addForm.customerTypeOptions = row.customer_type.split("、");
      this.dialogFormVisible = true;
    },
    // 冻结解冻客户
    block(index, row) {
      let status;
      let statusName;

      if (row.status === 1) {
        status = 3;
        statusName = this.$t('public.freeze');
      } else {
        status = 1;
        statusName = this.$t('public.unfreeze');
      }
      this.$confirm(this.$t('public.if') + statusName + this.$t('public.user_continue'), this.$t("public.update_tips"), {
        confirmButtonText: this.$t("public.sure"),
        cancelButtonText: this.$t("public.cancel"),
        type: "warning",
      })
        .then(() => {
          setUserStatus(row.id, status).then((res) => {
            if (res.code === 0) {
              this.getCustomerList();
              this.$message({
                type: "success",
                message: statusName + this.$t('public.sucess'),
              });
            } else {
              this.$message({
                type: "warning",
                message: statusName + this.$t('public.fail'),
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: this.$t('public.Canceled') + statusName,
          });
        });
    },
    // 取消弹窗
    cancel() {
      this.dialogFormVisible = false;
    },
    close() {
      this.dialogFormVisible = false;
      this.configDialogVisible = false;
    },
    updateNow() {
      this.updateDialogVisible = true;
    },
    //查询所有角色
    getUserAuthAll() {
      getUserAuthList().then((res) => {
        if (res.code === 0) {
          this.allCustomer = res.data;
        }
      });
    },
    //分配角色回显方法
    customerSetting(row, index) {
      this.username = index.user_name;
      this.rowId = index.id;
      const type = 1;
      // await getUserAuthList().then((res) => {
      //   if (res.code === 0) {
      //     this.allCustomer = res.data
      //   }
      // })
      getUserAuth(this.rowId, type).then((res) => {
        if (res.code === 0) {
          this.selectCustomerId = res.data.map((item) => item.user_id);
        }
        if (index.userId === this.queryCustomer.userId) {
          this.isChange = false;
        } else {
          this.isChange = true;
        }
        this.dialogFormVisible1 = true;
      });
    },

    //点击返回方法
    cancel() {
      this.dialogFormVisible = false;
      this.dialogFormVisible1 = false;
      this.dialogFormVisible2 = false;
    },
    //保存方法
    saveCustomersSetting() {
      const data = {
        id: this.rowId,
        userIds: this.selectCustomerId,
        type: 1,
      };

      saveSysAuth(data).then((res) => {
        if (res.code === 0) {
          this.cancel();
          this.$message({
            type: "success",
            message: this.$t('public.assign_success'),
          });
        } else {
          this.$message({
            type: "warning",
            message: this.$t('public.assign_fail'),
          });
        }
      });
    },
    //编辑客户信息保存方法
    editorCustomer(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.dialogFormVisible = false;
          this.addForm.customer_type =
            this.addForm.customerTypeOptions.join("、");
          editUser(this.addForm).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t("public.update_success"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
                callback: (action) => {
                  this.getCustomerList();
                },
              });
            }
          });
        }
      });
    },
    //分页相关方法
    handleSizeChange(size) {
      this.queryCustomer.size = size;
      this.getCustomerList(this.siteListData);
    },
    handleCurrentChange(currentPage) {
      this.queryCustomer.p = currentPage - 1;
      this.getCustomerList(this.siteListData);
    },
  },
  watch: {
    customerList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>
<style>
.OTA .el-dialog__header {
  background-color: #efefef;
}
</style>

<style lang="scss" scoped>
.customer {
  padding: 20px;

  .ota-top {
    display: flex;
    justify-content: space-between;

    .ota-top-title {
      font-size: 16px;
    }
  }
}

.table-pagination {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  /* 添加一些内边距以分隔页码和内容 */
  background-color: #f9f9f9;
  /* 可选：为更好的可见性添加背景颜色 */
  text-align: right;
  /* 将页码对齐到右侧 */
}
</style>
