<template>
  <div class="editor">
    <div class="editor-top">
      <el-form
        :inline="true"
        ref="form"
        :model="form"
        :label-width="labelWidth"
        class="form-main"
      >
        <el-form-item
          :label="$t('public.phone')"
          class="form-item"
          prop="phone"
        >
          <el-input
            v-model="alarmData.contact_phone"
            :style="inputWidth"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$t('public.email')"
          class="form-item"
          prop="email"
        >
          <el-input v-model="alarmData.email" :style="inputWidth"></el-input>
        </el-form-item>

        <!-- <el-form-item label="站点名称" class="form-item" label-width="100px" style="width: 300px" prop="name">
          <el-input v-model="form.name" placeholder=""></el-input>
        </el-form-item> -->
        <el-form-item :label="$t('public.stationName')" prop="name">
          <template>
            <el-select
              v-model="alarmData.station_management_id"
              value-key="id"
              filterable
              :placeholder="$t('public.choose')"
              :style="inputWidth"
            >
              <el-option
                v-for="option in AllStationNameList"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-search"
            size="small"
            @click.native="handleQuery"
            >{{ $t("public.search") }}</el-button
          >
          <el-button
            type="warning"
            icon="el-icon-refresh"
            size="small"
            @click="resetQuery"
            >{{ $t("public.reset") }}</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <div>
      <el-button
        type="primary"
        icon="el-icon-back"
        @click="backSite"
        style="margin-bottom: 15px"
        >{{ $t("public.alarm_back_site") }}</el-button
      >
      <el-button
        type="warning"
        @click="handleAlarm"
        icon="el-icon-plus"
        style="margin-bottom: 15px"
        >{{ $t("public.alarm_add") }}</el-button
      >
    </div>
    <div class="table">
      <el-table
        stripe
        :data="alarmTipsList"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column type="selection" width="45"> </el-table-column>
        <el-table-column
          type="index"
          :label="$t('public.sort')"
          width="55px"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column
          prop="stationName"
          :label="$t('public.stationName')"
          fixed
        ></el-table-column>
        <el-table-column
          prop="contact_person"
          :label="$t('public.contacts')"
        ></el-table-column>
        <el-table-column
          prop="email"
          :label="$t('public.concat_email')"
        ></el-table-column>
        <el-table-column
          prop="contact_phone"
          :label="$t('public.contactNumber')"
        ></el-table-column>
        <el-table-column
          prop="gunTemperature"
          :label="$t('public.gun_temp_threshold')"
        ></el-table-column>
        <el-table-column
          prop="batteryTemperature"
          :label="$t('public.battery_temp_threshold')"
        >
        </el-table-column>
        <el-table-column prop="offline" :label="$t('public.offline_rate')">
        </el-table-column>
        <el-table-column prop="alarmRate" :label="$t('public.fail_rate')">
        </el-table-column>
        <el-table-column prop="create_time" :label="$t('public.create_time')">
        </el-table-column>
        <el-table-column
          prop="operate"
          :label="$t('public.operation')"
          width="200x"
          fixed="right"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="handelEditor(scope.$index, scope.row)"
              size="mini"
              >{{ $t("public.edit") }}</el-button
            >
            <el-button
              type="primary"
              @click="handelDel(scope.$index, scope.row)"
              size="mini"
              >{{ $t("public.delete") }}</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页插件 -->
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="pagelist"
          :page-size="alarmData.size"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 编辑弹窗 -->
    <el-dialog
      :title="diaName"
      :visible.sync="dialogFormVisible"
      @close="close"
      style="font-size: 20px; text-align: center;"
      width="700px"
    >
      <div class="line"></div>
      <el-form
        ref="editorform"
        :model="editorform"
        :rules="rules"
        :label-width="labelWidth"
        label-position="left"
      >
        <el-form-item :label="$t('public.station')" prop="stationId">
          <template>
            <el-select
              v-model="editorform.station_management_id"
              value-key="id"
              :disabled="isChange"
              filterable
              placeholder="$t('public.choose')"
              @change="getStationDetails"
              :style="inputWidth"
            >
              <el-option
                v-for="option in AllStationNameList"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>

        <el-form-item
          :label="$t('public.contacts')"
          class="form-item"
          prop="contact_person"
        >
          <el-input
            v-model="editorform.contact_person"
            :style="inputWidth"
          ></el-input>
        </el-form-item>
        <el-form-item prop="contact_phone" :label="$t('public.contactPhone')">
          <el-input
            v-model="editorform.contact_phone"
            :style="inputWidth"
          ></el-input>
        </el-form-item>
        <el-form-item
          :label="$t('public.concat_email')"
          class="form-item"
          prop="email"
        >
          <el-input v-model="editorform.email" :style="inputWidth"></el-input>
        </el-form-item>
        <p class="table-text">{{ $t("public.news_config") }}:</p>
        <div class="news-config">
          <el-row>
            <span>{{$t('public.gun_temp_tips')}}</span>
            <el-input
              v-model="editorform.gunTemperature"
              placeholder=""
              :style="chooseWidth"
            />
            <span>℃,{{$t('public.push')}}</span>
            <el-select
              v-model="editorform.gunPushMethod"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth2"
            >
              <el-option
                v-for="option in noticeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{ $t('public.news_and') }}</span>
            <el-select
              v-model="editorform.gunChargeStatus"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth"
            >
              <el-option
                v-for="option in chargeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{$t('public.charge')}}</span>
          </el-row>
          <el-row>
            <span>{{$t('public.battery_val')}}</span>
            <el-input
              v-model="editorform.batteryTemperature"
              placeholder=""
              :style="chooseWidth"
            />
            <span>℃,{{$t('public.push')}}</span>
            <el-select
              v-model="editorform.batteryPushMethod"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth2"
            >
              <el-option
                v-for="option in noticeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{$t('public.news_and')}}</span>
            <el-select
              v-model="editorform.batteryChargeStatus"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth"
            >
              <el-option
                v-for="option in chargeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{$t('public.charge')}}</span>
          </el-row>
          <el-row>
            <span>{{$t('public.site_offline_rate')}}</span>
            <el-input
              v-model="editorform.offline"
              placeholder=""
              :style="chooseWidth"
            />
            <span>%,{{$t('public.push')}}</span>
            <el-select
              v-model="editorform.offlinePushMethod"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth2"
            >
              <el-option
                v-for="option in noticeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{$t('public.news')}}</span>
            <!-- <el-input
              v-model="editorform.msg"
              placeholder=""
              style="width: 100px; margin-bottom: 10px"
            /> -->
          </el-row>
          <el-row>
            <span>{{$t('public.site_fail_rate')}}</span>
            <el-input
              v-model="editorform.alarmRate"
              placeholder=""
              :style="chooseWidth"
            />
            <span>%,{{$t('public.push')}}</span>
            <el-select
              v-model="editorform.alarmPushMethod"
              filterable
              :placeholder="$t('public.choose')"
              :style="chooseWidth2"
            >
              <el-option
                v-for="option in noticeType"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
            <span>{{$t('public.news')}}</span>
          </el-row>
        </div>
      </el-form>
      <div slot="footer">
        <el-button
          type="primary"
          @click="submit('editorform')"
          v-if="diaName == this.$t('public.alarm_add')"
          >{{ $t('public.save') }}</el-button
        >
        <el-button
          type="primary"
          @click="editor('editorform')"
          v-if="diaName == this.$t('public.alarm_update')"
          >{{ $t('public.save') }}</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getSysAlarmConfigList,
  addSysAlarmConfig,
  updSysAlarmConfig,
  delSysAlarmConfig,
  getStationDetails,
} from "@/utils/api.js";
import { parseTimeStamp } from "@/utils/common.js";
export default {
  name: "editor",
  props: {
    getStationNameList: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      AllStationNameList: this.getStationNameList,
      labelWidth: "150px",
      inputWidth: "width: 240px;",
      chooseWidth: "width: 100px; margin: 5px",
      chooseWidth2: "width: 120px; margin: 5px",
      dialogFormVisible: false,
      form: {
        operator: "",
        phone: "",
      },
      defaultMsgType: "",
      msgTypeOptions: [],
      defaultchooseType: "",
      chooseTypeOptions: [],
      //编辑及新增弹窗绑定信息
      editorform: {
        id: "",
        station_management_id: "",
        contact_phone: "",
        contact_person: "",
        contact_phone_code: "",
        emial: "",
        gunTemperature: "",
        gunPushMethod: "",
        gunChargeStatus: "",
        batteryTemperature: "",
        batteryPushMethod: "",
        batteryChargeStatus: "",
        offline: "",
        offlinePushMethod: "",
        alarmRate: "",
        alarmPushMethod: "",
      },
      diaName: "", //弹框名
      alarmTipsList: [],
      currentPage: 1,
      //查询故障告警信息的data数据
      alarmData: {
        contact_phone: "",
        email: "",
        station_management_id: "",
        p: 0,
        size: 10,
      },
      stationOptions: [], //用于承接查询到的站点信息列表
      //三种通知方式
      noticeType: [
        { id: 1, name: this.$t('public.message') },
        { id: 2, name: this.$t('public.email') },
        { id: 3, name: this.$t('public.news_email') },
      ],
      //充电状态
      chargeType: [
        { id: 1, name: this.$t('public.stop_use') },
        { id: 2, name: this.$t('public.no_stop') },
      ],
      //站点选择置灰

      isChange: false,
      //分页列表
      pagelist: [10, 15, 20],
      currentPage: 1,
      totalNum: 0,

      isChange: false,
      //校验规则
      rules: {
        contact_phone: [
          {
            required: true,
            message: this.$t('public.concat_phone_check'),
            trigger: "bulr",
          },
          {
            max: 15,
            message: this.$t('public.phone_check_length'),
            trigger: ["blur", "change"],
          },
        ],
        // stationId:[
        //   { required: true, message: this.$t('public.site_check'), trigger: "change" },
        // ],
        email: [
          {
            required: true,
            message: this.$t('public.emial_check'),
            trigger: "bulr",
          },
          {
            type: "email",
            message: this.$t('public.emial_check_tips'),
            trigger: ["blur", "change"],
          },
        ],
        contact_person: [
          {
            required: true,
            message: this.$t('public.customer_check'),
            trigger: "blur",
          },
          {
            max: 30,
            message: this.$t('public.customer_check_tips'),
            trigger: ["blur", "change"],
          },
        ],
      },
    };
  },
  mounted() {
    this.handleQuery();
  },
  methods: {
    handelEditor(index, row) {
      this.diaName = this.$t('public.alarm_update');
      this.isChange = true;
      this.dialogFormVisible = true;
      this.editorform = row;
    },
    //删除故障告警信息
    handelDel(indx, row) {
      this.$confirm(this.$t('public.alarm_del_account'), this.$t("public.update_tips"), {
        confirmButtonText: this.$t("public.sure"),
        cancelButtonText: this.$t("public.cancel"),
        type: "warning",
      }).then(() => {
        delSysAlarmConfig(row.id).then((res) => {
          if (res.code === 0) {
            this.handleQuery();
            this.$message({
              type: "success",
              message: this.$t("public.delete_success"),
            });
          } else {
            this.$message({
              type: "warning",
              message: this.$t("public.delete_fail"),
            });
          }
        });
      });
    },
    handleQuery() {
      getSysAlarmConfigList(this.alarmData).then((res) => {
        if (res.code === 0) {
          this.alarmTipsList = res.data.list;
          this.totalNum = res.data.total;

          this.alarmTipsList = res.data.list;
          this.alarmTipsList.forEach(function (item) {
            item.create_time = parseTimeStamp(item.create_time);
          });
        }
      });
    },
    //重置页面方法
    resetQuery() {
      this.alarmData = {
        contact_phone: "",
        email: "",
        station_management_id: "",
        p: 0,
        size: 10,
      };
      (this.currentPage = 1), this.handleQuery();
    },
    //新增故障告警
    handleAlarm() {
      this.cleanEditorform();
      this.dialogFormVisible = true;
      this.diaName = this.$t('public.alarm_add');
      this.isChange = false;
    },
    //初始化新增编辑数据
    cleanEditorform() {
      this.editorform = {
        id: "",
        station_management_id: "",
        contact_phone: "",
        contact_person: "",
        contact_phone_code: "",
        emial: "",
        gunTemperature: "",
        gunPushMethod: "",
        gunChargeStatus: "",
        batteryTemperature: "",
        batteryPushMethod: "",
        batteryChargeStatus: "",
        offline: "",
        offlinePushMethod: "",
        alarmRate: "",
        alarmPushMethod: "",
      };
    },
    // 取消弹窗
    cancel() {
      this.dialogFormVisible = false;
    },
    close() {
      this.dialogFormVisible = false;
    },
    // 处理页码
    handleSizeChange(size) {
      this.alarmData.size = size;
      this.handleQuery();
    },
    handleCurrentChange(currentPage) {
      this.alarmData.p = currentPage - 1;
      this.handleQuery();
    },
    changeSelectCode() {},
    //新增故障告警保存方法
    submit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          addSysAlarmConfig(this.editorform).then((res) => {
            if (res.code === 0) {
              this.dialogFormVisible = false;
              this.handleQuery();
            }
          });
        }
      });
    },
    //编辑故障告警保存方法
    editor(formName) {
      this.$refs[formName].validate((valid) => {
        this.editorform.create_time = "";
        if (valid) {
          updSysAlarmConfig(this.editorform).then((res) => {
            if (res.code === 0) {
              this.dialogFormVisible = false;
              this.handleQuery();
            }
          });
        }
      });
    },
    //选择站点回显联系人、联系电话
    getStationDetails(val) {
      getStationDetails(val).then((res) => {
        this.editorform.contact_person = res.data.contact_person;
        this.editorform.contact_phone = res.data.contact_phone;
        this.editorform.contact_phone_code = res.data.contact_phone_code;
      });
    },
    backSite() {
      this.$emit("toSite", 1);
    },
  },
};
</script>

<style lang="scss" scoped>
.editor {
  padding: 20px;
  .line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d4d2d2;
    margin: 0 auto 25px;
  }
  .news-config {
    text-align: left;
  }
}

.table-text {
  text-align: left;
  font-size: 18px;
}

.table-pagination {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  /* 添加一些内边距以分隔页码和内容 */
  background-color: #f9f9f9;
  /* 可选：为更好的可见性添加背景颜色 */
  text-align: right;
  /* 将页码对齐到右侧 */
}
</style>
