<template>
  <div class="personal">
    <div>
      <el-form
        :label-width="formLabelWidth"
        :model="form"
        :rules="rules"
        inline
        ref="form"
        label-position="left"
        style="margin-bottom: 50px; text-align: right;"
      >
        <el-row>
          <el-form-item :label="$t('public.name')" prop="user_name">
            <el-input v-model="form.user_name" :style="inputWidth"></el-input>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item
            prop="contact_phone"
            :label="$t('public.contactPhone')"
          >
            <el-row :gutter="15">
              <el-col :span="6">
                <country-code
                  @changeCountry="changeCountry"
                  :selectedValue="form.contact_phone_code"
                />
              </el-col>
              <el-col :span="18"><el-input v-model="form.contact_phone"></el-input></el-col>
            </el-row>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item :label="$t('public.email')" prop="email">
            <div :style="inputWidth">{{ form.email }}</div>
          </el-form-item>
        </el-row>
      </el-form>
      <div slot="footer" style="text-align: center; ">
        <el-button @click="saveInfo('form')">{{ $t('public.save') }}</el-button>
        <el-button type="primary" @click="updated"
          >{{ $t('personal.updatedPwd') }}</el-button
        >
      </div>
    </div>
    <el-dialog
        :title="$t('personal.updatedPwd')"
        style="font-size: 20px; text-align: center;"
        width="428px"
        :visible.sync="isShowDetail"
        @close="close"
      >
      <el-form
        :label-width="formLabelWidth"
        :model="editorForm"
        :rules="editorRules"
        inline
        ref="form"
        label-position="left"
      >
        <el-row>
          <el-form-item :label="$t('personal.oldpwd')" prop="oldpwd">
            <el-input v-model="editorForm.oldpwd"></el-input>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item
            prop="pwd"
            :label="$t('personal.pwd')"
          >
            <el-input v-model="editorForm.pwd"></el-input>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item :label="$t('personal.newpwd')" prop="newpwd">
            <el-input v-model="editorForm.newpwd"></el-input>
          </el-form-item>
        </el-row>
      </el-form>
      <div slot="footer" style="text-align: center;">
        <el-button type="primary" @click="updatePwd"
          >{{$t('public.save')}}</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import countryCode from "@/components/CountryCode/index.vue"
import { changeInformation, } from "@/utils/api.js";
export default {
  name: "personal",
  components: { countryCode },
  data() {
    return {
      formLabelWidth: "130px",
      inputWidth: "width: 400px",
      isShowDetail: false,
      form: {},
      editorForm: {},
      rules: {
        name: [{ required: true, message: "请输入名字", trigger: "blur" }],
        contact_phone: [
          { required: true, message: "请输入电话", trigger: "blur" },
        ],
        contact_phone_code: [
          { required: true, message: "请输入区号", trigger: "change" },
        ],
      },
      editorRules: {
        oldpwd: [{ required: true, message: "请输入原密码", trigger: "blur" }],
        pwd: [
          { required: true, message: "请输入新密码", trigger: "blur" },
        ],
        newpwd: [
          { required: true, message: "请输入新密码", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    const userInfo = JSON.parse(sessionStorage.getItem("userInfo"));
    this.form = { ...userInfo }
    if(this.form.contact_phone_code) {
      this.form.contact_phone_code = this.form.contact_phone_code.replace(/\+/g, "")
    }
  },
  methods: {
    saveInfo(form) {
      console.log("form",this.form)
      this.$refs[form].validate((valid) => {
        console.log("this.$refs[form].validate  valid:", valid)
        if (valid) {
          console.log("this.$refs[form].validate  this.form.user_name:", this.form.user_name)
            console.log("this.$refs[form].validate  this.form.contact_phone:", this.form.contact_phone)
            console.log("this.$refs[form].validate  this.form.contact_phone_code:", this.form.contact_phone_code)
          changeInformation(this.form.user_name, this.form.contact_phone, this.form.contact_phone_code)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.update_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.update_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.update_fail"),
                type: "error",
              });
            });
        }
      });
    },
    close() {},
    updated() {
      this.isShowDetail = true;
    },
    updatePwd() {
      this.isShowDetail = false;
    },
    changeCountry(val) {
      this.form.contact_phone_code = val
    },
    
  },
};
</script>

<style lang="scss" scoped>
.personal {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .phone-code {
    ::v-deep.country-intl-label {
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
    }
    ::v-deep.country-intl-input {
      height: 36px;
    }
  }
}
</style>
