<template>
  <div class="alarm">
    <el-form :inline="true" ref="form" :model="form" :label-width="labelWidth" class="form-main">
      <el-form-item :label="$t('public.operator')"  prop="prop">
        <el-select v-model="operator" filterable :placeholder="$t('public.choose')" :style="inputWidth">
          <el-option
            v-for="option in operatorOptions"
            :key="option.user_name"
            :label="option.label"
            :value="option.user_name"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('public.stationName')" prop="prop">
        <el-select v-model="id" filterable :placeholder="$t('public.choose')" :style="inputWidth">
          <el-option
            v-for="option in idOptions"
            :key="option.id"
            :label="option.name"
            :value="option.id"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        :label="$t('public.device_name')"
      >
        <el-input v-model="name" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('public.device_type')"
      >
        <el-input v-model="model" :style="inputWidth"></el-input>
      </el-form-item>
      <el-form-item
        :label="$t('public.device_code')"
      >
        <el-input v-model="pile_code" :style="inputWidth"></el-input>
      </el-form-item>
    </el-form>
    <p style="text-align: center">
      <el-button
        type="primary"
        icon="el-icon-search"
        size="small"
        @click.native="handleQuery"
        >{{ $t('public.search') }}</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-refresh"
        size="small"
        @click="resetQuery"
        >{{ $t('public.reset') }}</el-button
      >
    </p>
    <!-- 告警提醒和表格 -->
    <!-- <div><el-button type="warning" @click="handleAlarm" style="margin-bottom: 15px"  >告警提醒</el-button></div> -->
    <div class="table">
      <el-table
        border
        :data="alarmTipsList"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <!-- <el-table-column type="selection" width="45"> </el-table-column> -->
        <el-table-column
          type="index"
          :label="$t('public.order_number')"
          width="60px"
          align="center"
        ></el-table-column>
        <el-table-column prop="stationName" :label="$t('public.stationName')"></el-table-column>
        <el-table-column prop="pileName" :label="$t('public.device_name')"></el-table-column>
        <el-table-column
          prop="pile_code"
          width="150px"
          :label="$t('public.device_code')"
        ></el-table-column>
        <el-table-column prop="model" :label="$t('public.device_type')"></el-table-column>
        <el-table-column prop="alarm_code" :label="$t('public.alarm_code')"></el-table-column>
        <el-table-column prop="alarm_msg" :label="$t('public.alarm_news')"> </el-table-column>
        <el-table-column prop="alarm_start_time" :label="$t('public.alarm_start_time')">
        </el-table-column>
        <el-table-column prop="alarm_end_time" :label="$t('public.alarm_stop_time')">
        </el-table-column>
        <!-- <el-table-column
          prop="operate"
          label="操作"
          width="100x"
          fixed="right"
          header-align="center"
        >
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="alarmTips(scope.$index, scope.row)"
              size="mini"
              >告警信息</el-button
            >
          </template>
        </el-table-column> -->
      </el-table>

      <!-- 分页插件 -->
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
    <!-- 告警弹窗 -->
    <!-- <el-dialog
      title="告警信息"
      :visible.sync="dialogFormVisible"
      @close="close"
    >
      <el-table
        :data="tipsList"
        style="width: 100%"
        class="talble-user"
        height="70%"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          prop="sort"
          label="序号"
          width="80"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column
          prop="station_code"
          label="设备名称"
          fixed
        ></el-table-column>
        <el-table-column prop="name" label="设备编号"></el-table-column>
        <el-table-column prop="country" label="告警时间"></el-table-column>
        <el-table-column prop="province" label="告警名称"></el-table-column>
        <el-table-column prop="site_num" label="告警信息"></el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        layout="total, prev, pager, next, jumper"
        :total="1"
        style="text-align: center;"
      >
      </el-pagination>
    </el-dialog> -->
  </div>
</template>

<script>
import {
  getHisAlarmList,
  getCustomerAllList,
  getStationNameList,
} from "@/utils/api.js";
export default {
  name: "alarm",
  data() {
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      labelWidth: "150px",
      inputWidth: "width: 240px;",
      dialogFormVisible: false,
      form: {
        operator: "",
      },
      operator: "",
      operatorOptions: [],
      id: "",
      idOptions: [],
      alarmTipsListData: {
        model: "",
        id: "",
        operator: "",
        p: 0,
        pile_code: "",
        size: 10,
      },
      alarmTipsList: [{ sort: 1 }, { sort: 2 }],
      tipsList: [{ sort: 1 }, { sort: 2 }],
      currentPage: 1,
      pageSize: 10,
      totalNum: 0,
      id: "",
      name: "",
      model: "",
      pile_code: "",
      pagelist: [],
    };
  },
  mounted() {
    // 获取告警列表
    this.getAlarmList(this.alarmTipsListData);
    // 获取站点名称列表
    getStationNameList(this.loginUserId).then((res) => {
      if (res.code === 0) {
        this.idOptions = res.data;
      }
    });
    this.selectOperatorOptions();
  },
  methods: {
    // 查询客户管理所有——新增站点对应的条件选择（代理商/服务商/资产归属商/运营商/品牌商）
    selectOperatorOptions() {
      const customer_type = "运营商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.operatorOptions = res.data;
        }
      });
    },
    getAlarmList(data) {
      getHisAlarmList(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          this.alarmTipsList = res.data.list;
          // this.alarmTipsList.forEach((item, index) => {
          //   item.sort = index + 1;
          // });
        }
      });
    },
    handleChooseChange() {},
    handleQuery() {
      this.alarmTipsListData.id = this.id;
      this.alarmTipsListData.operator = this.operator;
      this.alarmTipsListData.name = this.name;
      this.alarmTipsListData.model = this.model;
      this.alarmTipsListData.pile_code = this.pile_code;
      this.getAlarmList(this.alarmTipsListData);
    },
    resetQuery() {
      location.reload();
    },
    handleAlarm() {
      this.$router.push("/editor");
    },
    alarmTips() {
      this.dialogFormVisible = true;
    },
    // 取消弹窗
    cancel() {
      this.dialogFormVisible = false;
    },
    close() {
      this.dialogFormVisible = false;
    },
    // 处理页码
    // handleSizeChange(val) {
    //   console.log(`每页 ${val} 条`);
    // },
    // handleCurrentChange(val) {
    //   console.log(`当前页: ${val}`);
    // },
    //分页相关
    handleSizeChange(size) {
      this.alarmTipsListData.size = size;
      this.handleQuery();
    },
    handleCurrentChange(currentPage) {
      this.alarmTipsListData.p = currentPage - 1;
      this.handleQuery();
    },
  },
};
</script>

<style lang="scss" scoped>
.alarm {
  padding: 20px;
}
</style>
