<template>
  <div class="u-right-content">
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item
          :label="$t('system.account_name')"
          class="form-item"
          prop="user_name"
        >
          <el-input
            v-model="form.user_name"
            :placeholder="$t('system.account_name_check')"
          ></el-input>
        </el-form-item>
        <el-form-item
        :label="$t('public.phone')"
          class="form-item"
          prop="phone"
        >
          <el-input
            v-model="form.phone"
            :placeholder="$t('public.phone_check')"
          ></el-input>
        </el-form-item>
        <el-form-item style="margin-left: 10px;">
          <el-button
            type="primary"
            icon="el-icon-search"
            size="small"
            @click.native="handleQuery()"
            >{{ $t('public.query') }}</el-button
          >
          <el-button
            icon="el-icon-refresh"
            size="small"
            @click="resetQuery"
            type="warning"
            >{{ $t('public.reset') }}</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <div class="table-list">
      <div class="table-btn">
        <el-button
          type="warning"
          icon="el-icon-plus"
          @click="insert"
          style="margin-bottom: 15px"
          >{{ $t('public.add') }}</el-button
        >
      </div>
      <div class="table">
        <el-table
          border
          :data="processedUserList"
          ref="multipleTable"
          style="width: 100%"
          height="600"
        >
          <el-table-column
            prop="sort"
            :label="$t('public.order_number')"
            width="80"
            align="center"
            fixed
          ></el-table-column>
          <el-table-column
            prop="user_name"
            :label="$t('system.account_name')"
            min-width="100"
            fixed
          ></el-table-column>
          <el-table-column
            prop="contact_phone"
            :label="$t('public.contactPhone')"
            min-width="100"
          ></el-table-column>
          <el-table-column
            prop="code"
            :label="$t('system.account_code')"
            min-width="100"
          ></el-table-column>
          <el-table-column
            prop="department"
            :label="$t('system.account_dep')"
            min-width="100"
          ></el-table-column>
          <el-table-column
            prop="email"
            :label="$t('system.account_email')"
            min-width="100"
          ></el-table-column>
          <el-table-column prop="roles" :label="$t('system.role')" min-width="100">
            <template slot-scope="scope">
              {{ scope.row.roleNames.join(", ") }}
            </template>
          </el-table-column>

          <el-table-column prop="orgs" :label="$t('system.org')" min-width="100">
            <template slot-scope="scope">
              {{ scope.row.orgNames.join(", ") }}
            </template>
          </el-table-column>

          <el-table-column prop="status" :label="$t('public.status')" min-width="100">
            <template slot-scope="scope">
              <span v-if="scope.row.status == 1">{{ $t('public.stop') }}</span>
              <span v-else-if="scope.row.status == 0">{{ $t('public.normal') }}</span>
              <span v-else>{{ $t('public.unused') }}</span>
            </template>
          </el-table-column>

          <el-table-column
            prop="operate"
            :label="$t('public.operation')"
            width="250"
            fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="updata(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.edit') }}</el-button
              >
              <el-button
                type="text"
                @click="roleSetting(scope.$index, scope.row)"
                size="mini"
                >{{ $t('system.role_permission') }}</el-button
              >
              <el-button
                type="text"
                @click="orgSetting(scope.$index, scope.row)"
                size="mini"
                >{{ $t('system.org_permission') }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            :data="pagelist"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 15, 20]"
            :page-size="pagesize"
            layout="total,sizes, prev, pager, next, jumper"
            :total="totalNum"
            style="text-align: right"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <!-- 新增或修改账号 -->
    <el-dialog
      :title="dialog_name"
      :width="dialogWidth"
      v-model="dialog_name"
      :visible.sync="dialogFormVisible"
      @close="editDialogClosed"
    >
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" :label-width="formLabelWidth">
        <el-row>
          <el-col>
            <el-form-item
              :label="$t('public.account_email')"
              prop="email"
            >
              <el-input
                v-model="ruleForm.email"
                :disabled="this.dialog_name == $t('system.account_add') ? false : true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="this.dialog_name == $t('system.account_add')">
            <el-form-item
              :label="$t('public.account_pwd')"
              prop="pwd"
            >
              <el-input
                v-model="ruleForm.pwd"
                :show-password="true"
                :placeholder="$t('public.account_pwd_check')"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
              :label="$t('system.account_name')"
              prop="user_name"
            >
              <el-input v-model="ruleForm.user_name"></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
             :label="$t('system.account_dep')"
              prop="department"
            >
              <el-input v-model="ruleForm.department"></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
              :label="$t('system.account_code')"
              prop="code"
            >
              <el-input v-model="ruleForm.code"></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
              :label="$t('system.phone_code')"
              prop="contact_phone_code"
            >
              <vue-country-intl
                class="phone-code"
                v-model="ruleForm.contact_phone_code"
                @onChange="changeSelectCode"
              ></vue-country-intl>
            </el-form-item>
          </el-col>
          <div class="phone">
            <el-col>
              <el-form-item
                prop="contact_phone"
                :label="$t('public.contactPhone')"
              >
                <el-input v-model="ruleForm.contact_phone"></el-input>
              </el-form-item>
            </el-col>
          </div>
          <el-col>
            <el-form-item
              :label="$t('public.status')"
              prop="status"
              class="form-status"
            >
              <el-radio v-model="ruleForm.status" label="0">{{ $t('public.start') }}</el-radio>
              <el-radio v-model="ruleForm.status" label="1">{{ $t('public.stop_use') }}</el-radio>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button
          type="primary"
          @click="add('ruleForm')"
          v-if="this.dialog_name == $t('system.account_add')"
          >{{ $t('public.sure') }}</el-button
        >
        <el-button
          type="primary"
          @click="update('ruleForm')"
          v-if="this.dialog_name == $t('system.account_update')"
          >{{ $t('public.sure') }}</el-button
        >
      </div>
    </el-dialog>
    <el-dialog
      :title="$t('system.apart_role')"
      :visible.sync="dialogFormVisible1"
      :width="dialogWidth"
      @close="close"
    >
      <el-form label-width="80px">
        <el-form-item :label="$t('system.user_name')">
          <el-input disabled :value="username" />
        </el-form-item>

        <el-form-item :label="$t('system.role_list')">
          <el-checkbox-group
            v-model="chooseRoles"
            @change="handleCheckedChange"
          >
            <el-checkbox
              v-for="role in allRoles"
              :key="role.id"
              :label="role.id"
              >{{ role.role_name }}</el-checkbox
            >
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button type="primary" @click="saveRoleSetting">{{ $t('public.save') }}</el-button>
      </div>
    </el-dialog>
    <!-- <el-dialog
      title="组织授权"
      :visible.sync="dialogFormVisible2"
      @close="close"
      width="80%"
      style="min-width: 850px; text-align: center; hight: 50%"
    >
      <div class="dialog-table">
        <el-row>
          <el-col :span="6">
            <div class="org-table">
              <div class="org-table-title">组织</div>
              <el-tree
                ref="tree"
                :data="allOrgs"
                show-checkbox
                node-key="id"
                default-expand-all
                :props="treeProps"
                :default-checked-keys="chooseOrgkeys"
                @check="orgSlectChanges"
              >
              </el-tree>
            </div>
          </el-col>

          <el-col :span="9">
            <div class="search-table">
              <div class="table-top">
                <el-input
                  v-model="orgform.search"
                  style="margin-right: 10px"
                ></el-input>
                <el-button
                  type="primary"
                  icon="el-icon-search"
                  size="small"
                  style="float: right"
                  @click.native="handleOrgQuery()"
                  >查询
                </el-button>
              </div>
              <el-table
                ref="multipleTable"
                :data="newAllSitesName"
                tooltip-effect="dark"
                style="
                  border: 1px solid #ccc;
                  height: 430px;
                  max-height: 430px;
                  overflow-y: auto;
                "
                :header-cell-style="{ 'background-color': '#F8F7F7' }"
                @selection-change="handleAllSelection"
              >
                <el-table-column type="selection" width="65"></el-table-column>
                <el-table-column label="序号" width="65">
                  <template slot-scope="scope">{{ scope.row.key }}</template>
                </el-table-column>
                <el-table-column prop="name" label="站点名称">
                </el-table-column>
              </el-table>
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage4"
                layout="total, prev, pager, next, jumper"
                :total="1"
              >
              </el-pagination>
            </div>
          </el-col>
          <el-col :span="9">
            <div class="search-table">
              <div class="table-top">
                <span class="choose-table-text">已选择站点</span>
                <el-button
                  type="primary"
                  icon="el-icon-circle-check"
                  size="small"
                  style="float: right"
                  @click.native="handleTableQuery()"
                  >确定</el-button
                >
              </div>
              <el-table
                ref="multipleTable2"
                :data="allIdSites"
                tooltip-effect="dark"
                :row-height="44"
                style="
                  border: 1px solid #ccc;
                  height: 430px;
                  max-height: 430px;
                  overflow-y: auto;
                "
                :header-cell-style="{ 'background-color': '#F8F7F7' }"
                :row-style="{ height: '44px' }"
              >
                <el-table-column
                  label="序号"
                  width="100"
                  style="padding-right: 50px"
                >
                  <template slot-scope="scope">{{ scope.row.key }}</template>
                </el-table-column>
                <el-table-column prop="name" label="站点名称">
                </el-table-column>
                <el-table-column prop="name">
                  <template slot-scope="scope">
                    <el-button
                      size="mini"
                      type="text"
                      @click="handleDel(scope.$index, scope.row)"
                      ><i class="el-icon-delete"></i
                    ></el-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </el-col>
        </el-row>
      </div>
    </el-dialog> -->

    <el-dialog
      :title="$t('system.org_permission')"
      :visible.sync="dialogFormVisible2"
      :width="dialogWidth"
      @close="close"
    >
      <el-form label-width="80px">
        <el-form-item :label="$t('system.user_name')">
          <el-input disabled :value="username" />
        </el-form-item>

        <el-form-item :label="$t('system.org_list')">
          <el-checkbox-group v-model="chooseOrgkeys" @change="orgSlectChanges">
            <el-checkbox v-for="org in allOrgs" :key="org.id" :label="org.id">{{
              org.org_name
            }}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button type="primary" @click="saveOrgsSetting">{{ $t('public.save') }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
import {
  getUserlist,
  addUser,
  updateUser,
  setRoleMenu,
  grouplist,
  getIdOrgs,
  setOrgMenu,
  getAllSitesName,
  getIdSites,
  setOrgPermission,
  getAllList,
  getOrgList,
} from "@/utils/api.js";
import qs from "qs";
export default {
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!value || value.length < 5) {
        callback(new Error(this.$t('public.account_check')));
      } else {
        callback();
      }
    };
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      newAllSitesName: [],
      orgform: {},
      allSitesName: [],
      allIdSites: [],
      selectedRows: [],
      value3: [1],
      value4: [1],
      onlyValue: true,
      phone: "",
      choosekeys: [],
      chooseOrgkeys: [], //tree中默认选中key
      halfCheckedKeys: [], //tree中默认半选中key
      allOrgs: [], //tree素有角色key
      selectedOrgIds: [], //储存选择组织的id
      treeProps: {
        label: "org_name",
        children: "sysOrg",
      },
      dialogWidth: "40%", // 弹窗宽度，可以是像素值或百分比
      dialogHeight: "400px", // 弹窗高度，可以是像素值或百分比
      selectedRoleIds: [], // 存储选中的角色ID
      username: "用户名", // 示例中的用户名
      user_id: "",
      roles: [],
      checkAll: false,
      isIndeterminate: true,
      chooseRoles: [], // 用户选择的角色ID列表
      allRoles: [], // 示例中的所有角色列表

      roleMenu: "",
      UserInforList: {
        id: JSON.parse(sessionStorage.getItem("userInfo")).id,
        p: 0,
        phone: "",
        size: 10,
        user_name: "",
      },
      form: {
        user_name: "",
        phone: "",
      },
      areaCode: "+86",
      options: [
        {
          value: "+86",
          label: "+86",
        },
        {
          value: "+85",
          label: "+85",
        },
        {
          value: "+84",
          label: "+84",
        },
      ],
      defaultProps1: {
        children: "orgsList",
        label: "orgName",
      },
      radio: "1",
      userlist: [],
      rolelist: [],
      orglist: [],
      list: [],
      status: "",
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      sysOrgs: [],
      aa: [],
      allMenu: [],
      id: "",
      roleid: "",
      userid: "",
      dialog_name: "",
      dialogFormVisible: false,
      dialogFormVisible1: false,
      dialogFormVisible2: false,
      formLabelWidth: "130px",
      totalNum: 0,
      defaultProps: {
        children: "sysOrgs",
        label: "orgName",
      },

      ruleForm: {
        code: "",
        contact_phone: "",
        contact_phone_code: "",
        department: "",
        email: "",
        pwd: "",
        source: "",
        status: "1",
        type: 3,
        user_name: "",
        id: "",
      },
      sysOrgIdList: [],
      sysRoleIdList: [],
      currentPage4: 1,
      multipleSelection: [],
      rules: {
        contact_phone: [
          { required: true, message: this.$t('system.user_check_phone'), trigger: "change" },
        ],
        contact_phone_code: [
          { required: true, message: this.$t('system.user_phonecode_check'), trigger: "change" },
        ],
        code: [
          { required: true, message: this.$t('system.user_code_check'), trigger: "change" },
        ],
        department: [
          { required: true, message: this.$t('system.user_dep_check'), trigger: "change" },
        ],
        email: [{ required: true, trigger: "blur", validator: validateEmail }],
        pwd: [
          { required: true, message: this.$t('system.user_pwd_check'), trigger: "change" },
          {
            min: 6,
            max: 20,
            message: this.$t('public.account_pwd_check'),
            trigger: "blur",
          },
          {
            pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
            message: this.$t('system.user_err_check'),
            trigger: "change",
          },
          {
            pattern: /^[^\u4e00-\u9fa5]+$/,
            message: this.$t('system.user_ischinese'),
            trigger: "change",
          },
        ],
        status: [
          { required: true, message: this.$t('system.user_statu'), trigger: "change" },
        ],
        user_name: [
          { required: true, message: this.$t('system.user_name_check'), trigger: "change" },
          {
            min: 1,
            max: 18,
            message: this.$t('system.user_name_length'),
            trigger: "change",
          },
          {
            pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/,
            message: this.$t('system.user_err_check'),
            trigger: "change",
          },
        ],
      },
    };
  },

  computed: {
    processedUserList() {
      return this.userlist.map((user) => ({
        ...user,
        roleNames: user.roleList.map((role) => role.role_name),
        contact_phone: user.contact_phone_code
          ? "+" + user.contact_phone_code + user.contact_phone
          : user.contact_phone,
        orgNames: user.orgList.map((org) => org.org_name),
      }));
    },
  },
  components: {
    Breadcrumb,
  },
  mounted() {
    this.searchUserList(this.UserInforList);
  },
  methods: {
    handleAllSelection(selection) {
      // 过滤掉在第二个表格中已经存在的数据，并将选中的站点信息添加到第二个表格的 allIdSites 数组中
      const filteredSelection = selection.filter(
        (site) => !this.allIdSites.some((item) => item.id === site.id)
      );
      this.allIdSites = [...this.allIdSites, ...filteredSelection];
    },
    handleDel(index, row) {
      // 处理删除操作，并从第二个表格的 allIdSites 数组中移除已删除的站点信息
      const deletedId = row.id;
      this.allIdSites = this.allIdSites.filter((site) => site.id !== deletedId);
    },
    // 组织授权
    handleTableQuery() {
      const obj = {
        area: "",
        city: "",
        country: "",
        province: "",
        stationName: "",
        user_id: this.loginUserId,
      };
      setOrgPermission(obj).then((res) => {
        if (res.code === 0) {
          this.$alert("授权成功", "提示", {
            confirmButtonText: "确定",
          });
        } else {
          this.$alert("授权失败", "提示", {
            confirmButtonText: "确定",
          });
        }
      });
    },
    // 根据选择组织请求站点
    handleOrgQuery() {},
    handleChange(value, direction, movedKeys) {},
    changeSelectCode(val) {
      this.ruleForm.contact_phone_code = val && val.dialCode;
    },
    orgSlectChanges(checkedOrgs) {
      // console.log("orgSlectChanges  checked:", checked);
      // this.chooseOrgkeys = checked.checkedKeys;
      // this.halfCheckedKeys = checked.halfCheckedKeys;

      this.selectedOrgIds = this.allOrgs
        .filter((org) => checkedOrgs.includes(org.id))
        .map((org) => org.id);
      // 角色复选框变化时的方法
      const totalRoles = this.allOrgs.length;
      const checkedCount = checkedOrgs.length;
      this.checkAll = checkedCount === totalRoles;
      this.isIndeterminate = checkedCount > 0 && checkedCount < totalRoles;
    },
    saveRoleSetting() {
      this.dialogFormVisible1 = false;
      const obj = {
        role_id: this.selectedRoleIds,
        user_id: this.user_id,
      };
      setRoleMenu(obj).then((res) => {
        const data = {
          p: this.currentPage - 1,
          phone: this.form.contact_phone_code,
          size: this.pagesize,
          user_name: this.form.user_name,
        };
        this.searchUserList(data);
      });
    },
    close() {
      // 关闭弹窗的方法
      this.dialogFormVisible1 = false;
    },
    handleCheckAllChange(checked) {},
    handleCheckedChange(checkedRoles) {
      this.selectedRoleIds = this.allRoles
        .filter((role) => checkedRoles.includes(role.id))
        .map((role) => role.id);
      // 角色复选框变化时的方法
      const totalRoles = this.allRoles.length;
      const checkedCount = checkedRoles.length;
      this.checkAll = checkedCount === totalRoles;
      this.isIndeterminate = checkedCount > 0 && checkedCount < totalRoles;
    },

    searchUserList(data) {
      getUserlist(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          // 添加序号sort
          this.userlist = res.data.userInfoList;
          // this.roles = res.data.userInfoList.roleList;

          this.userlist.forEach((item, index) => {
            item.sort = index + 1;
          });
        }
      });
    },
    beforeRouteEnter(to, from, next) {
      next((vm) => {
        vm.pageselect();
      });
    },
    sumbit() {
      let obj = {
        org_id: this.chooseOrgkeys.concat(this.halfCheckedKeys),
        station_management_id: [],
        user_id: this.user_id,
      };
      setOrgMenu(obj).then((res) => {
        this.dialogFormVisible2 = false;
        if (res.code === 0) {
          this.$alert("分配组织成功", "提示", {
            confirmButtonText: "确定",
            callback: (action) => {},
          });
        } else {
          this.$alert("分配组织失败", "提示", {
            confirmButtonText: "确定",
          });
        }
      });
    },
    changeTree(listData) {
      // 获取传进来的
      // eslint-disable-next-line eqeqeq
      if (listData != null && listData.length != 0) {
        for (var i = 0; i < listData.length; i++) {
          this.allMenu.push(listData[i].id);
          this.changeTree(listData[i].sysOrgs);
        }
      }
    },
    renderFunc(h, option) {
      return (
        <span>
          {option.key} - {option.label}
        </span>
      );
    },
    // 分配组织
    orgSetting(row, index) {
      //       this.clearDefaultKeys();
      this.username = index.user_name;
      const userId = JSON.parse(sessionStorage.getItem("userInfo")).id;
      this.user_id = index.id;
      this.dialogFormVisible2 = true;
      getOrgList(userId).then((res) => {
        if (res.code === 0) {
          this.allOrgs = res.data;
        }
      });
      //获取回显数据
      this.chooseOrgkeys = index.orgList.map((org) => org.id);

      //   const obj = {
      //     area: "",
      //     city: "",
      //     country: "",
      //     province: "",
      //     stationName: "",
      //     user_id: this.loginUserId,
      //   };
      //   // 获取所有站点
      //   this.getAllSites(obj);
      //   // 根据列表id获取已有站点列表
      //   this.getAllIdSites(this.user_id);
      //   // 获取所有分配组织
      //   this.getAllgoupList();
      // },
      // // 获取所有站点
      // getAllSites(data) {
      //   getAllSitesName(data).then((res) => {
      //     if (res.code === 0) {
      //       this.allSitesName = res.data;
      //       let currentId = 1;
      //       this.newAllSitesName = this.allSitesName.map((item) => {
      //         return {
      //           key: currentId++,
      //           name: item.name,
      //           id: item.id, // 保留原始的id
      //         };
      //       });
      //     }
      //   });
    },
    // 获取所有分配组织
    // getAllgoupList() {
    //   grouplist().then((res) => {
    //     if (res.code === 0) {
    //       this.allOrgs = res.data;
    //     }
    //   });
    // },
    // 根据列表id获取已有站点列表
    getAllIdSites(id) {
      getIdSites(id).then((res) => {
        if (res.code === 0) {
          this.allIdSites = res.data;
          let currentId = 1;
          this.allIdSites = this.allSitesName.map((item) => {
            return {
              key: currentId++,
              name: item.name,
              id: item.id, // 保留原始的id
            };
          });
        }
      });
    },
    clearDefaultKeys() {
      //修改数组
      this.chooseOrgkeys = [];
      /* 注意这里可能会遇到一个问题
      在调用这个方法之前修改了数据，Dom是可能还没有更新完的，
      所以调用之后tree会显示未选中 */
      //调用tree的清空方法
      //Dom还没更新
      //将回调延迟到下次 DOM 更新循环之后执行
      this.$nextTick(function () {
        //Dom更新完毕
        this.$refs.tree.setCheckedKeys([]);
      });
    },
    findEmptySysOrgIds(data, result) {
      data.forEach((item) => {
        if (item.sysOrg.length === 0) {
          result.push(item.id);
        } else {
          this.findEmptySysOrgIds(item.sysOrg, result);
        }
      });
    },

    getLeafkeys(node, arr) {
      const arr1 = [];
      if ((node.sysOrg.length = 0)) {
        arr1.push.apply(node.id);
      } else {
        node.sysOrg.map((item) => this.getLeafkeys(item, arr1));
      }
      return arr1;
    },
    roleadd() {
      let obj = {
        userId: this.userid,
        roleId: this.roleid,
      };
      updaterole(qs.stringify(obj)).then((res) => {
        // console.log(res)
        if (res.data.code === 0) {
          this.$alert("分配角色成功", "提示", {
            confirmButtonText: "确定",
            callback: (action) => {
              this.dialogFormVisible1 = false;
              this.pageselect();
            },
          });
        } else {
          this.$alert("分配角色失败", "提示", {
            confirmButtonText: "确定",
          });
        }
      });
    },
    pageselect() {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // 调用接口 处理逻辑
        // if (flag !== 1) {
        //   this.currentPage = 1;
        // }
        let obj = {
          id: this.loginUserId,
          p: this.currentPage - 1,
          size: this.pagesize,
        };
        getUserlist(obj).then((res) => {
          if (res.code === 0) {
            this.totalNum = res.data.total;
            // 添加序号sort
            this.userlist = res.data.userInfoList;
            this.userlist.forEach((item, index) => {
              item.sort = index + 1;
            });
          }
        });
      }, 600);
    },
    userinput() {
      let name = this.form.name;
      userinput(name).then((res) => {
        this.userlist = res.data.data;
      });
    },
    rolestatus(row, index) {
      if (index.status === 1) {
        this.status = true;
      } else {
        this.status = false;
      }
      let obj = {
        status: this.status,
        id: index.id,
      };
    },
    update(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            user_name: this.ruleForm.user_name,
            department: this.ruleForm.department,
            code: this.ruleForm.code,
            contact_phone: this.ruleForm.contact_phone,
            contact_phone_code: this.ruleForm.contact_phone_code,
            id: this.ruleForm.id,
            email: this.ruleForm.email,
            pwd: "",
            status: parseInt(this.ruleForm.status),
          };
          updateUser(obj).then((res) => {
            if (res.code === 0) {
              this.$alert("修改成功", "提示", {
                confirmButtonText: "确定",
                callback: (action) => {
                  // this.resetQuery();
                  let obj = {
                    p: this.currentPage - 1,
                    size: this.pagesize,
                  };
                  this.searchUserList(obj);
                },
              });
            } else {
              this.$alert("修改失败", "提示");
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    add(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            id: this.loginUserId,
            code: this.ruleForm.code,
            contact_phone: this.ruleForm.contact_phone,
            contact_phone_code: this.ruleForm.contact_phone_code,
            department: this.ruleForm.department,
            email: this.ruleForm.email,
            pwd: this.ruleForm.pwd,
            source: "saas平台",
            status: parseInt(this.ruleForm.status),
            type: 3,
            user_name: this.ruleForm.user_name,
          };
          addUser(obj).then((res) => {
            if (res.code === 0) {
              this.$alert("新增成功", "提示", {
                confirmButtonText: "确定",
                callback: (action) => {
                  this.resetQuery();
                },
              });
            } else {
              this.$alert("新增失败", "提示", {
                confirmButtonText: "确定",
              });
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    handleSizeChange(size) {
      this.pagesize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    insert() {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('system.account_add');
    },
    cancel() {
      this.dialogFormVisible = false;
      this.dialogFormVisible1 = false;
      this.dialogFormVisible2 = false;
    },
    editDialogClosed() {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },
    resetDialogForm() {
      if (this.$refs["ruleForm"] !== undefined) {
        this.$refs["ruleForm"].resetFields();
      }
      for (let i in this.ruleForm) {
        this.ruleForm[i] = "";
      }
    },
    updata(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('system.account_update');
      this.resetDialogForm();
      this.ruleForm = { ...index };
      this.ruleForm.status = this.ruleForm.status.toString();
      if (this.ruleForm.contact_phone) {
        // Remove contact_phone_code and "+" sign from contact_phone
        this.ruleForm.contact_phone = this.ruleForm.contact_phone.replace(
          "+" + this.ruleForm.contact_phone_code,
          ""
        );
      }
    },
    roleSetting(row, index) {
      this.dialogFormVisible1 = true;
      this.username = index.user_name;
      this.user_id = index.id;
      // const data = {
      //   id: this.loginUserId,
      //   p: 0,
      //   size: 100,
      // };
      // // 获取所有角色
      // getRoles(data).then((res) => {
      //   if (res.code === 0) {
      //     this.allRoles = res.data.list;
      //   }
      // });
      getAllList().then((res) => {
        if (res.code === 0) {
          this.allRoles = res.data;
        }
      });
      // 获取选中的角色
      const user = this.userlist.find((item) => item.id === this.user_id);
      this.chooseRoles = user.roleList.map((role) => role.id);
    },
    handleQuery() {
      this.UserInforList.user_name = this.form.user_name;
      this.UserInforList.phone = this.form.phone;
      this.searchUserList(this.UserInforList);
    },
    resetQuery() {
      this.form.user_name = "";
      this.form.phone = "";
      this.UserInforList.user_name = this.form.user_name;
      this.UserInforList.phone = this.form.phone;
      this.searchUserList(this.UserInforList);
    },
    saveOrgsSetting() {
      this.dialogFormVisible2 = false;
      const obj = {
        org_id: this.selectedOrgIds,
        user_id: this.user_id,
      };
      setOrgMenu(obj).then((res) => {
        const data = {
          p: this.currentPage - 1,
          phone: this.form.contact_phone_code,
          size: this.pagesize,
          user_name: this.form.user_name,
        };
        this.searchUserList(data);
      });
    },
  },
  watch: {
    processedUserList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.u-right-content {
  padding: 20px;
  .form-status {
   ::v-deep.el-form-item__content {
    padding-top: 9px;
   }
  }
}
.phone-code {
  ::v-deep.country-intl-label {
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
  }
  ::v-deep.country-intl-input {
    height: 36px;
  }
}
.table {
  padding-bottom: 45px;
  max-width: 100%;
  overflow-x: auto;
}
.table-pagination {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px; /* 添加一些内边距以分隔页码和内容 */
  background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
  text-align: right; /* 将页码对齐到右侧 */
}
.dialog-table {
  width: 100%;
  height: 100%;
  background-color: #edf1f7;
  .org-table {
    height: 550px;
    margin: 8px 11px 19px 22px;
    padding-left: 22px;
    background-color: #fff;
    border-radius: 4px;
    .org-table-title {
      text-align: left;
      padding-top: 15px;
      margin-bottom: 23px;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }
  }
  .search-table {
    height: 550px;
    padding: 15px 22px;
    margin: 8px 11px 19px 0;
    background-color: #fff;
    border-radius: 4px;
    .table-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      .choose-table-text {
        // vertical-align: middle;
        line-height: 33px;
      }
    }
  }
}
</style>
