<template>
  <div class="sidebar-logo-container" :class="{ collapse: collapse }">
    <transition name="sidebarLogoFade">
      <router-link
        v-if="collapse"
        key="collapse"
        class="sidebar-logo-link"
        to="/"
      >
        <img v-if="logo" src="@/assets/logo.png" class="sidebar-logo-fold"/>
        <!-- <hamburger
          v-if="logo"
          :is-active="sidebar.opened"
          id="hamburger-container"
          class="hamburger-container"
          @toggleClick="toggleSideBar"
        /> -->
        <h1 class="sidebar-title">{{ title }}</h1>
      </router-link>
      <router-link v-else key="expand" class="sidebar-logo-link" to="/">
        <img v-if="logo" src="@/assets/logo.png" class="sidebar-logo" />
        <h1 class="sidebar-title">{{ title }}</h1>
        <!-- <hamburger
          :is-active="sidebar.opened"
          id="hamburger-container"
          class="hamburger-container"
          @toggleClick="toggleSideBar"
        /> -->
      </router-link>
    </transition>
  </div>
</template>

<script>
import Hamburger from "@/components/Hamburger";
import { mapGetters } from "vuex";
export default {
  name: "SidebarLogo",
  components: {
    Hamburger,
  },
  props: {
    collapse: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      title: this.$t('sidebar.logoTitle'),
      logo: "@/assets/logo.png",
    };
  },
  computed: {
    ...mapGetters(["sidebar"]),
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
  }
};
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 66px;
  line-height: 50px;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;

  & .sidebar-logo-fold {
    width: 30px;
    padding-top: 36px;
  }
  & .sidebar-logo-link {
    height: 100%;
    width: 100%;

    & .sidebar-logo {
      position: absolute;
      top: 30%;
      left: 23px;
      width: 46px;
      margin-right: 12px;
    }

    & .sidebar-title {
      width: 100%;
      height: 100%;
      padding-left: 100px;
      display: flex;
      align-items: center;
      margin: 0;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    }
    & .hamburger-container {
      height: 100%;
      float: right;
      margin-top: 25px;
      cursor: pointer;
      transition: background 0.3s;
      -webkit-tap-highlight-color: transparent;
      // background-color: #fff;

      &:hover {
        background: #fff(0, 0, 0, 0.025);
      }
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
