<template>
  <div class="Invalid-order">
    <el-form
      :inline="true"
      ref="form"
      :model="form"
      class="form-main"
      :label-width="labelWidth"
    >
      <el-form-item
        label="订单号"
        class="form-item"
        style="width: 300px"
        prop="operator"
      >
        <el-input v-model="form.operator"></el-input>
      </el-form-item>
      <el-form-item
        label="订单时间"
        class="form-item"
        style="width: 300px"
        prop="operator"
      >
        <el-input
          v-model="form.operator"
          placeholder="开始时间~结束时间"
        ></el-input>
      </el-form-item>
      <el-form-item label="代理商" prop="brand_owner">
        <template>
          <el-select v-model="form.brand_owner" filterable placeholder="请选择">
            <el-option
              v-for="option in brandOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        label="用户邮箱"
        class="form-item"
        style="width: 300px"
        prop="version"
      >
        <el-input v-model="form.version" placeholder=""></el-input>
      </el-form-item>
      <el-form-item v-if="isFold" label="运营商" prop="status">
        <template>
          <el-select v-model="form.status" filterable placeholder="请选择">
            <el-option
              v-for="option in statusOptions2"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item v-if="isFold" label="站点" prop="service_provider">
        <template>
          <el-select
            v-model="form.service_provider"
            filterable
            placeholder="请选择"
          >
            <el-option
              v-for="option in serviceOptions"
              :key="option.id"
              :label="option.user_name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
      <el-form-item
        label="设备编号"
        class="form-item"
        style="width: 300px"
        prop="version"
        v-if="isFold"
      >
        <el-input v-model="form.version" placeholder=""></el-input>
      </el-form-item>
      <el-form-item v-if="isFold" label="品牌商" prop="status">
        <template>
          <el-select v-model="form.status" filterable placeholder="请选择">
            <el-option
              v-for="option in statusOptions2"
              :key="option.id"
              :label="option.name"
              :value="option.id"
            >
            </el-option>
          </el-select>
        </template>
      </el-form-item>
    </el-form>
    <p style="text-align: center">
      <el-button
        type="primary"
        icon="el-icon-search"
        size="small"
        @click.native="handleQuery"
        >查询</el-button
      >
      <el-button
        type="warning"
        icon="el-icon-refresh"
        size="small"
        @click="resetQuery"
        >重置</el-button
      >
      <el-button type="text" @click="fold"
        >{{ foldName }}<i :class="foldIcon"></i
      ></el-button>
    </p>
    <!-- 订单列表 -->
    <div class="table">
      <el-table
        border
        :data="orderList"
        ref="multipleTable"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          prop="sort"
          label="序号"
          width="60"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column prop="pile_code" label="订单号" fixed min-width="180"
          ><template slot-scope="scope">
            <span
              style="color: orange; cursor: pointer"
              @click="showDetail(scope.row)"
              >{{ scope.row.pile_code }}</span
            >
          </template></el-table-column
        >
        <el-table-column
          prop="stationName"
          label="无效原因"
          min-width="200"
        ></el-table-column>
        <el-table-column
          prop="model"
          label="订单时间"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="订单来源"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="启动方式"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="充电时长（分）"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="充电电量(度)"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="充电站"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="设备编号"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="运营商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="品牌商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="代理商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="服务商"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          label="用户邮箱"
          min-width="100"
          fixed="right"
        ></el-table-column>
      </el-table>
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getPileManagement,
  addPileManagement,
  editPileManagement,
  getStationNameList,
  getDataTypeList,
  getCustomerAllList,
} from "@/utils/api.js";
import { handleDate } from "@/utils/common.js";
export default {
  name: "InvalidOrder",
  data() {
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      labelWidth: "100px",
      dialog_name: "",
      isShowDetail: true,
      isFold: false,
      foldName: "展开",
      foldIcon: "el-icon-arrow-down",
      form: {
        station_management_id: sessionStorage.getItem("managementId"),
      },
      detailForm: {},
      addForm: {},
      chargingTypeOptions: [],
      defaultChargingType: "",
      intStandardOptions: [
        { id: "1", name: "2015国标" },
        { id: "2", name: "美标" },
        { id: "3", name: "欧标" },
      ],
      assetBelongOptions: [],
      numOptions: [
        { id: 1, name: "1枪" },
        { id: 2, name: "2枪" },
        { id: 3, name: "3枪" },
        { id: 4, name: "4枪" },
        { id: 5, name: "5枪" },
        { id: 6, name: "6枪" },
      ],
      statusOptions2: [
        { id: 1, name: "未安装" },
        { id: 2, name: "安装中" },
        { id: 3, name: "使用中" },
        { id: 4, name: "维修/维护" },
        { id: 5, name: "报废" },
      ],
      emodelOptions: [
        { id: "1", name: "交流" },
        { id: "2", name: "直流" },
        { id: "3", name: "交直一体" },
      ],
      devStyleOptions: [
        { id: "1", name: "AC" },
        { id: "2", name: "DC" },
      ],
      defaultEmodel: "",
      agreementOptions: [
        { id: "1", name: "OCPP1.6" },
        { id: "2", name: "OCPP2.0" },
      ],
      belongOptions: [],
      idOptions: [],
      modelOptions: [],
      chooseType: "",
      allChargeTypes: [],
      statusOptions: [],
      brandOptions: [],
      serviceOptions: [],
      agentOptions: [],
      orderList: [],
      currentPage: 1,
      pageSize: 10,
      pagelist: [],
      totalNum: 0,
      otaList: [{ sort: 1 }, { sort: 2 }],
      rules: {
        protocol_management_id: [
          { required: true, message: "请输入设备协议", trigger: "change" },
        ],
      },
    };
  },
  mounted() {
    // 获取站点名称列表
    getStationNameList(this.loginUserId).then((res) => {
      if (res.code === 0) {
        this.belongOptions = res.data;
      }
    });
    const obj = {
      code: "pileChargeType",
      language: "CN",
    };
    // 获取字典中充电口类型
    getDataTypeList(obj).then((res) => {
      if (res.code === 0) {
        this.chargingTypeOptions = res.data;
      }
    });
    // 获取客户管理代理商、服务商、品牌商条件选择
    this.selectBrandOptions();
    this.selectServiceOptions();
    this.selectAgentOptions();
    this.selectAssetOptions();
  },
  methods: {
    // 查询客户管理所有——新增站点对应的条件选择（代理商/服务商/资产归属商/运营商/品牌商）
    selectBrandOptions() {
      const customer_type = "品牌商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.brandOptions = res.data;
        }
      });
    },
    selectServiceOptions() {
      const customer_type = "服务商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.serviceOptions = res.data;
        }
      });
    },
    selectAgentOptions() {
      const customer_type = "代理商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.agentOptions = res.data;
        }
      });
    },
    selectAssetOptions() {
      const customer_type = "资产归属商";
      getCustomerAllList(this.loginUserId, customer_type).then((res) => {
        if (res.code === 0) {
          this.assetBelongOptions = res.data;
        }
      });
    },
    getPileList(data) {
      getPileManagement(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          this.orderList = res.data.list;
          this.orderList.forEach((item, index) => {
            item.sort = index + 1;
          });
        }
      });
    },
    showDetail(row) {
      // console.log("showDetail  row:", row)
      // this.detailForm = { ...row }
      this.isShowDetail = true;
    },
    handleQuery() {},
    // 折叠
    fold() {
      this.isFold = !this.isFold;
      if (this.isFold) {
        this.foldName = "收起";
        this.foldIcon = "el-icon-arrow-up";
      } else {
        this.foldName = "展开";
        this.foldIcon = "el-icon-arrow-down";
      }
    },

    close() {
      this.isShowDetail = false;
    },
    // 清空新增列表
    clearFormFields(form) {
      for (let key in form) {
        form[key] = "";
      }
    },
    resetQuery() {
      this.clearFormFields(this.form);
    },
    handleSizeChange(size) {
      this.pageSize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    pageselect() {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // 调用接口 处理逻辑
        // if (flag !== 1) {
        //   this.currentPage = 1;
        // }
        let obj = {
          id: this.loginUserId,
          p: this.currentPage - 1,
          size: this.pageSize,
        };
        getPileManagement(obj).then((res) => {
          if (res.code === 0) {
            this.totalNum = res.data.total;
            // 添加序号sort
            this.orderList = res.data.list;
            this.orderList.forEach((item, index) => {
              item.sort = index + 1;
            });
          }
        });
      }, 600);
    },
  },
  watch: {
    orderList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.Invalid-order {
  padding: 20px;
  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }
  .table-pagination {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px; /* 添加一些内边距以分隔页码和内容 */
    background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
    text-align: right; /* 将页码对齐到右侧 */
  }
  // 表格样式修改行高
  ::v-deep .el-table .cell {
    white-space: nowrap; // 度娘的答案全都不好用关键在 /deep/
  }

  .el-table ::v-deep th {
    //padding: 0;
    white-space: nowrap;
    //min-width: fit-content;
  }

  .el-table ::v-deep td {
    //padding: 1px;
    white-space: nowrap;
    width: fit-content;
  }

  .el-table ::v-deep .cell {
    white-space: nowrap;
    width: fit-content;
  }
}
</style>
