<template>
  <div class="dic_mian">
    <div class="dic_body">
      <div class="dic_body_right">
        <div class="dic_body_title">
          <el-form :inline="true" ref="form" :model="form" label-width="100px">
            <el-form-item>
              <el-input
                v-model="form.name"
                :placeholder="$t('system.insert_dic')"
                @input="select"
                style="width: 250px"
              ></el-input>
            </el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              style="margin-bottom: 15px"
              @click="select"
              >{{ $t("public.search") }}</el-button
            >
          </el-form>
          <el-button type="warning" icon="el-icon-plus" @click="insert">{{
            $t("public.add")
          }}</el-button>
          <div class="table">
            <el-table
              :data="pagelist"
              ref="multipleTable"
              border
              style="width: 100%; margin-top: 30px"
              height="600"
            >
              <el-table-column
                prop="name"
                :label="$t('system.dic_name')"
                fixed
                min-width="100"
              ></el-table-column>
              <el-table-column
                prop="code"
                :label="$t('system.dic_code')"
                min-width="100"
              ></el-table-column>
              <el-table-column
                prop="sort"
                :label="$t('public.order_number')"
                min-width="100"
              ></el-table-column>
              <el-table-column
                prop="remark"
                :label="$t('system.dic_remark')"
                min-width="100"
              >
              </el-table-column>
              <el-table-column
                prop="operate"
                :label="$t('public.operation')"
                min-width="150"
                fixed="right"
              >
                <template slot-scope="scope">
                  <el-button
                    type="text"
                    @click="updata(scope.$index, scope.row)"
                    size="mini"
                    >{{ $t("public.update") }}</el-button
                  >
                  <el-button
                    type="text"
                    @click="deldata(scope.$index, scope.row)"
                    size="mini"
                    >{{ $t("public.delete") }}</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </div>

          <div class="table-pagination">
            <el-pagination
              background
              :data="pagelist"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="currentPage"
              :page-sizes="[10, 15, 20]"
              :page-size="pagesize"
              layout="total,sizes, prev, pager, next, jumper"
              :total="totalNum"
              style="text-align: right"
            >
            </el-pagination>
          </div>
        </div>
      </div>
      <el-dialog
        :title="dialog_name"
        v-model="dialog_name"
        :visible.sync="dialogFormVisible"
        @close="editDialogClosed"
        :width="dialogWidth"
      >
        <el-form
          :model="ruleForm"
          :rules="rules"
          inline
          ref="ruleForm"
          :label-width="formLabelWidth"
        >
          <el-form-item :label="$t('system.dic_name')" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
          <el-form-item :label="$t('system.dic_code')" prop="code">
            <el-input v-model="ruleForm.code"></el-input>
          </el-form-item>
          <el-form-item :label="$t('system.dic_remark')" prop="remark">
            <el-input v-model="ruleForm.remark"></el-input>
          </el-form-item>
          <el-form-item :label="$t('public.sort')" prop="sort">
            <el-input-number
              v-model="ruleForm.sort"
              size="small"
              controls-position="right"
              :min="1"
            ></el-input-number>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="to">{{ $t("public.cancel") }}</el-button>
          <el-button
            type="primary"
            @click="add('ruleForm')"
            v-if="this.dialog_name == $t('system.dic_add')"
            >{{ $t("public.sure") }}</el-button
          >
          <el-button
            type="primary"
            @click="update('ruleForm')"
            v-if="this.dialog_name == $t('system.dic_update')"
            >{{ $t("public.sure") }}</el-button
          >
        </div>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import qs from "qs";
import { getDicValue, dicAdd, dicUpdate, dicdelete } from "@/utils/api.js";
export default {
  data() {
    return {
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      dicData: {
        index: "",
        p: 0,
        size: 10,
      },
      ruleForm: {
        creater: "",
        type: "",
        name: "",
        remark: "",
        code: "110",
        language: "CN",
        sort: 0,
        status: 1,
        user_id: "001",
      },
      form: {
        name: "",
      },
      rules: {
        code: [
          {
            required: true,
            message: this.$t("system.dic_input_code"),
            trigger: "blur",
          },
        ],
        name: [
          {
            required: true,
            message: this.$t("system.dic_input_name"),
            trigger: "blur",
          },
        ],
        sort: [
          {
            required: true,
            message: this.$t("system.dic_input_sort"),
            trigger: "blur",
          },
        ],
        remark: [
          {
            required: true,
            message: this.$t("system.dic_input_mark"),
            trigger: "blur",
          },
        ],
      },
      status: "",
      dialog_name: "",
      dialogFormVisible: false,
      formLabelWidth: "150px",
      currentPage: 1,
      pagesize: 10,
      pagelist: [],
      pagelist1: [],
      totalNum: 0,
    };
  },
  mounted() {
    this.getDicMenu(this.dicData);
  },
  components: {},
  methods: {
    getDicMenu(data) {
      getDicValue(data).then((res) => {
        if (res.code === 0) {
          this.pagelist = res.data.list;
          this.totalNum = res.data.total;
        }
      });
    },
    pageselect() {
      let obj = {
        p: this.currentPage - 1,
        size: this.pagesize,
        index: this.form.name,
      };
      this.getDicMenu(obj);
    },
    select() {
      let obj = {
        index: this.form.name,
        p: this.currentPage - 1,
        size: this.pagesize,
      };
      this.getDicMenu(obj);
    },
    rolestatus(row, index) {
      if (index.status === 1) {
        this.status = true;
      } else {
        this.status = false;
      }
      let obj = {
        status: this.status,
        id: index.id,
      };
      dicvaluestatus(qs.stringify(obj)).then((res) => {});
    },
    update(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            id: this.ruleForm.id,
            language: this.ruleForm.language,
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            sort: this.ruleForm.sort,
            status: this.ruleForm.status,
          };
          dicUpdate(obj).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t("public.update_success"), "提示", {
                confirmButtonText: "确定",
                callback: (action) => {
                  const data = {
                    index: this.ruleForm.name,
                    p: this.currentPage - 1,
                    size: this.pagesize,
                  };
                  this.getDicMenu(data);
                },
              });
            } else {
              this.$alert("修改失败", "提示");
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    add(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            code: this.ruleForm.code,
            language: this.ruleForm.language,
            name: this.ruleForm.name,
            remark: this.ruleForm.remark,
            sort: this.ruleForm.sort,
            status: 1,
            user_id: 2,
          };
          dicAdd(obj)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.add_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.add_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.add_fail"),
                type: "error",
              });
            });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    to() {
      this.$refs.ruleForm.resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },
    resetDialogForm() {
      this.ruleForm.creater = "";
      this.ruleForm.type = "";
      this.ruleForm.name = "";
      this.ruleForm.remark = "";
      this.ruleForm.code = "";
      this.ruleForm.sort = "";
      this.ruleForm.status = "";
      this.ruleForm.user_id = "";
    },
    editDialogClosed() {
      this.$refs.ruleForm.resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },
    updata(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t("system.dic_update");
      this.resetDialogForm();
      this.ruleForm = { ...index };
    },
    // 删除字典
    async deldata(index, row) {
      try {
        await this.showConfirmation();
        await this.deleteDic(row.id);
        const data = {
          index: this.ruleForm.name,
          p: this.currentPage - 1,
          size: this.pagesize,
        };
        await this.getDicMenu(data);
      } catch (error) {
        console.error(error);
        // 处理错误情况
      }
    },

    showConfirmation() {
      return new Promise((resolve, reject) => {
        this.$confirm(
          this.$t("system.dic_sure_del"),
          this.$t("system.dic_del"),
          {
            confirmButtonText: this.$t("public.delete"),
            cancelButtonText: this.$t("public.cancel"),
            type: "warning",
          }
        )
          .then(() => {
            resolve();
          })
          .catch(() => {
            reject(new Error(this.$t("Confirmation canceled.")));
          });
      });
    },

    async deleteDic(id) {
      const res = await dicdelete(id);
      if (res.code !== 0) {
        this.$message.error(this.$t("public.delete_fail"));
      } else {
        this.$message({
          message: this.$t("public.delete_success"),
          type: "success",
        });
      }
    },
    insert() {
      this.resetDialogForm();
      this.dialogFormVisible = true;
      this.dialog_name = this.$t("system.dic_add");
    },
    handleSizeChange(size) {
      this.pagesize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
  },
  watch: {
    pagelist: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>
<style scoped>
.dic_body_right {
  border: 0px solid black;
  height: 100%;
  width: 100%;
}
.dic_body_title {
  height: 85%;
  padding: 1%;
}
.dic_body {
  display: flex;
  width: 100%;
  height: 100%;
}
.dic_mian {
  padding: 15px;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.table {
  padding-bottom: 45px;
  max-width: 100%;
  overflow-x: auto;
}
.table-pagination {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px; /* 添加一些内边距以分隔页码和内容 */
  background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
  text-align: right; /* 将页码对齐到右侧 */
}
</style>
