<template>
  <div :class="className" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
require("echarts/theme/macarons"); // echarts theme
import resize from "./mixins/resize";

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: "chart",
    },
    width: {
      type: String,
      default: "100%",
    },
    height: {
      type: String,
      default: "350px",
    },
    autoResize: {
      type: Boolean,
      default: true,
    },
    chartData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      chart: null,
    };
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        this.setOptions(val);
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart();
    });
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, "macarons");
      this.setOptions(this.chartData);
    },
    setOptions({ expectedData, actualData, actualData2 } = {}) {
      this.chart.setOption({
        title: {
          text: "设备效能近30日趋势",
          textStyle: {
            color: "#000",
            fontSize: "16",
            fontWeight: "bolder",
          },
        },
        xAxis: {
          data: [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
          ],
          boundaryGap: false,
          axisTick: {
            show: false,
          },
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
          },
          padding: [5, 10],
        },
        yAxis: {
          axisTick: {
            show: false,
          },
        },
        legend: {
          data: ["充电故障率", "运行故障率", "一次充电成功率"],
        },
        series: [
          {
            name: "充电故障率",
            itemStyle: {
              normal: {
                color: "#59A9FB",
                lineStyle: {
                  color: "#59A9FB",
                  width: 2,
                },
              },
            },
            smooth: false,
            type: "line",
            data: expectedData,
            animationDuration: 2800,
            animationEasing: "cubicInOut",
          },
          {
            name: "运行故障率",
            smooth: false,
            type: "line",
            itemStyle: {
              normal: {
                color: "#FF7590",
                lineStyle: {
                  color: "#FF7590",
                  width: 2,
                },
                areaStyle: {
                  color: "#f3f8ff",
                },
              },
            },
            data: actualData,
            animationDuration: 2800,
            animationEasing: "quadraticOut",
          },
          {
            name: "一次充电成功率",
            smooth: false,
            type: "line",
            itemStyle: {
              normal: {
                color: "#26DE6B",
                lineStyle: {
                  color: "#26DE6B",
                  width: 2,
                },
                areaStyle: {
                  color: "transparent",
                },
              },
            },
            data: actualData2,
            animationDuration: 2800,
            animationEasing: "linear",
          },
        ],
      });
    },
  },
};
</script>
