<template>
  <div class="imgList">
    <el-upload
      ref="uploadImg"
      :multiple="handleMultiple"
      list-type="picture-card"
      action="/longhorn-web/stationManagement/uploadFileByName?fileName='stationimg'"
      :headers="header"
      :show-file-list="true"
      :before-upload="beforeUpload"
      :on-success="uploadOK"
      :file-list="fileList"
      :auto-upload="true"
      :disabled="isUp"
    >
      <i slot="default" class="el-icon-plus"></i>
      <div slot="file" slot-scope="{ file }">
        <img class="el-upload-list__item-thumbnail" :src="file.url" alt="" />
        <span
          class="el-upload-list__item-actions"
          :style="{
            paddingLeft:
              isSee && isLoad && isOff
                ? '14px'
                : (isSee && isLoad) || (isLoad && isOff) || (isSee && isOff)
                ? '27px'
                : isSee || isOff || isOff
                ? '38px'
                : '',
          }"
        >
          <span
            v-if="isSee"
            @click="handlePictureCardPreview(file)"
            class="font"
          >
            <i class="el-icon-view"></i>
          </span>

          <span v-if="isLoad" @click="downloadIamge(file)" class="font">
            <i class="el-icon-download"></i>
          </span>

          <span v-if="isOff" @click="handleRemove(file)" class="font">
            <i class="el-icon-delete"></i>
          </span>
        </span>
      </div>
      <div class="el-upload__tip" slot="tip">
        {{ $t('public.img_tips') }}
      </div>
    </el-upload>
    <el-dialog :visible.sync="dialogVisible" append-to-body>
      <img width="100%" :src="dialogImageUrl" alt="" />
    </el-dialog>
  </div>
</template>

<script>
import { getToken } from "@/utils/auth";
import { downloadFile } from "@/components/fileEcho.js";
export default {
  props: [
    "imgFormat", // 图片检验各格式
    "imgSize", // 图片限制大小
    "imgName", // 图片后缀名，用于上传格式不对提示
    "isDisabled", // 是否禁选
    "isMultiple", // 是否支持多文件上传
    "propertyImg", // 图片list集合
    "handleRefresh", // 资产登记tab icon切换校验
    "isDelete", // 是否显示删除
    "isDownload", // 是否显示下载
    "isPreview", // 是否显示预览
    "isUpload", // 是否禁止上传图片
  ],
  data() {
    return {
      fileName: "",
      header: {
        Authorization: "bearer " + getToken(),
      },
      handleMultiple: !!this.isMultiple || false,
      fileList: [],
      dialogImageUrl: "",
      dialogVisible: false,
      isTips: true,
      isOff: true,
      isLoad: true,
      isSee: true,
      isUp: true,
    };
  },

  watch: {
    propertyImg: function (newVal) {
      let fileArr = [];
      newVal &&
        Array.isArray(newVal) &&
        newVal.length > 0 &&
        newVal.forEach((item) => {
          let obj = {};
          obj.name = item.img;
          obj.url = item.img1;
          fileArr.push(obj);
        });
      this.fileList = fileArr;
      this.isShow = false;
    },
    isDelete: function (boolean) {
      this.isOff = !boolean;
    },
    isDownload: function (boolean) {
      this.isLoad = !boolean;
    },
    isPreview: function (boolean) {
      this.isSee = !boolean;
    },
    isUpload: function (boolean) {
      this.isUp = boolean;
    },
    deep: true,
  },

  created() {
    if (
      this.isDelete === 0 ||
      this.isDelete === "" ||
      this.isDelete === false ||
      this.isDelete === null ||
      this.isDelete === undefined
    ) {
      this.isOff = true;
    } else {
      this.isOff = false;
    }

    if (
      this.isDownload === 0 ||
      this.isDownload === "" ||
      this.isDownload === false ||
      this.isDownload === null ||
      this.isDownload === undefined
    ) {
      this.isLoad = true;
    } else {
      this.isLoad = false;
    }

    if (
      this.isPreview === 0 ||
      this.isPreview === "" ||
      this.isPreview === false ||
      this.isPreview === null ||
      this.isPreview === undefined
    ) {
      this.isSee = true;
    } else {
      this.isSee = false;
    }
    this.isUp = this.isUpload ? true : this.isUpload;
    let fileArr = [];
    let imgListArr = this.propertyImg;
    imgListArr &&
      Array.isArray(imgListArr) &&
      imgListArr.length > 0 &&
      imgListArr.forEach((item) => {
        let obj = {};
        obj.name = item.fileName;
        obj.url = item.path;
        fileArr.push(obj);
      });
    this.fileList = fileArr;
    this.isShow = false;
  },

  methods: {
    beforeUpload(file) {
      this.fileName = file.name;
      this.isTips = true;
      // 判断上传格式
      let isImg = this.imgFormat || [
        "image/jpeg",
        "image/png",
        "image/gif",
        "image/jpg",
      ];
      const isJPG = file.type;
      const isLt2M = file.size / 1024 / 1024 < (Number(this.imgSize) || 30);
      if (isImg.indexOf(isJPG) === -1) {
        this.$message.error(
          `上传图片只能是${this.imgName || "jpeg、png、gif、jpg"}格式!`
        );
        return false;
      }
      if (!isLt2M) {
        this.$message.error(`上传图片大小不能超过${this.imgSize || 30}M`);
        return false;
      }
      return isJPG && isLt2M;
    },

    uploadOK(response, file, fileList) {
      // 图片去重
      let obj = {};
      let peon = fileList.reduce((cur, next) => {
        if (obj[next.name] && this.isTips) {
          this.isTips = false;
          this.$message({
            type: "warning",
            message: "上传图片重复",
          });
        }
        obj[next.name] ? "" : (obj[next.name] = true && cur.push(next));
        return cur;
      }, []);
      this.fileList = peon;
      this.$emit("event", peon);
      this.isShow = false;
      if (typeof this.handleRefresh === "function") {
        this.handleRefresh();
      }
    },

    handleRemove(file) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "温馨提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          let delFileList = this.fileList.filter(
            (item) => item.uid !== file.uid
          );
          this.fileList = delFileList;
          this.$emit("event", delFileList);
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },

    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },

    downloadIamge(file) {
      // 下载图片地址和图片名
      const root = require("../../vue.config.js");
      const base = root.devServer.proxy["/longhorn-web"];
      const basic = base.target;
      const baseUrl = basic.substr(0, basic.length - 1);
      const baseApi = base.pathRewrite["^/longhorn-web"];
      if (file.response) {
        if (file.response.data) {
          if (file.response.data.fileName && file.response.data.fileUrl) {
            downloadFile(
              file.response.data.fileUrl,
              file.response.data.fileName
            );
          }
        }
      } else if (file.url && file.url.indexOf("http://") !== -1) {
        downloadFile(file.url, file.name);
      } else {
        let furl = `${baseUrl}${baseApi}/${file.url}`;
        downloadFile(furl, file.name);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.imgList {
  .el-upload-list__item-actions {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .font {
    display: inline-block;
    width: 10px;
    float: left;
  }
  ::v-deep.el-upload--picture-card {
    width: 100px;
    height: 100px;
    line-height: 110px;
  }
  ::v-deep.el-upload-list--picture-card,
  ::v-deep.el-upload-list__item {
    width: 100px;
    height: 100px;
  }
}
</style>
