<template>
  <div class="help">
    <div class="title">
      <img class="logo" src="@/assets/logo.png" />
      <span class="title-text">充电运营管理平台 - 帮助中心</span>
    </div>
    <div class="content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="常见问题" name="first">
          <div class="type">
            <el-tabs type="border-card">
              <el-tab-pane label="分类1">分类1</el-tab-pane>
              <el-tab-pane label="分类2">分类2</el-tab-pane>
              <el-tab-pane label="分类3">分类3</el-tab-pane>
            </el-tabs>
          </div>
        </el-tab-pane>
        <el-tab-pane label="使用指南（文章）" name="second"
          >使用指南（文章）</el-tab-pane
        >
        <el-tab-pane label="使用指南（视频）" name="third"
          >使用指南（视频）</el-tab-pane
        >
      </el-tabs>
    </div>
  </div>
</template>

<script>
export default {
  name: "helpCenter",
  data() {
    return {
      activeName: "first",
    };
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
  },
};
</script>

<style lang="scss" scoped>
.help {
  padding: 20px;
  height: 100%;
  background-color: rgb(240, 242, 245);
  .title {
    display: flex;
    vertical-align: center;
    margin-bottom: 30px;
    background-color: #fff;
    height: 78px;
    border-radius: 5px;
    .logo {
      padding: 23px;
      margin-left: 6px;
    }
    .title-text {
      margin-left: 15px;
      height: 78px;
      font-size: 18px;
      line-height: 78px;
    }
  }
  .content {
    border-radius: 5px;
    background-color: #fff;
    padding: 25px;
  }
}
</style>
