<template>
  <div class="site">
    <div v-if="!isShowAlarm">
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <!-- <el-form-item label="国家" :label-width="labelWidth" prop="prop">
                    <template>
                        <el-select v-model="defaultCountry" value-key="id" filterable placeholder="请选择" @click.native="selectCountry"
                            @change="chooseCountry">
                            <el-option v-for="option in countryOptions" :key="option.id" :label="option.org_name" :value="option">
                            </el-option>
                        </el-select>
                    </template>
                </el-form-item>
                <el-form-item label="省份" :label-width="labelWidth" prop="prop">
                    <template>
                    <el-select v-model="defaultProvince" value-key="id" filterable placeholder="请选择" @change="chooseProvince">
                        <el-option v-for="option in provinceOptions" :key="option.id" :label="option.org_name" :value="option">
                        </el-option>
                    </el-select>
                    </template>
                </el-form-item> -->
        <el-form-item
          :label="$t('station.brandOwner')"
          :label-width="labelWidth"
          prop="prop"
        >
          <template>
            <el-select
              v-model="defaultBrand"
              filterable
              :placeholder="$t('public.choose')"
              @change="chooseBrandOptions"
            >
              <el-option
                v-for="option in brandOptions"
                :key="option.id"
                :label="option.user_name"
                :value="option.user_name"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item
          :label="$t('station.stationName')"
          :label-width="labelWidth"
          prop="prop"
        >
          <template>
            <el-select
              v-model="defaultId"
              filterable
              :placeholder="$t('public.choose')"
              @change="chooseStationId"
            >
              <el-option
                v-for="option in idOptions"
                :key="option.id"
                :label="option.name"
                :value="option.id"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item
          v-if="isFold"
          :label="$t('station.serviceProvider')"
          :label-width="labelWidth"
          prop="prop"
        >
          <template>
            <el-select
              v-model="defaultsService"
              filterable
              :placeholder="$t('public.choose')"
              @change="chooseServiceOptions"
            >
              <el-option
                v-for="option in serviceOptions"
                :key="option.id"
                :label="option.user_name"
                :value="option.user_name"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item
          v-if="isFold"
          :label="$t('station.agent')"
          :label-width="labelWidth"
          prop="prop"
        >
          <template>
            <el-select
              v-model="defaultAgent"
              filterable
              :placeholder="$t('public.choose')"
              @change="chooseAgentOptions"
            >
              <el-option
                v-for="option in agentOptions"
                :key="option.id"
                :label="option.user_name"
                :value="option.user_name"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>

        <el-form-item
          v-if="isFold"
          :label="$t('station.operator')"
          class="form-item"
          label-width="100px"
          style="width: 300px"
          prop="operator"
        >
          <el-input v-model="siteListData.operator" placeholder=""></el-input>
        </el-form-item>

        <p style="float: right">
          <el-form-item>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="small"
              @click.native="handleQuery"
              >{{ $t("public.query") }}</el-button
            >
            <el-button
              icon="el-icon-refresh"
              size="small"
              @click="resetQuery"
              >{{ $t("public.reset") }}</el-button
            >
            <el-button type="text" @click="fold"
              >{{ foldName }}<i :class="foldIcon"></i
            ></el-button>
          </el-form-item>
        </p>
      </el-form>
      <br />
      <!-- 新增和列表 -->
      <p>
        <el-button
          type="primary"
          icon="el-icon-plus"
          @click="insert"
          style="margin-bottom: 15px"
          >{{ $t("public.add") }}</el-button
        >
        <!-- 告警提醒和表格 -->
        <el-button
          type="warning"
          @click="handleAlarm"
          style="margin-bottom: 15px"
          >{{ $t("station.alarm") }}</el-button
        >
      </p>
      <div class="table">
        <el-table
          border
          :data="siteList"
          style="width: 100%"
          ref="multipleTable"
          class="talble-user"
          height="600"
        >
          <el-table-column
            type="index"
            :label="$t('public.order_number')"
            width="60"
            align="center"
            fixed
          >
          </el-table-column>
          <el-table-column
            prop="station_code"
            :label="$t('station.stationCode')"
            :width="flexColumnWidth('$t(station.stationCode)', 'station_code')"
            align="center"
            fixed
          >
            <template slot-scope="scope">
              <span
                style="color: orange; cursor: pointer"
                @click="showDetail(scope.row)"
                >{{ scope.row.station_code }}</span
              >
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            :label="$t('station.stationName')"
            :width="flexColumnWidth('$t(station.stationName)', 'name')"
            align="center"
            fixed
          >
            <template slot-scope="scope">
              <span
                style="color: orange; cursor: pointer"
                @click="showDetail(scope.row)"
                >{{ scope.row.name }}</span
              >
            </template>
          </el-table-column>
          <el-table-column
            prop="brand_owner"
            :width="flexColumnWidth('$t(station.brandOwner)', 'brand_owner')"
            :label="$t('station.brandOwner')"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="service_provider"
            :width="
              flexColumnWidth('$t(station.serviceProvider)', 'service_provider')
            "
            :label="$t('station.serviceProvider')"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="agent"
            :width="flexColumnWidth('$t(station.agent)', 'agent')"
            :label="$t('station.agent')"
          ></el-table-column>
          <el-table-column
            prop="operator"
            :width="flexColumnWidth('$t(station.operator)', 'operator')"
            :label="$t('station.operator')"
            align="center"
          ></el-table-column>
          <!-- <el-table-column prop="country" label="国家"></el-table-column>
                    <el-table-column prop="province" label="省份"></el-table-column>-->
          <el-table-column
            prop="pileNum"
            :width="flexColumnWidth('$t(station.pileNum)', 'pileNum')"
            :label="$t('station.pileNum')"
            align="center"
          ></el-table-column>
          <el-table-column
            prop="gunNum"
            :width="flexColumnWidth('$t(station.gunNum)', 'gunNum')"
            :label="$t('station.gunNum')"
            align="center"
          >
          </el-table-column>
          <el-table-column
            prop="powerTotal"
            :label="$t('station.powerTotal')"
            :width="flexColumnWidth('$t(station.powerTotal)', 'powerTotal')"
            align="center"
          >
          </el-table-column>
          <el-table-column
            prop="siteStatusName"
            :label="$t('station.siteStatus')"
            :width="flexColumnWidth('$t(station.siteStatus)', 'siteStatusName')"
            align="center"
          >
            <!-- <template slot-scope="scope">
                        <span v-if="scope.row.status == 1">正常</span>
                        <span v-else-if="scope.row.status == 0">停用</span>
                        <span v-else>注销</span>
                    </template> -->
          </el-table-column>

          <el-table-column
            prop="business_hours"
            :label="$t('station.businessHours')"
            :width="
              flexColumnWidth('$t(station.businessHours)', 'business_hours')
            "
            align="center"
          ></el-table-column>
          <el-table-column
            prop="create_time"
            :label="$t('station.createTime')"
            :width="flexColumnWidth('$t(station.createTime)', 'create_time')"
            align="center"
          >
          </el-table-column>
          <el-table-column
            prop="update_time"
            :label="$t('station.updateTime')"
            :width="flexColumnWidth('$t(stationUpdateTime)', 'update_time')"
            align="center"
          >
          </el-table-column>
          <el-table-column
            prop="userName"
            :label="$t('station.inputer')"
            :width="flexColumnWidth('$t(station.inputer)', 'userName')"
            align="center"
          >
          </el-table-column>

          <el-table-column
            prop="operation"
            :label="$t('station.operation')"
            width="300"
            fixed="right"
            align="center"
          >
            <template slot-scope="scope">
              <el-button
                type="primary"
                @click="editor(scope.row)"
                size="mini"
                >{{ $t("station.edit") }}</el-button
              >
              <el-button
                type="primary"
                @click="editorSiteList(scope.row)"
                size="mini"
                >{{ $t("station.pileList") }}</el-button
              >
              <el-button
                type="primary"
                @click="customerSetting(scope.$index, scope.row)"
                size="mini"
                >{{ $t("station.assigningUsers") }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页插件 -->
        <div class="table-pagination">
          <el-pagination
            background
            :data="pagelist"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 15, 20]"
            :page-size="pageSize"
            layout="total,sizes, prev, pager, next, jumper"
            :total="totalNum"
            style="text-align: right"
          >
          </el-pagination>
        </div>
      </div>
      <!-- 新增/编辑站点 -->
      <el-dialog
        :title="dialog_name"
        :visible.sync="dialogFormVisible"
        @close="close"
        width="750px"
        height="100%"
        style="z-index: 10"
      >
        <!-- 注意:model="addForm"这里不要="insertData.stationManagement" 这种形式，后面多选框校验时会出错 -->
        <el-form
          label-width="80px"
          :model="addForm"
          :rules="rules"
          inline
          ref="addForm"
        >
          <el-row>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.stationName')"
                :label-width="labelWidth"
                prop="name"
              >
                <el-input
                  v-model="addForm.name"
                  style="width: 202px"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.operator')"
                :label-width="labelWidth"
                prop="operator"
              >
                <el-select
                  v-model="addForm.operator"
                  filterable
                  :placeholder="$t('public.choose')"
                >
                  <el-option
                    v-for="option in operatorOptions"
                    :key="option.id"
                    :label="option.user_name"
                    :value="option.user_name"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.brandOwner')"
                :label-width="labelWidth"
                prop="brand_owner"
              >
                <template>
                  <el-select
                    v-model="addForm.brand_owner"
                    filterable
                    :placeholder="$t('public.choose')"
                  >
                    <el-option
                      v-for="option in brandOptions"
                      :key="option.id"
                      :label="option.user_name"
                      :value="option.user_name"
                    >
                    </el-option>
                  </el-select>
                </template>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.agent')"
                :label-width="labelWidth"
                prop="agent"
              >
                <template>
                  <el-select
                    v-model="addForm.agent"
                    filterable
                    :placeholder="$t('public.choose')"
                  >
                    <el-option
                      v-for="option in agentOptions"
                      :key="option.id"
                      :label="option.user_name"
                      :value="option.user_name"
                    >
                    </el-option>
                  </el-select>
                </template>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.serviceProvider')"
                :label-width="labelWidth"
                prop="service_provider"
              >
                <template>
                  <el-select
                    v-model="addForm.service_provider"
                    filterable
                    :placeholder="$t('public.choose')"
                  >
                    <el-option
                      v-for="option in serviceOptions"
                      :key="option.id"
                      :label="option.user_name"
                      :value="option.user_name"
                    >
                    </el-option>
                  </el-select>
                </template>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.siteStatus')"
                :label-width="labelWidth"
                prop="site_status"
              >
                <template>
                  <el-select
                    v-model="addForm.site_status"
                    filterable
                    :placeholder="$t('public.choose')"
                  >
                    <el-option
                      v-for="option in statusOptions"
                      :key="option.id"
                      :label="option.name"
                      :value="option.id"
                    >
                    </el-option>
                  </el-select>
                </template>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.constructionSite')"
                :label-width="labelWidth"
                prop="construction_site"
              >
                <template>
                  <el-select
                    v-model="addForm.construction_site"
                    filterable
                    :placeholder="$t('public.choose')"
                  >
                    <el-option
                      v-for="option in allStatusCountry"
                      :key="option.id"
                      :label="option.name"
                      :value="option.id"
                    >
                    </el-option>
                  </el-select>
                </template>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                :label="$t('station.firstOperationTime')"
                :label-width="labelWidth"
                prop="first_operation_time"
              >
                <el-date-picker
                  type="date"
                  style="width: 202px"
                  :placeholder="$t('public.chooseDate')"
                  v-model="addForm.first_operation_time"
                  @change="changeTimeType"
                ></el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-form-item
              :label="$t('station.businessHours')"
              :label-width="labelWidth"
              prop="business_hours"
            >
              <div>
                <el-time-picker
                  is-range
                  v-model="business_hours"
                  range-separator="~"
                  :start-placeholder="$t('public.startTime')"
                  :end-placeholder="$t('public.stopTime')"
                  placeholder="选择时间范围"
                >
                </el-time-picker>
                <i
                  class="el-icon-plus"
                  style="margin: 15px"
                  @click="addMoreTime"
                ></i>
              </div>
              <div v-for="(item, index) in levelList" :key="index">
                <el-time-picker
                  is-range
                  arrow-control
                  v-model="levelList[index]"
                  range-separator="~"
                  :start-placeholder="$t('public.startTime')"
                  :end-placeholder="$t('public.stopTime')"
                  placeholder="选择时间范围"
                >
                </el-time-picker>
                <i
                  class="el-icon-minus"
                  style="margin: 15px"
                  @click="delMoreTime(item, index)"
                ></i>
              </div>
            </el-form-item>
          </el-row>

          <el-row>
            <el-col style="width: 100px">
              <div class="site-text">{{ $t("station.characteristic") }}</div>
            </el-col>
            <el-col :span="20">
              <el-form-item
                label-width="0"
                class="special-checkbox"
                prop="stationCharacteristicId"
              >
                <el-checkbox-group
                  class="checkbox-group-container"
                  v-model="addForm.stationCharacteristicId"
                >
                  <el-checkbox
                    v-for="Characteristics in allchooseCharacteristic"
                    :key="Characteristics.id"
                    :label="Characteristics.id"
                    >{{ Characteristics.name }}</el-checkbox
                  >
                </el-checkbox-group>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col style="width: 100px">
              <div class="type-text">
                <span style="color: red">*</span> {{ $t("station.chargeType") }}
              </div>
            </el-col>
            <el-col :span="20">
              <el-form-item
                label-width="0"
                class="special-checkbox"
                prop="stationChargeTypeId"
              >
                <el-checkbox-group v-model="addForm.stationChargeTypeId">
                  <el-checkbox
                    v-for="ChargeTypes in allChargeTypes"
                    :key="ChargeTypes.id"
                    :label="ChargeTypes.id"
                    >{{ ChargeTypes.name }}</el-checkbox
                  >
                </el-checkbox-group>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item
                :label="$t('station.contacts')"
                :label-width="labelWidth"
                prop="contact"
              >
                <el-input
                  v-model="addForm.contact_person"
                  style="width: 300px"
                />
              </el-form-item>
            </el-col>
            <el-col :span="13">
              <el-form-item
                :label="$t('station.contactNumber')"
                prop="contact_phone_code"
                :label-width="labelWidth"
              >
                <vue-country-intl
                  class="phone-code"
                  style="width: 240px"
                  v-model="addForm.contact_phone_code"
                  @onChange="changeSelectCode"
                ></vue-country-intl>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item prop="contact_phone" :label-width="labelWidth">
                <el-input
                  v-model="addForm.contact_phone"
                  style="width: 270px"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item
            :label="$t('station.description')"
            :label-width="labelWidth"
            prop="station_descript"
          >
            <el-input
              type="textarea"
              v-model="addForm.station_descript"
              style="width: 525px"
            ></el-input>
          </el-form-item>
          <el-row>
            <el-col style="width: 100px">
              <div class="type-text">
                {{ $t("station.image") }}
              </div>
            </el-col>
            <el-col :span="20">
              <el-form-item label-width="0" prop="stationImg" style="margin-left: 10px;">
                <UploadImg
                  :imgFormat="imgFormat"
                  imgSize="10"
                  imgName="jpeg、jpg、png"
                  isDownload="false"
                  :propertyImg="stationImgList"
                  @event="getImg($event)"
                />
              </el-form-item>
            </el-col>
          </el-row>

          <h3>{{ $t("station.positionInformation") }}</h3>
          <el-form-item
            :label="$t('station.houseNumber')"
            :label-width="labelWidth"
            prop="house_number"
          >
            <el-input v-model="addForm.house_number" />
          </el-form-item>
          <!-- <el-form-item label="地区" :label-width="labelWidth" prop="address">
                        <el-select filterable placeholder="请选择国家" v-model="addForm.country" value-key:="id"
                            @click.native="selectCountry" @change="chooseAddCountry"
                            style="margin-right: 15px; margin-bottom: 15px; width: 150px">
                            <el-option v-for="option in countryOptions" :key="option.id" :label="option.org_name" :value="option">
                            </el-option>
                        </el-select>
                        <el-select filterable placeholder="请选择省份" v-model="addForm.province" value-key="id"
                            @change="chooseAddProvince" style="margin-right: 15px; margin-bottom: 15px; width: 150px">
                            <el-option v-for="option in addProvince" :key="option.id" :label="option.org_name" :value="option">
                            </el-option>
                        </el-select>
                        <el-select filterable placeholder="请选择城市" v-model="addForm.city" @change="chooseAddCity"
                            style="margin-right: 15px; margin-bottom: 15px; width: 150px">
                            <el-option v-for="option in addCity" :key="option.id" :label="option.org_name" :value="option">
                            </el-option>
                        </el-select>
                    </el-form-item> -->
          <el-form-item
            :label="$t('station.postcode')"
            :label-width="labelWidth"
            prop="zip_code"
          >
            <el-input v-model="addForm.zip_code" />
          </el-form-item>
          <el-form-item
            :label="$t('station.coordinate')"
            :label-width="labelWidth"
            prop="longitude"
          >
            <el-input
              v-model="addForm.longitude"
              :placeholder="$t('station.longitude')"
              style="width: 150px; margin-right: 15px"
            />
          </el-form-item>
          <el-form-item label-width="0" prop="latitude">
            <el-input
              v-model="addForm.latitude"
              :placeholder="$t('station.latitude')"
              style="width: 150px; margin-right: 15px"
            />
            <i class="el-icon-location-outline"></i>
          </el-form-item>
        </el-form>
        <div slot="footer">
          <el-button @click="cancel">{{ $t("public.cancel") }}</el-button>
          <el-button
            type="primary"
            @click="add('addForm')"
            v-if="dialog_name === '新增站点'"
            >{{ $t("public.save") }}</el-button
          >
          <el-button
            type="primary"
            @click="update('addForm')"
            v-if="dialog_name === '编辑站点'"
            >{{ $t("public.save") }}</el-button
          >
        </div>
      </el-dialog>
      <!-- 分配用户 -->
      <el-dialog
        title="分配用户"
        :visible.sync="dialogFormVisible1"
        :width="dialogWidth"
        @close="close"
      >
        <el-form label-width="80px">
          <el-form-item :label="$t('station.stationName')">
            <el-input disabled :value="username" />
          </el-form-item>

          <el-form-item :label="$t('station.userList')">
            <el-checkbox-group v-model="selectCustomerId">
              <el-checkbox
                v-for="customer in allCustomer"
                :key="customer.id"
                :label="customer.id"
                :disabled="isChange"
                >{{ customer.user_name }}</el-checkbox
              >
            </el-checkbox-group>
          </el-form-item>
        </el-form>
        <div slot="footer">
          <el-button @click="cancel">{{ $t("public.cancel") }}</el-button>
          <el-button type="primary" @click="saveCustomersSetting">{{
            $t("public.save")
          }}</el-button>
        </div>
      </el-dialog>
      <!-- 站点详情 -->
      <el-dialog
        :title="$t('station.siteDetails')"
        style="font-size: 20px; text-align: center"
        width="825px"
        :visible.sync="isShowDetail"
        @close="close"
      >
        <div class="line"></div>
        <div class="site-detail-dialog">
          <el-form
            ref="detailForm"
            :model="detailForm"
            style="text-align: right"
            label-position="left"
          >
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.stationName') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.name }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.stationCode') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.station_code }}
                </el-form-item>
              </el-col>
            </el-row>
            <!-- <el-row>
                            <el-col :span="12">
                            <el-form-item label="国家:" :label-width="labelWidth">
                                {{ detailForm.country }}
                            </el-form-item>
                            </el-col>
                            <el-col :span="12">
                            <el-form-item label="省份:" :label-width="labelWidth">
                                {{ detailForm.province }}
                            </el-form-item>
                            </el-col>
                        </el-row> -->
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.constructionSite') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.construction_site }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.siteStatus') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.site_status }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.businessHours') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.business_hours }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.operator') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.operator }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.serviceProvider') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.service_provider }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.brandOwner') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.brand_owner }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.agent') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.agent }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.contacts') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.contact_person }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.characteristic') + ':'"
                  :label-width="labelWidth"
                  :show-overflow-tooltip="true"
                >
                  <!-- <div class="form-element"> -->
                  {{ stationCharacteristic }}
                  <!-- </div> -->
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.contactNumber') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.contact_phone }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.description') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.station_descript }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.firstOperationTime') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.first_operation_time }}
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="24">
                <el-form-item
                  :label="$t('station.image') + ':'"
                  :label-width="labelWidth"
                >
                  <el-image
                    style="width: 64px; height: 80px"
                    v-for="item in detailForm.stationImgList"
                    :key="item.id"
                    :src="item.img1"
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <el-row :gutter="100">
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.address') + ':'"
                  :label-width="labelWidth"
                >
                  {{ detailForm.address }}
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  :label="$t('station.coordinate') + ':'"
                  :label-width="labelWidth"
                >
                  {{ getCoordinate(detailForm.longitude, detailForm.latitude) }}
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </div>
      </el-dialog>
    </div>
    <alarm v-else @toSite="updateShowAlarm" :getStationNameList="idOptions" />
  </div>
</template>

<script>
import {
  getUserAuthList,
  getUserAuth,
  saveSysAuth,
  getPileManagement,
  getManagement,
  addManagement,
  getListCountry,
  getBrandOptions,
  getStationNameList,
  getDataTypeList,
  addStation,
  getStationDetails,
  editManagement,
} from "@/utils/api.js";
import {
  parseTimeStamp,
  handleDate,
  flexColumnWidth,
  handleTime,
} from "@/utils/common.js";
import UploadImg from "@/components/uploadImg.vue";
import alarm from "@/views/device/alarm/editor/index.vue";
export default {
  name: "site",
  components: { alarm, UploadImg },
  data() {
    return {
      loginUserId: JSON.parse(sessionStorage.getItem("userInfo")).id,
      isFold: false,
      count: 0,
      foldName: this.$t("public.expand"),
      foldIcon: "el-icon-arrow-down",
      isShowAlarm: false,
      dialogVisible: false,
      dialogPileVisible: false,
      isShowDetail: false,
      detailForm: {},
      dialogImageUrl: "",
      imgFormat: ["image/jpeg", "image/png", "image/jpg"],
      form: {},
      levelList: [], // 存放时间列表的数组
      addForm: {
        startTime: "", // 初始的开始时间
        stopTime: "", // 初始的结束时间
        stationCharacteristicId: [],
        stationChargeTypeId: [],
        stationImg: [],
        first_operation_time: "",
        address: "",
        agent: "",
        area: "",
        brand_owner: "",
        business_hours: "",
        city: "",
        construction_site: "",
        contact_person: "",
        contact_phone: "",
        country: "",
        first_operation_time: "",
        latitude: "",
        longitude: "",
        name: "",
        operator: "",
        province: "",
        service_provider: "",
        site_status: "",
        station_code: "",
        station_descript: "",
        user_id: "",
        house_number: "",
        zip_code: "",
      },
      stationImgList: [], // 站点图片
      orgStationImgList: [], // 原有站点图片
      labelWidth: "110px",
      countryOptions: [],
      defaultCountry: "",
      provinceOptions: [],
      cityOptions: [],
      defaultCity: "",
      defaultProvince: "",
      brandOptions: [],
      defaultBrand: "",
      idOptions: [],
      defaultId: "",
      serviceOptions: [],
      defaultsService: "",
      agentOptions: [],
      defaultAgent: "",
      siteList: [], //站点列表
      pileList: [], //电桩列表
      pileListdata: {
        agent: "",
        brand_owner: "",
        charge_type: "",
        mode: "",
        model: "",
        operator: "",
        p: 0,
        pile_code: "",
        service_provider: "",
        size: 10,
        standard_type: "",
        station_management_id: "",
        status: "",
        user_id: JSON.parse(sessionStorage.getItem("userInfo")).id,
        version: "",
      },
      siteListData: {
        agent: "",
        brand_owner: "",
        country: "",
        id: "",
        operator: "",
        p: 0,
        province: "",
        service_provider: "",
        size: 10,
        total: 0,
        user_id: "",
      },
      customer_type: "",
      dialogFormVisible: false,
      defaultOperator: [],
      operatorOptions: [],
      defaultStatus: [],
      statusOptions: [],
      statusCountry: [],
      allStatusCountry: [],
      name: "",
      allOperator: [],
      checkList: [],
      imageUrl: "",
      dialog_name: "",
      allChargeTypes: [],
      allchooseCharacteristic: [],
      chooseCharacteristic: [],
      rules: {
        name: [
          {
            required: true,
            message: "请输入站点名称",
            trigger: "blur",
          },
        ],
        brand_owner: [
          { required: true, message: "请输入品牌", trigger: "blur" },
        ],
        first_operation_time: [
          {
            required: true,
            message: "请输入首次运营时间",
            trigger: "blur",
          },
        ],
        stationChargeTypeId: [
          {
            required: true,
            message: "请输入充电口类型",
            trigger: "blur",
          },
        ],
        // address: [{ required: true, message: "请输入地址", trigger: "change" }],
        area: [{ required: true, message: "请输入地区", trigger: "blur" }],
        latitude: [
          {
            required: true,
            message: "请输入邮政编码",
            trigger: "blur",
          },
        ],
        longitude: [
          {
            required: true,
            message: "请输入地图坐标",
            trigger: "blur",
          },
        ],
        agent: [
          {
            required: true,
            message: "请输入代理商",
            trigger: "blur",
          },
        ],
      },
      insertData: {
        stationCharacteristicId: [],
        stationChargeTypeId: [],
        stationImg: [],
        newStationImg: [],
        stationManagement: {
          address: "",
          agent: "",
          area: "",
          brand_owner: "",
          business_hours: "",
          city: "",
          construction_site: "",
          contact_person: "",
          contact_phone: "",
          country: "",
          first_operation_time: "",
          latitude: "",
          longitude: "",
          name: "",
          operator: "",
          province: "",
          service_provider: "",
          site_status: "",
          station_code: "",
          station_descript: "",
          user_id: "",
          house_number: "",
          zip_code: "",
        },
      },
      dataType: {
        language: "CN",
        code: "",
      },
      //组织父级id
      parentId: 0,
      //弹出框内省份集合
      addProvince: [],
      //弹出框内城市集合
      addCity: [],
      //营业时间段
      business_hours: {
        startTime: "",
        stopTime: "",
      },

      //分页列表
      pagelist: [],
      currentPage: 1,
      pageSize: 10,
      totalNum: 0,
      pagelist2: [],
      currentPage2: 1,
      pageSize2: 10,
      totalNum2: 0,
      //用于编辑的对象
      editorData: {},
      //分配用户相关参数
      username: "",
      selectCustomerId: [],
      allCustomer: [],
      dialogFormVisible1: false,
      rowId: "", //对应的列id
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      dialogHeight: "400px", // 弹窗高度，可以是像素值或百分比
      isChange: false,
      stationCharacteristic: "", //用于回显的站点特色
    };
  },
  created() {
    this.selectStatusCountry();
  },
  mounted() {
    this.siteListData.user_id = JSON.parse(
      sessionStorage.getItem("userInfo")
    ).id;
    this.getManagementList(this.siteListData);
    this.getStationCharacteristicId();
    this.selectSiteStatus();
    this.selectBrandOptions();
    this.selectStationName();
    this.selectServiceOptions();
    this.selectAgentOptions();
    this.selectOperator();
    //查询所有用户列表
    this.getUserAuthAll();
    // 在页面加载时从localStorage中获取存储的值
    const savedIsShowAlarm = localStorage.getItem("isShowAlarm");
    // 如果localStorage中存在存储的值，将其设置为组件的isShowAlarm
    if (savedIsShowAlarm !== null) {
      this.isShowAlarm = JSON.parse(savedIsShowAlarm);
    }
  },
  methods: {
    // 获取站点列表
    getManagementList(data) {
      getManagement(data).then((res) => {
        if (res.code === 0) {
          this.siteList = res.data.list;
          this.totalNum = res.data.total;
          this.siteList.forEach(function (item) {
            item.create_time = parseTimeStamp(item.create_time);
            item.update_time = parseTimeStamp(item.update_time);
          });
        }
      });
    },
    // 折叠
    fold() {
      this.isFold = !this.isFold;
      if (this.isFold) {
        this.foldName = this.$t("public.retract");
        this.foldIcon = "el-icon-arrow-up";
      } else {
        this.foldName = this.$t("public.expand");
        this.foldIcon = "el-icon-arrow-down";
      }
    },
    //判断是否展示告警提醒
    updateShowAlarm(data) {
      if (data === 1) {
        this.isShowAlarm = false;
      }
    },
    handleQuery() {
      this.getManagementList(this.siteListData);
    },
    resetQuery() {
      location.reload();
    },
    insert() {
      // 注意这里的清空表单，不能调用clearFormFields，因为addForm里面的stationCharacteristicId，stationChargeTypeId，stationImg 不能为直接清空为null.这样会导致form表单填写时出错,校验也不会生效。
      this.dialogFormVisible = true;
      this.dialog_name = "新增站点";
    },
    //编辑方法通过此行id查询此行具体信息
    editor(row) {
      this.cleanInsert();
      this.addForm.id = row.id;
      this.getIdStationDetails(row.id);
      this.dialogFormVisible = true;
      this.dialog_name = "编辑站点";
    },
    // 根据id查询站点详情
    getIdStationDetails(id) {
      getStationDetails(id).then((res) => {
        this.addForm.stationManagement.first_operation_time = this.stringToDate(
          res.data.first_operation_time
        );
        this.formatTime(res.data.business_hours);

        // if (res.data.business_hours !== null && res.data.business_hours != "") {
        //   this.business_hours = JSON.parse(res.data.business_hours);
        // }
        const result = res.data;
        const stationCharacteristicId = result.stationCharacteristicList.map(
          (item) => item.id
        );
        const stationChargeTypeId = result.stationChargeTypeList.map(
          (item) => item.id
        );
        // 直接使用数组下标的方式设置属性，这样属性也会是响应式的
        Object.keys(result).forEach((key) => {
          this.$set(this.addForm, key, result[key]);
        });
        this.stationImgList = result.stationImgList;
        // 原有的图片名称
        this.orgStationImgList = this.stationImgList.map((item) => item.img);
        // 给表单数据回显
        this.addForm.stationCharacteristicId = stationCharacteristicId;
        this.addForm.stationChargeTypeId = stationChargeTypeId;
      });
    },
    editorSiteList(row) {
      sessionStorage.setItem("managementId", row.id)
      this.$router.push("/device/management");
    },
    // 获取电桩列表
    getPileList(data) {
      getPileManagement(data).then((res) => {
        if (res.code === 0) {
          this.totalNum2 = res.data.total;
          this.pileList = res.data.list;
          this.pileList.forEach((item, index) => {
            item.sort = index + 1;
          });
        }
      });
    },
    cancel() {
      this.dialogFormVisible = false;
      this.dialogFormVisible1 = false;
    },
    add(addForm) {
      this.$refs[addForm].validate((valid) => {
        if (valid) {
          const obj = {
            stationCharacteristicId: this.addForm.stationCharacteristicId,
            stationChargeTypeId: this.addForm.stationChargeTypeId,
            stationImg: this.addForm.stationImg,
            stationManagement: {
              address: this.addForm.address,
              agent: this.addForm.agent,
              area: this.addForm.area,
              brand_owner: this.addForm.brand_owner,
              business_hours: this.handleTime(),
              city: this.addForm.city,
              construction_site: this.addForm.construction_site,
              contact_person: this.addForm.contact_person,
              contact_phone: this.addForm.contact_phone,
              country: this.addForm.country,
              first_operation_time: this.addForm.first_operation_time,
              latitude: this.addForm.latitude,
              longitude: this.addForm.longitude,
              name: this.addForm.name,
              operator: this.addForm.operator,
              province: this.addForm.province,
              service_provider: this.addForm.service_provider,
              site_status: this.addForm.site_status,
              station_code: this.addForm.station_code,
              station_descript: this.addForm.station_descript,
              user_id: this.loginUserId,
              house_number: this.addForm.house_number,
              zip_code: this.addForm.zip_code,
            },
          };
          this.dialogFormVisible = false;
          addStation(obj)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.add_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.add_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.add_fail"),
                type: "error",
              });
            });
        }
      });
    },
    update(addForm) {
      this.$refs[addForm].validate((valid) => {
        if (valid) {
          const obj = {
            stationCharacteristicId: this.addForm.stationCharacteristicId,
            stationChargeTypeId: this.addForm.stationChargeTypeId,
            stationImg: this.orgStationImgList,
            stationManagement: {
              address: this.addForm.address,
              agent: this.addForm.agent,
              area: this.addForm.area,
              brand_owner: this.addForm.brand_owner,
              business_hours: this.handleTime(),
              city: this.addForm.city,
              construction_site: this.addForm.construction_site,
              contact_person: this.addForm.contact_person,
              contact_phone: this.addForm.contact_phone,
              country: this.addForm.country,
              first_operation_time: this.addForm.first_operation_time,
              latitude: this.addForm.latitude,
              longitude: this.addForm.longitude,
              name: this.addForm.name,
              operator: this.addForm.operator,
              province: this.addForm.province,
              service_provider: this.addForm.service_provider,
              site_status: this.addForm.site_status,
              station_code: this.addForm.station_code,
              station_descript: this.addForm.station_descript,
              user_id: this.loginUserId,
              house_number: this.addForm.house_number,
              zip_code: this.addForm.zip_code,
              id: this.addForm.id,
            },
          };
          this.dialogFormVisible = false;
          editManagement(obj)
            .then((res) => {
              if (res.code === 0) {
                this.$message({
                  message: this.$t("public.update_success"),
                  type: "success",
                });
                window.location.reload();
              } else {
                this.$message({
                  message: this.$t("public.update_fail"),
                  type: "error",
                });
              }
            })
            .catch(() => {
              this.$message({
                message: this.$t("public.update_fail"),
                type: "error",
              });
            });
        }
      });
    },
    close() {
      // 关闭弹窗的方法
      this.dialogFormVisible = false;
      this.cleanInsert();
      this.detailForm.stationImgList = [];
    },
    handleCheckedChange() {},
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    changeSelectCode() {},
    selectCountry() {
      this.parentId = 0;
      getListCountry(this.siteListData.user_id, this.parentId).then((res) => {
        this.countryOptions = res.data;
      });
    },
    chooseCountry(val) {
      this.siteListData.country = val.org_name;
      this.parentId = val.id;
      getListCountry(this.siteListData.user_id, this.parentId).then((res) => {
        this.provinceOptions = res.data;
        this.defaultProvince = "";
        this.defaultCity = "";
      });
    },
    chooseProvince(val) {
      this.siteListData.province = val.org_name;
      this.parentId = val.id;
      getListCountry(this.siteListData.user_id, this.parentId).then((res) => {
        this.cityOptions = res.data;
        this.cityOptions = val.sysOrg;
        this.defaultCity = "";
      });
    },
    selectBrandOptions() {
      const customer_type = "品牌商";
      getBrandOptions(this.siteListData.user_id, customer_type).then((res) => {
        this.brandOptions = res.data;
      });
    },
    chooseBrandOptions(val) {
      this.siteListData.brand_owner = val;
    },
    selectServiceOptions() {
      const customer_type = "服务商";
      getBrandOptions(this.siteListData.user_id, customer_type).then((res) => {
        this.serviceOptions = res.data;
      });
    },
    chooseServiceOptions(val) {
      this.siteListData.service_provider = val;
    },
    selectAgentOptions() {
      const customer_type = "代理商";
      getBrandOptions(this.siteListData.user_id, customer_type).then((res) => {
        this.agentOptions = res.data;
      });
    },
    chooseAgentOptions(val) {
      this.siteListData.agent = val;
    },
    selectStationName() {
      getStationNameList(this.siteListData.user_id).then((res) => {
        this.idOptions = res.data;
      });
    },
    chooseStationId(val) {
      this.siteListData.id = val;
    },
    selectOperator() {
      const customer_type = "运营商";
      getBrandOptions(this.siteListData.user_id, customer_type).then((res) => {
        this.operatorOptions = res.data;
      });
    },
    selectSiteStatus() {
      const obj = {
        language: "CN",
        code: "siteStatus",
      };
      getDataTypeList(obj).then((res) => {
        this.statusOptions = res.data;
      });
    },
    selectStatusCountry() {
      const obj = {
        language: "CN",
        code: "constructionSite",
      };
      getDataTypeList(obj).then((res) => {
        this.allStatusCountry = res.data;
      });
    },
    getStationCharacteristicId() {
      this.dataType.code = "stationCharacteristic";
      getDataTypeList(this.dataType).then((res) => {
        this.allchooseCharacteristic = res.data;
        this.getStationChargeTypeId();
      });
    },
    getStationChargeTypeId() {
      this.dataType.code = "chargeType";
      getDataTypeList(this.dataType).then((res) => {
        this.allChargeTypes = res.data;
      });
    },
    //弹框内选择国家、省份、城市
    chooseAddCountry(val) {
      this.insertData.stationManagement.country = val.org_name;
      this.parentId = val.id;
      getListCountry(this.siteListData.user_id, this.parentId).then((res) => {
        this.addProvince = res.data;
        this.insertData.stationManagement.province = "";
        this.insertData.stationManagement.city = "";
      });
    },
    chooseAddProvince(val) {
      this.insertData.stationManagement.province = val.org_name;
      this.parentId = val.id;
      getListCountry(this.siteListData.user_id, this.parentId).then((res) => {
        this.addCity = res.data;
        this.insertData.stationManagement.city = "";
      });
    },
    chooseAddCity(val) {
      this.insertData.stationManagement.city = val.org_name;
    },
    //格式化时间
    changeTimeType(dateString) {
      this.addForm.first_operation_time = handleDate(dateString);
    },
    //分页相关
    handleSizeChange(size) {
      this.siteListData.size = size;
      this.getManagementList(this.siteListData);
    },
    pileSizeChange(size) {
      this.pileListdata.size = size;
      this.getPileList(this.pileListdata);
    },
    handleCurrentChange(currentPage) {
      this.siteListData.p = currentPage - 1;
      this.getManagementList(this.siteListData);
    },
    pileCurrentChange(currentPage) {
      this.pileListdata.p = currentPage - 1;
      this.getPileList(this.pileListdata);
    },
    //初始化新增弹出框页面数据
    cleanInsert() {
      (this.addForm = {
        stationCharacteristicId: [],
        stationChargeTypeId: [],
        stationImg: [],
        stationManagement: {
          address: "",
          agent: "",
          area: "",
          brand_owner: "",
          business_hours: "",
          city: "",
          construction_site: "",
          contact_person: "",
          contact_phone: "",
          country: "",
          first_operation_time: "",
          latitude: "",
          longitude: "",
          name: "",
          operator: "",
          province: "",
          service_provider: "",
          site_status: "",
          station_code: "",
          station_descript: "",
          user_id: "",
          house_number: "",
          zip_code: "",
        },
      }),
        (this.first_operation_time = "");
      this.business_hours = {
        startTime: "",
        stopTime: "",
      };
      this.stationImgList = [];
    },
    //将字符串转化为日期方法
    stringToDate(str) {
      let tempStrs = str.split(" ");
      let dateStrs = tempStrs[0].split("-");
      let year = parseInt(dateStrs[0], 10);
      let month = parseInt(dateStrs[1], 10) - 1;
      let day = parseInt(dateStrs[2], 10);
      let timeStrs = tempStrs[1].split(":");
      let hour = parseInt(timeStrs[0], 10);
      let minute = parseInt(timeStrs[1], 10);
      let second = parseInt(timeStrs[2], 10);
      let date = new Date(year, month, day, hour, minute, second);
      return date;
    },
    handleAlarm() {
      this.isShowAlarm = true;
    },
    //查询所有角色
    getUserAuthAll() {
      getUserAuthList().then((res) => {
        if (res.code === 0) {
          this.allCustomer = res.data;
        }
      });
    },
    //分配角色回显方法
    customerSetting(row, index) {
      this.username = index.name;
      this.rowId = index.id;
      const type = 1;
      getUserAuth(this.rowId, type).then((res) => {
        if (res.code === 0) {
          this.selectCustomerId = res.data.map((item) => item.user_id);
        }
        if (index.user_id !== this.loginUserId) {
          this.isChange = true;
        } else {
          this.isChange = false;
        }
        this.dialogFormVisible1 = true;
      });
    },
    //保存方法
    saveCustomersSetting() {
      const data = {
        id: this.rowId,
        userIds: this.selectCustomerId,
        type: 1,
      };
      saveSysAuth(data).then((res) => {
        if (res.code === 0) {
          this.cancel();
          this.$message({
            type: "success",
            message: "分配用户成功!",
          });
        } else {
          this.$message({
            type: "warning",
            message: "分配用户失败!",
          });
        }
      });
    },
    getImg(imgList) {
      let imgArr = [];
      Array.isArray(imgList) &&
        imgList.forEach((item) => {
          if (item.response && typeof item.response === "object") {
            if (item.response.data && typeof item.response.data === "object") {
              let val = item.response.data;
              imgArr.push(val.fileName);
            }
          } else {
            imgArr.push(item.name);
          }
        });
      this.orgStationImgList = [...imgArr];
    },
    addMoreTime() {
      if (this.levelList.length < 5) {
        this.levelList.push({
          startTime: this.addForm.startTime,
          stopTime: this.addForm.stopTime,
        });
      }
    },
    delMoreTime(item, index) {
      this.levelList.splice(index, 1);
    },
    // 清空表单
    clearFormFields(form) {
      for (let key in form) {
        form[key] = "";
      }
    },
    // 展示站点详情
    showDetail(row) {
      this.isShowDetail = true;
      getStationDetails(row.id).then((res) => {
        this.detailForm = { ...res.data };
        // 根据场所id状态显示名字
        const currentStatus = this.statusOptions.find(
          (item) => item.id === this.detailForm.site_status
        );
        if (typeof currentStatus == "undefined") {
          this.detailForm.site_status = "";
        } else {
          this.detailForm.site_status = currentStatus.name;
        }
        // 根据建设场所id显示名字
        const currentPlace = this.allStatusCountry.find(
          (item) => item.id === this.detailForm.construction_site
        );
        this.detailForm.construction_site = currentPlace.name;
        this.stationCharacteristic = this.detailForm.stationCharacteristicList
          .map((item) => item.name)
          .join("、");
      });
    },

    /**
     * el-table-column 自适应列宽
     * @param prop_label: 表名
     * @param table_data: 表格数据
     */
    flexColumnWidth(label, prop) {
      return flexColumnWidth(label, prop, this.siteList);
    },
    //获取坐标字符串
    getCoordinate(longitude, latitude) {
      if (longitude === "" || latitude === "") {
        return "";
      } else {
        return longitude + "," + latitude;
      }
    },
    //解析营业时间为字符串方法
    handleTime() {
      let businessHours = [];
      let mainTime;
      let addTime;
      if (
        this.business_hours !== null &&
        this.business_hours.startTime !== "" &&
        this.business_hours.stopTime !== ""
      ) {
        mainTime = this.business_hours;
        mainTime.forEach(function (item, index, array) {
          array[index] = handleTime(item);
        });
        businessHours.push(this.business_hours.join("~"));
      }
      if (this.levelList !== null) {
        addTime = this.levelList;
        addTime.forEach((item) => {
          if (item !== null && item.startTime !== "" && item.stopTime !== "") {
            item.forEach((item, index, array) => {
              array[index] = handleTime(item);
            });
            businessHours.push(item.join("~"));
          }
        });
      }
      if (businessHours.length === 0) {
        return "";
      } else {
        return businessHours.join("、");
      }
    },
    //编辑时解析字符串为带年月日的时间方法
    formatTime(time) {
      const businessHours = [];
      if (time === null || time === "") {
        this.business_hours = {
          startTime: "",
          stopTime: "",
        };
      } else {
        time.split("、").forEach((item) => {
          const list = item.split("~");
          list.forEach((item, index, array) => {
            array[index] = this.stringToDate("2020-01-01 " + item + ":00");
          });
          businessHours.push(list);
        });
        this.business_hours = businessHours[0];
        this.levelList = businessHours.slice(1, businessHours.length);
      }
    },
  },
  watch: {
    siteList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
    pileList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable2.doLayout();
        });
      },
      deep: true,
    },
    // 监听isShowAlarm的变化，当它发生变化时保存到localStorage中
    isShowAlarm(newValue) {
      localStorage.setItem("isShowAlarm", JSON.stringify(newValue));
    },
  },
};
</script>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
/* 设置el-dialog弹窗的内容 */
.site .el-dialog__body {
  padding: 10px 40px 30px;
}
</style>

<style lang="scss" scoped>
.site {
  padding: 20px;
  .line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #d4d2d2;
    margin: 0 auto 25px;
  }

  .site-text {
    text-align: right;
    margin-top: 10px;
    font-weight: 700;
    word-break: break-word;
  }

  .special-checkbox {
    margin-left: 10px;
  }

  .type-text {
    text-align: right;
    margin-top: 10px;
    font-weight: 700;
    word-break: break-word;
  }

  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }

  .table-pagination {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    /* 添加一些内边距以分隔页码和内容 */
    background-color: #f9f9f9;
    /* 可选：为更好的可见性添加背景颜色 */
    text-align: right;
    /* 将页码对齐到右侧 */
  }

  ::v-deep.table {
    padding-bottom: 0;
  }

  .phone-code {
    ::v-deep.country-intl-label {
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
    }

    ::v-deep.country-intl-input {
      height: 36px;
    }
  }

  /* 设置行高 */
  .form-element {
    line-height: 1.5;
    /* 调整行高，可以根据需要自行调整数值 */
    max-height: 4.5em;
    /* 设置最大高度，超过该高度时将会出现省略号 */
    overflow: hidden;
    /* 隐藏超出部分 */
  }

  /* 显示省略号 */
  .form-element::after {
    content: "...";
    /* 省略号表示 */
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    /* 背景颜色要与父元素相同，以隐藏省略号后面的内容 */
  }
}

::v-deep .el-table .cell {
  white-space: nowrap; // 度娘的答案全都不好用关键在 /deep/
}

.el-table ::v-deep th {
  //padding: 0;
  white-space: nowrap;
  //min-width: fit-content;
}

.el-table ::v-deep td {
  //padding: 1px;
  white-space: nowrap;
  width: fit-content;
}

.el-table ::v-deep .cell {
  white-space: nowrap;
  width: fit-content;
}
</style>
