<template>
  <div class="usage_main u-right-content">
    <div class="table-list">
      <div class="table-btn">
        <el-button type="warning" icon="el-icon-plus" @click="insert"
          >{{ $t('public.add') }}</el-button
        >
      </div>
      <div class="table">
        <el-table
          :data="menulist"
          row-key="id"
          border
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
          <el-table-column
            prop="menu_name"
            :label="$t('system.menu_name')"
            width="160"
            class="tr"
            fixed
          >
          </el-table-column>
          <el-table-column prop="router_name" :label="$t('system.router_name')">
          </el-table-column>
          <el-table-column prop="router_path" :label="$t('system.router_path')">
          </el-table-column>
          <el-table-column prop="router_views" :label="$t('system.router_views')">
          </el-table-column>
          <el-table-column prop="icon" :label="$t('system.icon')">
          </el-table-column>
          <el-table-column :label="$t('public.order_number')" prop="sort" width="60px">
          </el-table-column>
          <el-table-column :label="$t('public.type')" prop="type" width="60px" align="center">
            <template slot-scope="scope">
              {{ menuType[scope.row.type] }}
            </template>
          </el-table-column>
          <el-table-column :label="$t('public.operation')" width="260px" fixed="right">
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="updata(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.update') }}</el-button
              >
              <el-button
                type="text"
                @click="lineInsert(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.add') }}</el-button
              >
              <el-button
                type="text"
                @click="deldata(scope.$index, scope.row)"
                size="mini"
                >{{ $t('public.delete') }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
    <!-- 新增菜单 -->
    <el-dialog
      :title="dialog_name"
      v-model="dialog_name"
      :visible.sync="dialogFormVisible"
      @close="editDialogClosed"
      :width="dialogWidth"
    >
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" :label-width="formLabelWidth">
        <el-row>
          <el-col>
            <el-form-item
              :label="$t('system.parent_menu')"
              prop="parent_id"
            >
              <el-cascader
                placeholder=""
                style="width: 100%"
                ref="cascader"
                :disabled="dialog_name === $t('system.update_menu')"
                v-model="ruleForm.parent_id"
                :show-all-levels="false"
                :props="defaultParams"
                :options="menulist"
                @change="handleMenuChange"
                change-on-select="true"
                clearable
              >
              </el-cascader>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col>
            <el-form-item
              :label="$t('system.menu_name')"
              prop="menu_name"
            >
              <el-input
                v-model="ruleForm.menu_name"
                :disabled="dialog_name === $t('system.update_menu')"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="menuTypeValue === 0">
            <el-form-item
              :label="$t('system.router_name')"
              prop="router_name"
            >
              <el-input v-model="ruleForm.router_name"></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="menuTypeValue === 0">
            <el-form-item
              :label="$t('system.router_path')"
              prop="router_path"
            >
              <el-input v-model="ruleForm.router_path"></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="menuTypeValue === 0">
            <el-form-item
              :label="$t('system.router_views')"
              prop="router_views"
            >
              <el-input v-model="ruleForm.router_views"></el-input>
            </el-form-item>
          </el-col>
          <el-col v-if="menuTypeValue === 0">
            <el-form-item
              :label="$t('system.icon')"
              prop="icon"
            >
              <el-input v-model="ruleForm.icon"></el-input>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
              :label="$t('public.sort')"
              prop="sort"
            >
              <el-input-number
                v-model="ruleForm.sort"
                size="small"
                controls-position="right"
                :min="1"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col>
            <el-form-item
              :label="$t('public.type')"
              prop="type"
              class="form-status"
            >
              <el-radio-group v-model="ruleForm.type" @change="changeType">
                <el-radio :label="0">{{ $t('public.menu') }}</el-radio>
                <el-radio :label="1">{{ $t('public.button') }}</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer">
        <el-button @click="cancel">{{ $t('public.cancel') }}</el-button>
        <el-button
          type="primary"
          @click="add('ruleForm')"
          v-if="dialog_name === $t('public.add_menu')"
          >{{ $t('public.sure') }}</el-button
        >
        <el-button
          type="primary"
          @click="update('ruleForm')"
          v-if="dialog_name === $t('public.update_menu')"
          >{{ $t('public.sure') }}</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Breadcrumb from "@/components/Breadcrumb";
//import { menuupdate, menulist, delMenu, menuadd } from "@/api/system/menu.js";
import { menuupdate, menulist, delMenu, menuadd } from "@/utils/api.js";
// import { menulist, menuadd, menuupdate, menustatus } from '../../until/api.js'
// import { formatDate1 } from '../../until/common'
export default {
  data() {
    return {
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      menuTypeValue: 0,
      // 类型
      menuType: {
        0: "菜单",
        1: "按钮",
      },
      defaultParams: {
        label: "menu_name",
        value: "id",
        children: "children",
      },
      ruleForm: {
        icon: "el-icon-setting",
        menu_name: "string",
        router_name: "string",
        router_path: "string",
        router_views: "string",
        sort: 0,
        parent_id: "",
        status: 0,
        visible: 0,
        type: 0,
      },
      select_form: {
        name: "",
      },
      rules: {
        menu_name: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
        router_name: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
        router_path: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
        router_views: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
        sort: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
        type: [
          { required: true, message: this.$t('public.check_tips'), trigger: "change" },
        ],
      },
      num: 1,
      dialog_name: "",
      dialogFormVisible: false,
      formLabelWidth: "100px",
      menulist: [],
      menulistOrigin: [],
      show_menu_name: [],
    };
  },
  components: {
    Breadcrumb,
  },
  // filters: {
  //   formatDate1,
  // },
  mounted() {
    this.menuTableList();
  },

  methods: {
    changeType(val) {
      this.menuTypeValue = val;
      console.log("changeType  val:", val);
    },
    menuTableList() {
      menulist().then((res) => {
        if (res.code === 0) {
          this.menulist = res.data;
          //让列表清单实现深拷贝，变成新的数组
          this.menulistOrigin = JSON.parse(JSON.stringify(this.menulist));
          //替换 menu_name的值,让其找到对应的多语言翻译
          this.menulist = this.updateMenuNames.call(this, this.menulistOrigin);
        }
      });
    },
    // 遍历原始数据，替换 menu_name 为对应的语言翻译值
    updateMenuNames(data) {
      return data.map((item) => {
        // Clone the item to avoid modifying the original object
        const newItem = { ...item };
        // Update the menu_name field with the translation
        newItem.menu_name = this.$t("route." + item.menu_name);
        // Recursively update children if present
        if (newItem.children && newItem.children.length > 0) {
          newItem.children = this.updateMenuNames.call(this, newItem.children);
        }
        return newItem;
      });
    },
    handleMenuChange(value) {
      this.ruleForm.parent_id = value && value[value.length - 1];
    },
    // 修改
    update(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          var obj = {
            icon: this.ruleForm.icon,
            menu_name: this.show_menu_name,
            router_name: this.ruleForm.router_name,
            router_path: this.ruleForm.router_path,
            router_views: this.ruleForm.router_views,
            sort: this.ruleForm.sort,
            parent_id: this.ruleForm.parent_id,
            status: this.ruleForm.status,
            visible: this.ruleForm.visible,
            id: this.ruleForm.id,
            type: this.ruleForm.type,
          };
          this.dialogFormVisible = false;
          menuupdate(obj).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t('public.update_success'), this.$t('public.update_tips'), {
                confirmButtonText: this.$t('public.sure'),
                callback: (action) => {
                  window.location.reload();
                },
              });
            } else {
              this.$alert(this.$t('public.update_fail'), this.$t('public.update_tips'));
            }
          });
          
        } else {
          return false;
        }
      });
    },
    // 新增
    add(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            icon: "el-icon-setting",
            menu_name: this.ruleForm.menu_name,
            router_name: this.ruleForm.router_name,
            router_path: this.ruleForm.router_path,
            router_views: this.ruleForm.router_views,
            sort: this.ruleForm.sort,
            parent_id: this.ruleForm.parent_id,
            status: this.ruleForm.status,
            visible: this.ruleForm.visible,
            type: this.ruleForm.type,
          };
          menuadd(obj).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t('public.add_success'), this.$t('public.update_tips'), {
                confirmButtonText: this.$t('public.sure'),
                callback: (action) => {
                  window.location.reload();
                },
              });
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    async deldata(index, row) {
      try {
        await this.showConfirmation();
        await this.deleteMenu(row.id);
        await this.menuTableList();
        window.location.reload();
      } catch (error) {
        console.error(error);
        // 处理错误情况
      }
    },

    showConfirmation() {
      return new Promise((resolve, reject) => {
        this.$confirm( this.$t('public.sure_delmenu'), this.$t('public.del_menu'), {
          confirmButtonText: this.$t('public.delete'),
          cancelButtonText: this.$t('public.cancel'),
          type: "warning",
        })
          .then(() => {
            resolve();
          })
          .catch(() => {
            reject(new Error("Confirmation canceled."));
          });
      });
    },

    async deleteMenu(id) {
      const res = await delMenu(id);
      if (res.code !== 0) {
        throw new Error("Error deleting menu.");
      } else {
        this.$message({
          message: this.$t('public.delete_success'),
          type: "success",
        });
      }
    },

    getTreeData(data) {
      for (var i = 0; i < data.length; i++) {
        if (data[i].sysMenusList) {
          if (data[i].sysMenusList.length < 1) {
            // children若为空数组，则将children设为undefined
            data[i].sysMenusList = undefined;
          } else {
            // children若不为空数组，则继续 递归调用 本方法
            this.getTreeData(data[i].sysMenusList);
          }
        }
      }
      return data;
    },
    status(row, index) {
      if (index.status === 1) {
        this.status = true;
      } else {
        this.status = false;
      }
      let obj = {
        status: this.status,
        id: index.id,
      };
    },
    cancel() {
      this.dialogFormVisible = false;
    },
    resetDialogForm() {
      this.ruleForm.icon = "";
      this.ruleForm.menu_name = "";
      this.ruleForm.router_name = "";
      this.ruleForm.router_path = "";
      this.ruleForm.router_views = "";
      this.ruleForm.sort = 0;
      this.ruleForm.parent_id = "";
      this.ruleForm.status = "";
      this.ruleForm.visible = 0;
      this.ruleForm.type = 0;
    },
    // 点击新增按钮显示新增弹框
    insert() {
      this.dialogFormVisible = true;
      this.dialog_name =  this.$t('public.add_menu');
      this.resetDialogForm();
    },
    // 表格内点击新增按钮显示新增弹框
    lineInsert(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('public.add_menu');
      this.resetDialogForm();
      this.ruleForm.parent_id = index.parent_id;
    },
    // 列表点击修改按钮
    updata(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t('public.update_menu');
      this.ruleForm = { ...index };
      this.show_menu_name = this.findMenuNameById(
        index.id,
        this.menulistOrigin
      );
    },
    // 根据id找出列表中对应的menuName
    findMenuNameById(id, data) {
      const item = data.find((item) => item.id === id);
      if (item) {
        return item.menu_name.toString();
      }
      for (const item of data) {
        if (item.children && item.children.length > 0) {
          const menuName = this.findMenuNameById(id, item.children);
          if (menuName) {
            return menuName.toString();
          }
        }
      }
      return null;
    },
    // 查找所有父节点
    getAllPid(treeData, pid) {
      var temp = [];
      var forFn = function (arr, pid) {
        for (var i = 0; i < arr.length; i++) {
          var item = arr[i];
          if (item.id === pid) {
            temp.unshift(item.id);
            forFn(treeData, item.pid);
            break;
          } else {
            if (item.sysMenusList) {
              forFn(item.sysMenusList, pid);
            }
          }
        }
      };
      forFn(treeData, pid);
      return temp;
    },
    editDialogClosed() {
      this.$refs["ruleForm"].resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },
  },
};
</script>

<style lang="scss" scoped>
.u-right-content {
  height: 100%;
  padding: 15px;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    ::deep.el-input__inner {
      height: 34px;
    }
    ::deep.el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .form-status {
   ::v-deep.el-form-item__content {
    padding-top: 9px;
   }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .el-table {
      flex: 1;
      display: flex;
      flex-direction: column;
      ::deep.el-table__body-wrapper {
        overflow-y: auto;
        flex: 1;
      }
    }
  }
}
/* .menu_body_right {
  height: 100%;
  width: 100%;
}
.menu_body {
  display: flex;
  width: 100%;
  height: 100%;
} */
</style>
