<template>
  <div class="export">
    <div class="tips">{{ $t('export.exportTips')}}</div>
    <div class="table">
      <el-table
        border
        :data="fileList"
        ref="multipleTable"
        style="width: 100%"
        class="talble-user"
        height="600"
        :header-cell-style="{ 'background-color': '#F5F5F6' }"
      >
        <el-table-column
          prop="sort"
          :label="$t('public.order_number')"
          width="60"
          align="center"
          fixed
        ></el-table-column>
        <el-table-column
          prop="stationName"
          :label="$t('export.fileName')"
          min-width="200"
          fixed
        ></el-table-column>
        <el-table-column
          prop="stationName"
          :label="$t('export.operationTime')"
          min-width="200"
        ></el-table-column>
        <el-table-column
          prop="stationName"
          :label="$t('export.inputer')"
          min-width="200"
        ></el-table-column>
        <el-table-column
          prop="model"
          :label="$t('public.status')"
          min-width="100"
        ></el-table-column>
        <el-table-column
          prop="version"
          :label="$t('public.mark')"
          min-width="100"
        ></el-table-column>
        <el-table-column prop="operate" :label="$t('public.operation')" width="300" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="primary"
              @click="download(scope.row)"
              size="mini"
              >{{ $t('public.download') }}</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="table-pagination">
        <el-pagination
          background
          :data="pagelist"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          layout="total,sizes, prev, pager, next, jumper"
          :total="totalNum"
          style="text-align: right"
        >
        </el-pagination>
      </div>
  </div>
</div>
</template>

<script>
export default {
  name: "export",
  data() {
    return {
      fileList: [{id: 1,name: "fileList"}],
      currentPage: 1,
      pageSize: 10,
      pagelist: [],
      totalNum: 0,
    };
  },
  methods: {
    download() {},
    handleSizeChange(size) {
      this.pageSize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    pageselect() {
      // 使用全局的变量是因为 每次输入的时候都会调用函数, 需要给定一个统一的变量管理
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        // let obj = {
        //   id: this.loginUserId,
        //   p: this.currentPage - 1,
        //   size: this.pageSize,
        // };
        // getPileManagement(obj).then((res) => {
        //   if (res.code === 0) {
        //     this.totalNum = res.data.total;
        //     // 添加序号sort
        //     this.pileList = res.data.list;
        //     this.pileList.forEach((item, index) => {
        //       item.sort = index + 1;
        //     });
        //   }
        // });
      }, 600);
    },
  },
};
</script>

<style lang="scss" scoped>
.export {
  padding: 25px;
  .tips {
    width: 100%;
    height: 50px;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 50px;
    background-color: #f3daac;

  }
  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }
  .table-pagination {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px; /* 添加一些内边距以分隔页码和内容 */
    background-color: #f9f9f9; /* 可选：为更好的可见性添加背景颜色 */
    text-align: right; /* 将页码对齐到右侧 */
  }
}
</style>
