<template>
    <div class="home">
        <div class="count-total">
            <div class="card-panel-description">
                <div class="count-title">充电桩</div>
                <div class="count">
                    <el-row :gutter="25" class="panel-group">
                        <el-col :xs="12" :sm="12" :lg="12" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">直流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="12" :lg="12" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">交流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
            <div class="card-two">
                <div class="count-title">充电桩</div>
                <div class="count">
                    <el-row :gutter="25" class="panel-group">
                        <el-col :xs="12" :sm="6" :lg="5" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">直流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="6" :lg="5" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">交流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="6" :lg="5" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">交流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="6" :lg="5" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">交流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                        <el-col :xs="12" :sm="6" :lg="4" class="card-panel-col">
                            <div class="card-panel">
                                <div class="card-panel-text">交流桩</div>
                                <count-to :start-val="0" :end-val="1488" :duration="2600" class="card-panel-num" />
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
        <div class="line-chart">
            <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
                <line-chart :chart-data="lineChartData" />
            </el-row>
        </div>
    </div>
</template>

<script>
import CountTo from "vue-count-to";
import LineChart from "./components/LineChart";

const lineChartData = {
    newVisitis: {
        expectedData: [
            12, 56, 13, 65, 16, 70, 12, 86, 53, 60, 12, 56, 13, 65, 16, 70, 12,
            86, 53, 60, 12, 56, 13, 65, 16, 70, 12, 86, 53, 60,
        ],
        actualData: [
            12, 82, 91, 54, 62, 14, 12, 82, 91, 54, 12, 82, 91, 54, 62, 14, 12,
            82, 91, 54, 12, 82, 91, 54, 62, 14, 12, 82, 91, 54,
        ],
        actualData2: [
            82, 91, 54, 62, 14, 12, 82, 91, 54, 12, 82, 91, 54, 62, 14, 12, 82,
            91, 54, 12, 82, 91, 54, 62, 14, 12, 82, 91, 54, 12,
        ],
    },
};

export default {
    name: "home",
    components: {
        CountTo,
        LineChart,
    },
    data() {
        return {
            lineChartData: lineChartData.newVisitis,
        };
    },
    methods: {
        handleSetLineChartData(type) {
            this.lineChartData = lineChartData[type];
        },
    },
};
</script>

<style lang="scss" scoped>
.home {
    padding: 20px;
    background-color: rgb(240, 242, 245);
    .count-total {
        width: 100%;
        display: flex;
        background-color: rgb(240, 242, 245);
        margin-bottom: 19px;
        .count-title {
            margin: 18px auto 38px 11px;
            font-size: 18px;
            font-weight: 400;
            padding: 20px;
        }
        .card-panel-description {
            min-width: 30%;
            background-color: white;
            margin-right: 20px;
            border-radius: 10px;
        }
        .count {
            text-align: center;
            padding-bottom: 58px;
            .card-panel-text {
                margin-bottom: 33px;
            }
            .card-panel-num {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .card-two {
            width: 70%;
            background-color: white;
            border-radius: 10px;
        }
    }
    .line-chart {
        background-color: white;
        padding-top: 20px;
        border-radius: 10px;
    }
}
</style>
