<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
  .table .el-button--mini {
      color: #F9761B;
      background-color: transparent;
      border-color: transparent;
  }
  .el-button--warning {
    color: #F9761B;
    background-color: transparent;
    border-color: #F9761B
  }
  .el-table th > .cell {
  padding-left: 15px;
  }
  /* 设置elementUi表单的label框行高，文字换行不被打断 */
  .el-form-item--medium .el-form-item__label {
    padding-top: 9px;
    line-height: 18px;
    word-break: break-word;
  }
  /* 设置elementUi表单的输入框文字高度，文字换行不被打断 */
  .el-form-item--medium .el-form-item__content {
    line-height: 23px;
    word-break: break-word;
  }
</style>

