<template>
  <div class="login-container">
    <el-row :gutter="10">
      <el-col :xs="24" :sm="0" :md="0" :lg="0" :xl="0">
        <p class="login_title">{{ $t('login.login_title') }}</p>
      </el-col>
      <el-col :xs="0" :sm="10" :md="10" :lg="12" :xl="12">
        <p class="login_title">{{ $t('login.login_title') }}</p>
        <p class="login_ad">{{ $t('login.login_ad') }}</p>
        <p class="login_slogan">{{ $t('login.login_slogan') }}</p>
      </el-col>
      <el-col :xs="24" :sm="14" :md="14" :lg="12" :xl="12"
        ><div class="el-row">
          <el-form
            ref="loginForm"
            :model="loginForm"
            :rules="loginRules"
            class="login-form"
            autocomplete="on"
            label-position="left"
          >
            <h3 class="title">
              {{ $t("login.title") }}
            </h3>

            <el-form-item prop="username">
              <img class="email-img" src="../../assets/login_email.png" />
              <img
                v-show="showUserNameError"
                class="erro-email"
                src="../../assets/login_tips.png"
              />
              <el-input
                ref="username"
                v-model="loginForm.username"
                :placeholder="$t('login.username')"
                name="username"
                type="text"
                tabindex="1"
                autocomplete="on"
                @blur="validateField('userName')"
                @keyup.native="checkCapslock"
                @input.native="updateUsernameEmpty"
              />
            </el-form-item>

            <el-tooltip
              v-model="capsTooltip"
              content="Caps lock is On"
              placement="right"
              manual
            >
              <el-form-item prop="password">
                <img
                  class="password-img"
                  src="../../assets/login_password.png"
                />
                <img
                  v-show="showPasswordError"
                  class="tips-img"
                  src="../../assets/login_tips.png"
                />
                <el-input
                  :key="passwordType"
                  ref="password"
                  v-model="loginForm.password"
                  :type="passwordType"
                  :placeholder="$t('login.password')"
                  name="password"
                  tabindex="2"
                  autocomplete="on"
                  @keyup.native="checkCapslock"
                  @blur="validateField('pwd')"
                  @keyup.enter.native="handleLogin"
                  @input.native="updatePasswordEmpty"
                />
              </el-form-item>
            </el-tooltip>
            <el-button
              :loading="loading"
              type="primary"
              class="el-bt"
              @click.native.prevent="handleLogin"
            >
              {{ $t("login.logIn") }}
            </el-button>
            <!-- 必填项没有进行填写，按钮置灰不操作 -->
            <!-- <el-button
              :loading="loading"
              type="primary"
              :class="(isUsernameEmpty || isPasswordEmpty)?'el-bt-dis':'el-bt'"
              :disabled="isUsernameEmpty || isPasswordEmpty"
              @click.native.prevent="handleLogin"
            >
              {{ $t("login.logIn") }}
            </el-button> -->
          </el-form>
        </div></el-col
      >
    </el-row>
    <div v-if="showTips" class="footer-tips">
      <el-row :gutter="40">
        <el-col :span="20"
          ><div class="tips-content">{{ $t("login.cookie_tips") }}</div>
        </el-col>
        <el-col :span="4"
          ><el-button type="primary" round class="tips-btn" @click="handleContinue">{{ $t("login.continue") }}</el-button>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import LangSelect from "@/components/LangSelect";

export default {
  name: "Login",
  components: { LangSelect },
  data() {
    const validateUsername = (rule, value, callback) => {
      if ((value && value.length < 5) || value === "") {
        this.showUserNameError = true;
        callback(new Error(this.$t("login.username_check")));
      } else {
        this.showUserNameError = false;
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 5) {
        this.showPasswordError = true;
        callback(new Error(this.$t("login.password_check")));
      } else {
        this.showPasswordError = false;
        callback();
      }
    };
    return {
      isUsernameEmpty: true,
      isPasswordEmpty: true,
      loginForm: {
        username: "zlapp@long-horn.com",
        password: "123456",
      },
      showUserNameError: false,
      showPasswordError: false,
      loginRules: {
        username: [
          { required: true, trigger: "blur", validator: validateUsername },
        ],
        password: [
          { required: true, trigger: "blur", validator: validatePassword },
        ],
      },
      passwordType: "password",
      capsTooltip: false,
      loading: false,
      redirect: undefined,
      otherQuery: {},
    };
  },
  computed: {
    showTips() {
      const status = JSON.parse(localStorage.getItem("isShowCookieTips"))
      if (status === 1) {
        return false;
      }
      return true;
    }
  },
  watch: {
    $route: {
      handler: function (route) {
        const query = route.query;
        if (query) {
          this.redirect = query.redirect;
          this.otherQuery = this.getOtherQuery(query);
        }
      },
      immediate: true,
    },
  },
  mounted() {
    if (this.loginForm.username === "") {
      this.$refs.username.focus();
    } else if (this.loginForm.password === "") {
      this.$refs.password.focus();
    }
  },
  methods: {
    updateUsernameEmpty() {
      this.isUsernameEmpty = this.loginForm.username.trim() === "";
    },
    updatePasswordEmpty() {
      this.isPasswordEmpty = this.loginForm.password.trim() === "";
    },
    checkCapslock(e) {
      const { key } = e;
      this.capsTooltip = key && key.length === 1 && key >= "A" && key <= "Z";
    },
    handleLogin() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          let obj = {
            pwd: this.loginForm.password,
            email: this.loginForm.username,
          };
          this.loading = true;
          this.$store
            .dispatch("user/login", obj)
            .then(() => {
              this.$router.push({
                path: this.redirect || "/",
                query: this.otherQuery,
              });
              this.loading = false;
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== "redirect") {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
    validateField(field) {
      this.$refs.loginForm.validateField(field, (error) => {
        if (field === "username") {
          this.showUserNameError = error; // 更新 showUserNameError 的值
        } else if (field === "pwd") {
          this.showPasswordError = error;
        }
      });
    },
    handleContinue() {
      localStorage.setItem("isShowCookieTips", 1)
    }
  },
};
</script>
<style lang="scss">
/* 修复input 背景不协调 和光标变色 */

$bg: #283443;
$light_gray: #fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 375px;

    input {
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 30px 12px 5px;
      color: #000;
      height: 47px;
      caret-color: #000;
      border: none;
      /* 移除默认边框样式 */
      border-bottom: 1px solid #ccc;
      /* 底部横线样式 */
      background-color: transparent;
      /* 设置背景为透明，以覆盖默认背景色 */
      box-shadow: none;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-text-fill-color: #000 !important;
      }
    }
  }

  .el-form-item {
    text-align: center;
    margin-bottom: 75px;
  }
}
</style>

<style lang="scss" scoped>
$bg: #000;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  background-image: url("../../assets/login_bg.png");
  background-size: cover;
  overflow: hidden;

  .login_title {
    margin: 3% auto 0 8%;
    color: #fff;
    font-size: 25px;
  }
  .login_ad {
    font-size: 40px;
    color: #fff;
    margin: 40% auto 5% 26%;
  }
  .login_slogan {
    font-size: 25px;
    color: #fff;
    margin: 0 auto 5% 30%;
  }
  .el-row {
    height: 100vh;
  }
  .login-form {
    position: relative;
    margin: 30% auto 13% auto;
    padding: 45px 42px 0;
    width: 375px;
    height: 389px;
    background: #ffffff;
    box-shadow: 0px 7px 27px 0px rgba(133, 169, 231, 0.51);
    border-radius: 15px;

    .title {
      font-size: 22px;
      color: #ff6800;
      margin: 0 auto 30px auto;
      text-align: center;
      font-weight: bold;
    }
    ::v-deep .el-input {
      width: 292px;
    }
    ::v-deep .el-input input {
      font-size: 16px;
    }
    ::v-deep .el-form-item {
      margin-bottom: 55px;
    }
    .email-img {
      position: absolute;
      top: 22px;
      left: 266px;
      width: 18px;
    }
    .password-img {
      position: absolute;
      top: 18px;
      left: 266px;
      width: 18px;
    }
    .tips-img {
      position: absolute;
      width: 15px;
      top: 52px;
      left: 6px;
    }
    .erro-email {
      position: absolute;
      width: 15px;
      top: 52px;
      left: 6px;
    }
    .el-bt {
      width: 292px;
      height: 45px;
      background: #ff6800;
      border-radius: 7px;
      font-size: 16px;
    }
    .el-bt-dis {
      width: 292px;
      height: 45px;
      background: grey;
      border-radius: 7px;
      font-size: 16px;
    }
    ::v-deep .el-form-item__error {
      left: 26px;
      top: 50px;
      font-size: 12px;
      text-align: left;
    }
  }
  .footer-tips {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #fef1e8;
    padding: 20px;
    .tips-btn {
      padding: 10px;
      height: 38px;
      font-size: 16px;
      min-width: 80px;
      background-color: #ff6800;
    }
  }

  @media (max-width: 768px) {
    .login_title {
      font-size: 20px;
    }
    .footer-tips {
      height: 120px;
    }
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    .login_title {
      font-size: 20px;
    }
    .login_ad {
      margin: 60% auto 10% 16%;
      font-size: 28px;
    }
    .login_slogan {
      margin: 0 auto 5% 30%;
      font-size: 20px;
    }
    .footer-tips {
      height: 90px;
    }
  }
}
</style>
