<template>
  <div class="usage_main u-right-content">
    <div>
      <el-form :inline="true" ref="form" :model="form" class="form-main">
        <el-form-item
          :label="$t('system.role_name')"
          class="form-item"
        >
          <el-input
            v-model="form.name"
            :placeholder="$t('system.role_name_tip')"
            @input="pageselect"
          ></el-input>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            icon="el-icon-search"
            size="small"
            @click="search"
            @keyup.enter="search"
            >{{ $t("public.query") }}</el-button
          >
          <el-button
            icon="el-icon-refresh"
            size="small"
            @click="resetQuery"
            type="warning"
            >{{ $t("public.reset") }}</el-button
          >
        </el-form-item>
      </el-form>
    </div>

    <div class="table-list">
      <div class="table-btn">
        <el-button type="warning" icon="el-icon-plus" @click="insert">{{
          $t("public.add")
        }}</el-button>
      </div>
      <div class="table">
        <el-table
          border
          :data="roleTableList"
          ref="multipleTable"
          style="width: 100%"
          height="600"
        >
          <el-table-column
            prop="role_name"
            :label="$t('system.role_name')"
            min-width="100"
            fixed
          ></el-table-column>
          <el-table-column
            prop="role_name"
            :label="$t('system.role_description')"
            min-width="100"
            :show-overflow-tooltip="true"
          ></el-table-column>
          <el-table-column
            prop="remark"
            :label="$t('system.role_remark')"
            min-width="100"
            :show-overflow-tooltip="true"
          ></el-table-column>
          <el-table-column
            prop="create_time"
            :label="$t('public.create_time')"
            min-width="100"
          ></el-table-column>
          <el-table-column
            prop="user_name"
            :label="$t('public.creator')"
            min-width="100"
          ></el-table-column>
          <el-table-column
            prop="operate"
            :label="$t('public.operation')"
            min-width="150"
            fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                @click="updata(scope.$index, scope.row)"
                size="mini"
                >{{ $t("public.update") }}</el-button
              >
              <el-button
                type="text"
                @click="deldata(scope.$index, scope.row)"
                size="mini"
                >{{ $t("public.delete") }}</el-button
              >
              <el-button
                type="text"
                size="mini"
                @click="roleEditor(scope.$index, scope.row)"
                >{{ $t("system.role_editor_permission") }}</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            :page-count="100"
            :data="pagelist1"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 15, 20]"
            :page-size="pagesize"
            layout="total,sizes, prev, pager, next, jumper"
            :total="totalNum"
          >
          </el-pagination>
        </div>
      </div>
    </div>

    <el-dialog
      :title="dialog_name"
      :width="dialogWidth"
      v-model="dialog_name"
      :visible.sync="dialogFormVisible"
      @close="editDialogClosed"
    >
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        :label-width="formLabelWidth"
      >
        <el-form-item :label="$t('system.role_name')" prop="role_name">
          <el-input v-model="ruleForm.role_name"></el-input>
        </el-form-item>
        <el-form-item :label="$t('system.role_description')" prop="description">
          <el-input v-model="ruleForm.description"></el-input>
        </el-form-item>
        <el-form-item :label="$t('system.role_remark')" prop="remark">
          <el-input type="textarea" v-model="ruleForm.remark"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancel">{{ $t("public.cancel") }}</el-button>
        <el-button
          type="primary"
          @click="add('ruleForm')"
          v-if="this.dialog_name == $t('system.role_add')"
          >{{ $t("public.sure") }}</el-button
        >
        <el-button
          type="primary"
          @click="update('ruleForm')"
          v-if="this.dialog_name == $t('system.role_update')"
          >{{ $t("public.sure") }}</el-button
        >
      </div>
    </el-dialog>
    <el-dialog
      :title="$t('system.role_editor_permission')"
      :visible.sync="dialogRoleSetting"
      @close="handleDialogClose"
      :width="dialogWidth"
    >
      <el-tree
        ref="tree"
        :data="allMenu"
        show-checkbox
        node-key="id"
        default-expand-all
        :props="treeProps"
        :default-checked-keys="defkeys"
        @check="handleCheck"
      >
      </el-tree>
      <div slot="footer">
        <el-button @click="cancel">{{ $t("public.cancel") }}</el-button>
        <el-button type="primary" @click="sumbit">{{
          $t("public.save")
        }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getRoles,
  addRole,
  deleteRole,
  updateRole,
  setSysRoleMenu,
  getUserIdRoles,
  getIdRoles,
  menulist,
} from "@/utils/api.js";
export default {
  data() {
    return {
      dialogWidth: "30%", // 弹窗宽度，可以是像素值或百分比
      user_id: JSON.parse(sessionStorage.getItem("userInfo")).id,
      defkeys: [], //tree中默认选中key
      parentid: [],
      userMenu: [],
      allMenu: [],
      treeProps: {
        label: "menu_name",
        children: "children",
      },
      role_id: "",
      menu_id: [], //现有的菜单
      allMenu_id: [], //现有的菜单
      defaultProps: {
        children: "sysMenusList",
        label: "name",
      },
      ruleForm: {
        role_name: "",
        user_id: "",
        remark: "",
        creater: "",
        id: "",
        status: "",
        create_time: "",
      },
      rules: {
        role_name: [
          {
            required: true,
            message: this.$t("system.role_name_tip"),
            trigger: "change",
          },
        ],
        id: [
          {
            required: true,
            message: this.$t("system.role_code_check"),
            trigger: "change",
          },
        ],
        description: [
          {
            required: true,
            message: this.$t("system.role_code_description"),
            trigger: "change",
          },
        ],
      },
      form: {
        name: "",
      },
      aa: true,
      pagelist1: [],
      pagelist: [],
      roleTableList: [],
      propertyTag: [],
      propertyTagId: "",
      propertyTypeName: "",
      jurisdictionlist2: [],
      jurisdictionlist1: [],
      dialogFormVisible: false,
      dialogRoleSetting: false,
      dialogDataPermitVisible: false,
      formLabelWidth: "100px",
      currentPage: 1,
      pagesize: 10,
      id: "",
      list: [],
      index: "",
      totalNum: 0,
      choosedRole: [],
      dialog_name: "",

      wyListSelected: [], // 已选物业
      wyListSelectedShow: [], // 已选物业表格已显示的数据
      currentPage1: 0, // 已选物业-加载更多时的分页参数
      pageSize1: 50, // 已选物业-加载更多时的分页参数
      wyListAll: [], // 全部物业
      wyListAllShow: [], // 全部物业表格已显示的数据
      currentPage2: 0, // 全部物业-加载更多时的分页参数
      pageSize2: 50, // 全部物业-加载更多时的分页参数
      checkAll: false, // 选择全部物业
      wyListAllSearch: {}, // 全部物业列表-搜索条件
      selectID: [],
      wyAddress: "",
      wyName: "",
      roleId: "",
      searchData: {
        id: JSON.parse(sessionStorage.getItem("userInfo")).id,
        p: 0,
        index: "",
        size: 10,
      },
    };
  },
  mounted() {
    this.searchRoloList(this.searchData);
  },
  watch: {
    wyListSelected(newVal, oldVal) {
      this.checkAll = newVal.length === this.wyListAll.length;
    },
  },
  methods: {
    handleDialogClose() {
      this.defkeys = [];
    },
    searchRoloList(data) {
      getRoles(data).then((res) => {
        if (res.code === 0) {
          this.totalNum = res.data.total;
          this.roleTableList = res.data.list;
          this.totalNum = res.data.total;
          this.roleTableList.forEach(function (item) {
            // item.create_time = new Date(item.create_time).toISOString();
            // 输出时间类似 "2023-07-11 10:30:00" 的字符串
            const dateObj = new Date(item.create_time);
            const year = dateObj.getFullYear();
            const month = dateObj.getMonth() + 1; // 月份从0开始，需要加1
            const day = dateObj.getDate();
            const hours = dateObj.getHours();
            const minutes = dateObj.getMinutes();
            const seconds = dateObj.getSeconds();
            const formattedDateTime =
              year +
              "-" +
              String(month).padStart(2, "0") +
              "-" +
              String(day).padStart(2, "0") +
              " " +
              String(hours).padStart(2, "0") +
              ":" +
              String(minutes).padStart(2, "0") +
              ":" +
              String(seconds).padStart(2, "0");
            item.create_time = formattedDateTime;
          });
        }
      });
    },
    // 输出时间类似 "2023-07-11 10:30:00" 的字符串,传入时间戳如1689081700000
    tanslateTime(time) {
      const dateObj = new Date(time);
      const year = dateObj.getFullYear();
      const month = dateObj.getMonth() + 1; // 月份从0开始，需要加1
      const day = dateObj.getDate();
      const hours = dateObj.getHours();
      const minutes = dateObj.getMinutes();
      const seconds = dateObj.getSeconds();
      const formattedDateTime =
        year +
        "-" +
        String(month).padStart(2, "0") +
        "-" +
        String(day).padStart(2, "0") +
        " " +
        String(hours).padStart(2, "0") +
        ":" +
        String(minutes).padStart(2, "0") +
        ":" +
        String(seconds).padStart(2, "0");
      return formattedDateTime;
    },
    // 全部物业列表-加载更多
    showMoreWyList() {
      if (this.currentPage2 < this.wyListAll.length / this.pageSize2 + 1) {
        this.currentPage2++;
        this.wyListAllShow = this.wyListAll.slice(
          0,
          this.pageSize2 * this.currentPage2
        );
      }
    },
    // 已选物业列表-加载更多
    showMoreWyListSelected() {
      if (this.currentPage1 < this.wyListSelected.length / this.pageSize1 + 1) {
        this.currentPage1++;
        this.wyListSelectedShow = this.wyListSelected.slice(
          0,
          this.pageSize1 * this.currentPage1
        );
      }
    },
    // 已选物业列表-刷新
    refreshWyListSelected() {
      this.wyListSelectedShow = this.wyListSelected.slice(
        0,
        this.pageSize1 * this.currentPage1
      );
    },
    // 事件初始化
    initEvent() {
      // 全部物业列表滚动到底部时加载更多
      let tbAll = this.$refs.tableWyListAll.bodyWrapper;
      tbAll.addEventListener("scroll", (e) => {
        let diff = tbAll.scrollHeight - tbAll.scrollTop - tbAll.clientHeight;
        if (diff <= 0) {
          this.showMoreWyList();
        }
      });
      // 已选物业列表滚动到底部时加载更多
      let tbSelected = this.$refs.tableWyListSelected.bodyWrapper;
      tbSelected.addEventListener("scroll", (e) => {
        let diff =
          tbSelected.scrollHeight -
          tbSelected.scrollTop -
          tbSelected.clientHeight;
        if (diff <= 0) {
          this.showMoreWyListSelected();
        }
      });
    },
    // 点击数据权限
    dataPermit(row, index) {
      this.selectID = [];
      this.wyListSelected = [];
      this.wyListSelectedShow = [];
      this.currentPage1 = 0;
      this.wyListAll = [];
      this.wyListAllShow = [];
      this.currentPage2 = 0;
      this.dialogDataPermitVisible = true;

      this.roleId = index.id;
      var data = {
        assetType: this.propertyTypeName,
        address: this.wyAddress,
        name: this.wyName,
        propertyTagId: this.propertyTagId,
        roleId: index.id,
      };
      dataPermissionsList(data).then((res) => {
        this.wyListAll = res.data.data.allWyInfoList;
        this.showMoreWyList();
        this.wyListSelected = res.data.data.chooseList;
        this.showMoreWyListSelected();
        this.wyListSelected.forEach((item) => {
          this.selectID.push(item.id);
        });
        this.initEvent();
      });
    },
    selectTag(propertyType) {
      selectTag(propertyType).then((res) => {
        this.propertyTag = res.data.data;
      });
    },
    selectPropertyType(propertyType) {
      selectTag(propertyType).then((res) => {
        this.propertyType = res.data.data;
      });
    },
    pageselect() {
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      // wait = 800 为设定的时间, 可以根据需求指定
      this.timeout = setTimeout(() => {
        let obj = {
          id: this.user_id,
          p: this.currentPage - 1,
          size: this.pagesize,
          index: this.form.name,
        };
        this.searchRoloList(obj);
      }, 800);
    },
    handleCheck(data, checked) {
      this.menu_id = checked.checkedKeys;
      this.parentid = checked.halfCheckedKeys;
    },
    sumbit() {
      // let c = this.$refs.tree
      //   .getHalfCheckedKeys()
      //   .concat(this.$refs.tree.getCheckedKeys());

      let obj = {
        role_id: this.role_id,
        menu_id: this.menu_id.concat(this.parentid),
      };
      setSysRoleMenu(obj).then((res) => {
        this.dialogRoleSetting = false;
        if (res.code === 0) {
          this.$alert(
            this.$t("public.update_success"),
            this.$t("public.update_tips"),
            {
              confirmButtonText: this.$t("public.sure"),
              callback: (action) => {
                window.location.reload();
              },
            }
          );
        }
      });
    },
    // 点击功能权限
    roleEditor(row, index) {
      // 清空原来选中的选中值
      this.clearDefaultKeys();
      this.dialogRoleSetting = true;
      this.role_id = index.id;
      this.saveAllMenuIds();
      this.saveMenuIds();
      // console.log("getIdRoles回显选中defkeys:", this.defkeys);
    },
    clearDefaultKeys() {
      //修改数组
      this.defkeys = [];
      /* 注意这里可能会遇到一个问题
      在调用这个方法之前修改了数据，Dom是可能还没有更新完的，
      所以调用之后tree会显示未选中 */
      //调用tree的清空方法
      //Dom还没更新
      //将回调延迟到下次 DOM 更新循环之后执行
      this.$nextTick(function () {
        //Dom更新完毕
        this.$refs.tree.setCheckedKeys([]);
      });
    },

    getLeafkeys(node, arr) {
      return new Promise((resolve) => {
        if (node.children.length === 0) {
          arr.push(node.id);
          resolve();
        } else {
          const promises = node.children.map((item) =>
            this.getLeafkeys(item, arr)
          );
          Promise.all(promises).then(resolve);
        }
      });
    },
    saveMenuIds() {
      getIdRoles(this.role_id).then((res) => {
        if (res.code === 0) {
          this.userMenu = res.data;
          // console.log("saveMenuIds  id获取menu:", this.userMenu)
          for (let i = 0; i < this.userMenu.length; i++) {
            this.getLeafkeys(this.userMenu[i], this.defkeys);
          }
        }
      });
    },

    saveAllMenuIds() {
      // 获取角色所有的菜单权限
      getUserIdRoles(this.user_id).then((res) => {
        if (res.code === 0) {
          // 替换 menu_name的值,让其找到对应的多语言翻译
          this.allMenu = this.updateMenuNames.call(this, res.data)
          this.allMenu_id = this.getIds(this.allMenu);
        }
      });
    },

    // 调试获取所有菜单
    // saveAllMenuIds() {
    //   menulist().then((res) => {
    //     if (res.code === 0) {
    //       this.allMenu = this.updateMenuNames.call(this, res.data)
    //       this.allMenu_id = this.getIds(this.allMenu);
    //     }
    //   });
    // },

    // 遍历原始数据，替换 menu_name 为对应的语言翻译值
    updateMenuNames(data) {
      return data.map((item) => {
        // Clone the item to avoid modifying the original object
        const newItem = { ...item };
        // Update the menu_name field with the translation
        newItem.menu_name = this.$t("route." + item.menu_name);
        // Recursively update children if present
        if (newItem.children && newItem.children.length > 0) {
          newItem.children = this.updateMenuNames.call(this, newItem.children);
        }
        return newItem;
      });
    },
    getIds(data) {
      const ids = [];
      function extractIds(data) {
        for (const item of data) {
          ids.push(item.id);
          if (item.children && item.children.length > 0) {
            extractIds(item.children);
          }
        }
      }
      extractIds(data);
      return ids;
    },
    // 保存数据权限
    saveDataPermit() {
      let wyBasicInfoIds = [];
      this.wyListSelected.forEach((item) => {
        wyBasicInfoIds.push(item.id);
      });

      var data = {
        roleId: this.roleId,
        wyBasicInfoList: this.checkAll ? [] : wyBasicInfoIds,
        isAll: this.checkAll,
      };
    },
    handleSizeChange(size) {
      this.pagesize = size;
      this.pageselect();
    },
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.pageselect();
    },
    editDialogClosed() {
      // resetFields就是一个坑，有两个作用
      // 1.重置的值不是空的，而是第一次被赋予的值。
      // 第一次dialogForm赋空值，后续才能重置为空值。
      // 这就是我们在新增修改打开弹出框操作的时候，调用resetDialogFrom清空数据的原因。
      // 2.清空校验结果
      this.$refs.ruleForm.resetFields();
      this.dialogFormVisible = false;
      this.resetDialogForm();
    },

    cancel() {
      this.dialogFormVisible = false;
      this.dialogRoleSetting = false;
      this.dialogDataPermitVisible = false;
    },
    update(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            role_name: this.ruleForm.role_name,
            remark: this.ruleForm.remark,
            description: this.ruleForm.description,
            id: this.ruleForm.id,
          };
          updateRole(obj).then((res) => {
            if (res.code === 0) {
              this.$alert(
                this.$t("public.update_success"),
                this.$t("public.update_tips"),
                {
                  confirmButtonText: this.$t("public.sure"),
                  callback: (action) => {
                    // window.location.reload();
                    this.searchRoloList(this.searchData);
                  },
                }
              );
            } else {
              this.$message({
                message: this.$t("public.update_fail"),
                type: "error",
              });
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    add(ruleForm) {
      this.$refs[ruleForm].validate((valid) => {
        if (valid) {
          let obj = {
            role_name: this.ruleForm.role_name,
            remark: this.ruleForm.remark,
            user_id: this.user_id,
            description: this.ruleForm.description,
          };
          addRole(obj).then((res) => {
            if (res.code === 0) {
              this.$alert(this.$t("public.add_success"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
                callback: (action) => {
                  this.searchRoloList(this.searchData);
                },
              });
            } else {
              this.$alert(this.$t("public.add_fail"), this.$t("public.update_tips"), {
                confirmButtonText: this.$t("public.sure"),
              });
            }
          });
          this.dialogFormVisible = false;
        } else {
          return false;
        }
      });
    },
    insert() {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t("system.role_add");
      this.resetDialogForm();
    },
    updata(row, index) {
      this.dialogFormVisible = true;
      this.dialog_name = this.$t("system.role_update");
      this.resetDialogForm();
      this.ruleForm = { ...index };
    },

    async deldata(index, row) {
      try {
        await this.showConfirmation();
        await this.deleteRole(row.id);
        this.searchRoloList(this.searchData);
      } catch (error) {
        console.error(error);
        // 处理错误情况
      }
    },

    showConfirmation() {
      return new Promise((resolve, reject) => {
        this.$confirm(this.$t('system.role_del_sure'), this.$t('system.role_del'), {
          confirmButtonText: this.$t('public.delete'),
          cancelButtonText: this.$t('public.cancel'),
          type: "warning",
        })
          .then(() => {
            resolve();
          })
          .catch(() => {
            this.$message.error(this.$t('public.delete_fail'));
            reject(new Error(this.$t('public.delete_fail')));
          });
      });
    },

    async deleteRole(id) {
      const res = await deleteRole(id);
      if (res.code !== 0) {
        this.$message({
          message: this.$t('public.delete_fail'),
          type: "success",
        });
      } else {
        this.$message({
          message: this.$t('public.delete_success'),
          type: "success",
        });
      }
    },

    resetDialogForm() {
      this.ruleForm.role_name = "";
      this.ruleForm.user_id = "";
      this.ruleForm.remark = "";
      this.ruleForm.creater = "";
      this.ruleForm.id = "";
      this.ruleForm.description = "";
    },
    search() {
      this.searchData.index = this.form.name;
      this.searchRoloList(this.searchData);
    },
    resetQuery() {
      this.form.name = "";
      this.searchData.index = "";
      this.searchRoloList(this.searchData);
    },
  },
  watch: {
    roleTableList: {
      handler() {
        this.$nextTick(() => {
          this.$refs.multipleTable.doLayout();
        });
      },
      deep: true,
    },
  },
};
</script>
<style scoped lang="scss">
.u-right-content {
  height: 100%;
  padding: 15px;
  .form-main {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    .form-item {
      // width: 230px;
      display: inline-block;
      margin-bottom: 16px;
      display: flex;
      .item-select {
        display: inline-block;
      }
    }
    .form-btn {
      // width: 176px;
      display: flex;
      margin-left: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }

    ::deep.el-input__inner {
      height: 34px;
    }
    ::deep .el-form-item__label {
      display: inline-block;
      // width: 140px;
      text-align: right;
      color: #fff;
    }
  }
  .table-list {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 16px;
    box-sizing: border-box;
    .table-btn {
      display: flex;
      margin-bottom: 20px;
      .el-button + .el-button {
        margin-left: 10px;
      }
    }
    .table-pagination {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .table {
    padding-bottom: 45px;
    max-width: 100%;
    overflow-x: auto;
  }
}
.info-content {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  .has-select {
    background-color: #f2f2f2;
    border-top: 1px solid #ebeef5;
    // border-bottom: 1px solid #EBEEF5;
    .left {
      display: flex;
      align-items: center;
      .blocks {
        width: 6px;
        height: 18px;
        margin: 5px 6px 5px 20px;
        background-color: #1286ff;
      }
      .tit {
        font-size: 14px;
        .count {
          color: #1286ff;
          margin-left: 5px;
        }
      }
      .item {
        margin-left: 20px;
      }
    }
  }
  .wylistall-search {
    border-top: 1px solid #ebeef5;
    border-right: 1px solid #ebeef5;
    border-left: 1px solid #ebeef5;
    padding: 5px 0;
    box-sizing: border-box;
    .control {
      width: 140px;
    }
    .el-form-item {
      margin-right: 0px;
      margin-bottom: 0;
    }
  }
}
</style>
