:export {
  menuText: #bfcbd9;
  menuActiveText: #F9761B;
  subMenuActiveText: #f4f4f5;
  menuBg: #304156;
  menuHover: #263445;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 270px;
}
